extend ../../layout
block content
    .content
        .guides(style="text-align:center;")
            #amazon_ad
            h2 Cornep's Guides: 6 tips for Crushing 2v2
            i
              | by 
              a(href='https://www.ltdstats.com/profile?player=Cornep') Cornep
            a(href="/guides", style="float:right;") Back
            p
            |                         Hello there!
            br
            br
            |                         Recently there has been a lot of custom games with 2v2, especially mastermind, especially with the Alpha mole weekly tournament. I have seen a lot of possible improvements that could be done, also a lot of lessons i have learned the hard way.
            br
            br
            |                         I will keep the list very short and expand the points below for more details.
            br
            br
            ul
              li
                b
                  | When choosing units ( or legions) imagine your preferred 6 picks, the communicate with your teammate where you are strong or weak.
              li
                b Know your opening builds
              li
                b Know your opponents
              li
                b Communication is key, 2v2 is a lot more volatile than 4v4, so be ready to react!
              li
                b Mind games can turn the tide, be mindful.
              li
                b RAPIER
                |  React, Adapt, Punish, Improve, Evolve, Reflect
            br
            div(style='text-align: center')
              b
                | Choosing your units
                br
              | ​
            | You are in the loading screen, now what? First question you need to ask yourself, is this MM only, or pure races?
            br
            br
            |                         If pure races, you can decide before the game starts what you pick, go for races that work together and cover all the rounds, like if you main element and your partner is good on grove and mech, it would be much better to go for grove + element, so you have grove hard covering 14 and 18, and the element has nature armor waves like 15,19.
            br
            br
            |                         If you are playing 2v2 MM only, like in Alpha mole tournament, things are a bit more complicated. What you need to do, is to 
            br
            ol
              li Select 6 units you would like to use ASAP, don't confirm them yet.
              li
                | Tell your teammate your strong and weak waves. Assuming you pick arcane like you should, you need to say your extreme weak and strong waves from 9 onwards. Don't mention average waves.
              li Wait for your teammate to do the same.
              li
                | When you know what waves you are both weak on, or both are very strong on, tell your partner what you could pick different. For example if you are both weak on wave 15, and you can go slightly better setup for that wave, let your partner know. Wait for them to do the same, then pick. You should have a minimum of 20 second left here so you can worker up and build.
              li ???
              li Win
            br
            |                         Let's do an example start. These are your rolls : Bone warrior, Proton, Bazooka, Ranger, Wileshroom, Tempest, butcher, aps, berserker, Fire lord.
            br
            br
            ol
              li
                | Your initial choice of 6 units are the following: Bone warrior, Bazooka, Wileshroom, butcher, aps and berserker. This very 1 unit heavy setup is nice with a lot of auras and buffs.
              li
                | You share with your teammate that you will be weak on 9/11 OR 10, 18 and pretty meh on 19.
              li Your teammate tells you he will be horrible on 10,15 and 19. Amazing on 18,11
              li
                | You realize you need better setups for 19, 10 and 15 so you change your units. Your new picks will be Bone warrior, Ranger ( to cover 10), Wileshroom, Tempest, Aps and Fire lord. This way you have the magic damage to cover 15 and 19 as well, and dont create other weaknesses. You let your teammate know you have 10, 15 and 19 100% covered and he can go more anti 9,11,17, 18.
              li Start your initial opening plan
              li GG WP
            br
            div(style='text-align: center')
              b
                | Know your opening builds
                br
              | ​
            | This is very much related to the previous point, but you have to know a maximum amount of builds to clear 1-8 with maximum possible workers while holding. Knowing more opening builds than your opponent, means your odds of having the frustration of "shit rolls" becomes one in a thousand. 
            br
            br
            |                         Knowing what holds what sends, is crucial for knowing when to greed and when not to greed. 1 round faster worker is an advantage, getting all your workers 1 round earlier, is a big advantage.
            br
            br
            |                         Some non-obvious openers:
            br
            ul
              li
                | Gargoyle/peewee + honey flower. has potential for 3 workers before wave 2 and holds fiend on 3 with 3 workers. transitions well forward, sometimes even allows 4 workers before 4/5
              li
                | Bone warriors/crusher can go 3 workers before wave 2 and hold, can hold decently big send on 3/4 with 3 workers.
              li
                | Bone warriors + windhawk/bazooka allows 2 worker start into pyro/violet for wave 3, much stronger than pyro/violet with other t1.
              li
                | Standard aqua opener with different T1. Bones are by far the best, can hold bigger sends, peewees allow greeding on wave 3 the best, bones trump others on 1,2,4. Not recommended with buzz.
              li
                | All standard race openers, bone warriors can replace any other T1 pre-wave 5, buzz is much worse before 4 than other T1
              li
                | T2's do well, bazooka transitions to pyro or zooka, pyro opening will fall behind more efficient ones but is safer. Ranger is not recommended before wave 7 for efficiency. avoid gargoyle/green devil for 5/6, with aquas get combo or 5 or your value is inflated with a non-existing combo
              li
                | T3's Tempest/wileshroom/hawks are all solid to open with, Gateguards are NOT tanks so use them accordingly.
              li
                | Only flower is recommended from the high tiers, butcher can work, but no good greeding options due to butcher being bad on wave 3.
            | While knowing all of these and knowing how to place them is a big portion, BUT the largest part comes from being able to improvise these builds, when you leak a little bit and have less gold, or when enemy leaks and you have more gold, or both sides leak and rounds become longer which results in bigger sends.
            br
            br
            div(style='text-align: center')
              b Play the player
              | ​
            br
            |                         This is a very advanced part, but also very important one. When you know your opponents, you can exploit their weaknesses.
            br
            br
            |                         What are these weaknesses? 
            br
            br
            |                         Let's use me as an example, I often push very aggressively, when i expect skips to be done against me. This can result in massive losses if I anticipate the opponents plan differently. Let's say I have pyro on wave 2. I can expect a skip 3 into brute + snails on wave 4. after that I can expect skip 5 into wave 6/7 99% times. This is something what one can expect in high elo. However if i play against someone who is significantly lower, I don't expect the " obvious" skips and I tune my playstyle accordingly.
            br
            br
            |                         There some who very often go for pyro builds, and are likely to leak on wave one due to a bad mastermind roll, thus sending a snail against them is a very good thing to do. If someone goes antler regularly when opening, sending a snail would be just silly.
            br
            |                         RSomeone might main a race outside your 2v2 games, let's say you play against Sweety. You can expect him to use as many element units as possible in his rolls, or if you allow pure races, you know he will pick element and go by his build guaranteed.
            br
            br
            |                         You can check peoples profiles during the game, you can check their stats in ltdstats.com this will give useful info. Did they lose their last game? If yes, they might be tilted and take unnecessary risks. Did they lose last 4 games on wave 18? If they dont look amazing there this game, maybe you should send there.Do they only play 1 race? Expect units from that race to be chosen.
            br
            br
            div(style='text-align: center')
              b Communication is Key
              br
              |                         ​
            | 2v2 as a game mode, is more fast paced, as there are less leaks in general, as there are only 4 active lanes.
            br
            |                         2v2 also has only 2 lanes needing to be countered, so small things can spark a big effect as you don't have to analyze 4 lanes worth of information and units. 
            br
            br
            |                         This means many things:
            br
            ul
              li
                | Saves are usually shorter, because you dont need to save for 5-6 rounds to get enough brute force to break the holders, with 2 lanes, there is bound to be weaker waves
              li
                | Snap decisions can make and break your game, if you see an absolutely horrendous unit on wave 4 for wave 6, team skip can be brutal.
              li
                | You need to communicate things like you are beign saved on, so your teammate can pressure the person saving and thus save you from the save
              li Predicting enemy saves is crucial
              li Communicating even minor things can save you
            br
            div(style='text-align: center')
              b Mindgames
              br
              |                         ​
            | Mindgames are tricky to explain and how to do them. The biggest mind games are the following:
            br
            ul
              li
                | Fake sending. You send only a portion of your mythium, get enemy to push workers and then send hard the following wave
              li Sending on a very unexpected wave for surprise effect
              li Baiting enemy to send on a wave and then building big to counter that wave
            br
            div(style='text-align: center')
              b RAPIER
              | ​
            br
            b R
            | eact to enemy actions, what they send, if they save, what they build, if they pushed workers. When you communicate these with your teammate you can move forward as a team and exploit the enemy weaknesses.
            br
            br
            b A
            | dapt to the situation at hand. Game plan can only get you so far. Maybe leaks happen and you can push greedy workers. Maybe you leak and get less workers. Maybe the rounds are just super long enabling higher networth and bigger sends. 
            br
            br
            b P
            | unish the enemy for their mistakes. Everyone makes mistakes, they can't be avoided. The mistakes can be small or big, but by looking closely to placements, missed incomes, unit choices, sends, you will find something to punish the enemy for and get ahead!
            br
            br
            b I
            | mprove your play! Honing your placements, your worker timings, your sends to be more effective, making less mistakes, communicating more important info to your team. Improve everything and get better!
            br
            br
            b E
            | volve to the next level. By learning to adapt to any situation, punishing enemy for their mistakes and improving your play, you will evolve to a higher level as a player as a whole and crush any opponent!
            br
            br
            b R
            | eflect on your games. What mistakes did you make? What could be done differently? Were you in control of the game? What could be improved? Did the placements work in an optimal way? Did you predict the enemy sends correctly? If you need help with this, check 
            a(href='https://legiontd2.com/community/threads/corneps-corner-of-improving.14532', target='_blank') https://legiontd2.com/community/threads/corneps-corner-of-improving.14532
            br
            br
            |                         I hope you find this guide helpful, and I hope to see you in the next 2v2 tournament this week!
            br
            br
            |                         If you need more help, let me know!
