extend ../../layout
block content
    link(rel='stylesheet', href='/css/guides.css')
    .guide
        h1#guide_title Suicide/NoBuild Counter Guide
        #guide_author 
            i by 
                a(href="/profile?player=Jules") Jules
            a(href="/guides", style="float:right;") Back
        #guide_infobox
            #infobox_author Author: 
                a(href="/profile?player=Jules") Jules
            #infobox_version Version: v5.03
            #infobox_section Section: General Guides
            #infobox_content Content:
                ul
                    li
                        a(href="#whatis") What is suicide
                    li
                        a(href="#procon") Pro/Con
                    li
                        a(href="#beatit") Beat it
        p.
        #guide_content
            | This guide explains how to beat a no-build strategy, most commonly called &quot;suicide&quot; and sometimes &quot;cross.&quot; We&apos;ll focus on 2v2 games because it&apos;s generally stronger and more frustrating in 2v2 than 4v4. Some of the information in this guide also applies to 4v4, as 4v4 is effectively two 2v2 matchups.
            br
            br
            b
            span(style='font-size: 15px')#whatis
                | What is a suicide strategy?
                br
            br
            span(style='font-size: 15px') A suicide strategy is when one player, the 
            span(style='color: rgb(255, 128, 0); --darkreader-inline-color:#eb8a2a;' data-darkreader-inline-color='')
            span(style='font-size: 15px') workerer
            span(style='font-size: 15px') , does not build, and his teammate, the 
            span(style='color: rgb(0, 128, 255); --darkreader-inline-color:#2a95eb;' data-darkreader-inline-color='')
            span(style='font-size: 15px') builder
            span(style='font-size: 15px')
            | , builds to clear both waves.
            br
            br
            | The player receiving mercenaries from the workerer is the 
            span(style='color: rgb(0, 179, 0); --darkreader-inline-color:#55eb55;' data-darkreader-inline-color='') high valuer
            | , and the player receiving mercenaries from the builder is the 
            span(style='color: rgb(255, 0, 0); --darkreader-inline-color:#eb2a2a;' data-darkreader-inline-color='') low valuer
            | .
            br
            br
            img.bbCodeImage.LbImage(src='https://legiontd2.com/community/attachments/nobuildguide-jpg.7759/' alt='NoBuildGuide.jpg' style='')
            br
            br
            span(style='font-size: 15px')#procon
            b Why it&apos;s good
            br
            ul
            li
                | One player can clear 2 waves one-after-another with less total value than two players need to each clear 1 wave, allowing the extra gold to be invested into workers. In other words, the 
                span(style='color: rgb(0, 128, 255); --darkreader-inline-color:#2a95eb;' data-darkreader-inline-color='') builder 
                | only needs 1.5x the value to clear 2x the waves. Being overvalued allows him to decisively clear one of the waves, leaving a large number of surviving fighters to catch the second wave.
            li
                | Allows the 
                span(style='color: rgb(0, 128, 255); --darkreader-inline-color:#2a95eb;' data-darkreader-inline-color='') builder 
                | to access higher tier fighters earlier
            li
                | Allows the 
                span(style='color: rgb(255, 128, 0); --darkreader-inline-color:#eb8a2a;' data-darkreader-inline-color='') workerer
                |  to access higher tier mercenaries earlier
            li Puts the opposing team in unfamiliar territory
            b
            span(style='font-size: 15px') Why it&apos;s bad
            br
            ul
            li
                | The 
                span(style='color: rgb(255, 128, 0); --darkreader-inline-color:#eb8a2a;' data-darkreader-inline-color='') workerer
                |  loses a significant amount of gold by not clearing waves
            li
                | Feeds the opposing team a significant amount of gold (leaking gives the other team gold)
            li
                | Fighters in the catch area aren&apos;t positioned optimally. A suicide strategy relies on the 
                span(style='color: rgb(0, 128, 255); --darkreader-inline-color:#2a95eb;' data-darkreader-inline-color='') builder
                |  catching leaks.
            b
            span(style='font-size: 15px')#beatit
                | How to beat it
                br
            br
            | Let&apos;s assume that before the game you don&apos;t know the opposing team is going to play a suicide strategy. As of writing this guide, you have a 2% chance of playing against it in a given game (0.5% if the opposing team is solo and 5% if they are duo).
            br
            br
            | If a player on the opposing team leaks 90-100% of wave 1, you may be against a suicide strategy. You should identify whether you are the 
            span(style='color: rgb(89, 179, 0); --darkreader-inline-color:#9feb55;' data-darkreader-inline-color='') high valuer 
            | or 
            span(style='color: rgb(255, 0, 0); --darkreader-inline-color:#eb2a2a;' data-darkreader-inline-color='') low valuer
            |  and begin communicating with your teammate.
            br
            br
            | The 
            span(style='color: rgb(255, 128, 0); --darkreader-inline-color:#eb8a2a;' data-darkreader-inline-color='') workerer
            |  will push to 7 workers before wave 1 spawns. The 
            span(style='color: rgb(0, 128, 255); --darkreader-inline-color:#2a95eb;' data-darkreader-inline-color='') builder 
            | may push to 4 workers and will typically start with a slow-clearing/high-sustain unit like Bone Crusher or Butcher. Because the suicide team has more workers than your team on wave 1 and most early waves, their goal is to clear the waves as slowly as possible, to maximize time for workers to generate mythium.
            br
            br
            | There are various schools of thought, but the easiest winning strategy is:
            br
            ul
            li
                span(style='color: rgb(89, 179, 0); --darkreader-inline-color:#9feb55;' data-darkreader-inline-color='') High Valuer
                | : Expect big mercenary sends. Stay high value, low workers. Prioritize king upgrades if you need the income; otherwise, save mythium.
            li
                span(style='color: rgb(255, 0, 0); --darkreader-inline-color:#eb2a2a;' data-darkreader-inline-color='') Low Valuer
                | : Expect light mercenary sends. Stay low value, high workers. Prioritize high-income sends if you need the income; otherwise, save mythium.
            li
                | Both: Use recommended value as a guide. Save and send aggressively together once you&apos;ve identified a weak wave for the 
                span(style='color: rgb(0, 128, 255); --darkreader-inline-color:#2a95eb;' data-darkreader-inline-color='') builder
                | . Don&apos;t let the game go past wave 15; try to win on 10 or before.
            span(style='color: rgb(89, 179, 0); --darkreader-inline-color:#9feb55;' data-darkreader-inline-color='') High Valuer
            | :
            br
            ul
            li
                | If 2 or 3-worker opening, aim to go to 4 workers on wave 1 with most builds. There is potential to leak, but the 4th worker is worth the risk.
            li If 4-worker opening, stay there until you receive a send.
            li
                | If 5-worker opening, you will leak to the next send. Ask your teammate to cover you if needed.
            li
                | Get workers after you receive sends, but be conservative. The 
                span(style='color: rgb(255, 128, 0); --darkreader-inline-color:#eb8a2a;' data-darkreader-inline-color='') workerer
                |  has a lot of workers, and the waves are longer than normal.
            li
                | Before wave 3, it&apos;s too early to identify the 
                span(style='color: rgb(0, 128, 255); --darkreader-inline-color:#2a95eb;' data-darkreader-inline-color='') builder&apos;s
                |  weak wave, and you can&apos;t break them, so invest your mythium into king upgrades.
            span(style='color: rgb(255, 0, 0); --darkreader-inline-color:#eb2a2a;' data-darkreader-inline-color='') Low Valuer
            | :
            br
            ul
            li
                | If 2 or 3-worker opening, go to 4 workers if you&apos;re weak on wave 2; otherwise, go to 5 workers. Pivot away from low-worker openings like Violet or Grarl Delicacy into Banana Bunk.
            li
                | If 4-worker opening, stay there if you&apos;re weak on wave 2; otherwise, go to 5 workers.
            li
                | If 5-worker opening, be mindful of standard or bigger-than-normal mercenary sends on wave 2 or 3 due to long waves. After the first send, you will receive light sends.
            li
                | Get workers after you receive sends, and be aggressive. The 
                span(style='color: rgb(0, 128, 255); --darkreader-inline-color:#2a95eb;' data-darkreader-inline-color='') builder
                |  has low workers, and you have a lot of extra gold from the opposing team&apos;s leaks.
            li
                | Before wave 3, it&apos;s too early to identify the 
                span(style='color: rgb(0, 128, 255); --darkreader-inline-color:#2a95eb;' data-darkreader-inline-color='') builder&apos;s
                |  weak wave, and your sends will always get through, so invest your mythium into high-income mercenaries.
            | Both:
            br
            ul
            li Communicate with your teammate.
            li
                | By waves 3-5, you should either be saving mythium or thinking about when to save.
            li
                | You only need to save 1-2 waves, especially since waves are so long. Saving longer than 2 waves is possible but risky.
            li
                | Wave 8 is often good because (1) many 
                span(style='color: rgb(0, 128, 255); --darkreader-inline-color:#2a95eb;' data-darkreader-inline-color='') builder
                |  openers are weak on 8, (2) big tanks like Ghost Knight are effective, and (3) ranged waves are strong in the catch area.
            li
                | In most cases, it&apos;s best to end the game as early as possible, ideally on or before wave 10. The 
                span(style='color: rgb(255, 128, 0); --darkreader-inline-color:#eb8a2a;' data-darkreader-inline-color='') workerer
                |  typically scales very well into late game due to high income.
