extend ../../layout
block content
    .content
        .guides(style="text-align:center;")
            h2 How to improve as a new player [general]
            i Last updated Dec 2017
            a(href="/guides", style="float:right;") Back
            b
              span(style='font-size: 18px')
                | As of patch 1.60 this guide is outdated in terms of number of workers. It still contains a lot of valuable general information.
            br
            br
            | 					I'd like to present a guide which is a different from other guides. It's about helping out new players and ways to improve yourself while you are getting into the game. This guide is not about playing perfect or what is the best build order and so on.
            br
            br
            | 					I am a rather new player myself. And this guide will focus on that. I want to present the steps I took learning the game and what is the most important things to focus on first. I started playing at Early Access and watched a lot of streams and videos before. This helps me to get the right perspective to write a guide like this. I am far away from a perfect player, but I know the struggles of a new player.
            br
            br
            | 					I will try to keep the guide as simple as possible and will not presume too much prior knowledge. However I won't cover the core concepts of the game which you can read about at 
            a.internalLink(href='http://legiontd2.com/guide') http://legiontd2.com/guide
            br
            br
            | 					The guide is divided into topics. The topics with the most importance and which are easy to learn from my point of view are listed first. You can try to improve them one by one or pick any number you feel comfortable with. You can also change the order according to your preferences.
            br
            br
            | 					The first topics will teach you how to build a solid defense. With these tips you won't be a burden for your team, which is huge for starters. After that I will write about economics, which transits into how to send mercenaries. In the end I will talk a little about attack and armor types and basically say look that up and memorize it. ;) 
            br
            br
            br
            b Value
            br
            br
            | 					The very first thing you should focus on is value. Value represents the gold costs of your defense you have deployed at the moment. E.g. if you deploy an Antler for 200g, your value increases by 200. If you sell a Proton for 12g, your value decreases by 20.
            br
            br
            | 					At the center bottom of the screen are some UI elements and on the right side of it the value of your defense is stated. Also when pressing tab you can see the value of each player in your team.
            br
            br
            | 					Every wave has a recommended value. You can see the recommended value for every wave by pressing F10. Try to stay around that value. There are plenty of factors that influence how good a defense is against certain waves and sends. From time to time you will leak even though you hit the value or are even above. But that's ok. You will learn why and how to prevent that later. Right now your focus is on holding most of the waves.
            br
            br
            | 					Usually you don't want to have too much value. Too much value means less workers, which means weaker sends and less income / value in the long run. Workers will be covered in a later topic.
            br
            br
            br
            b Balance tanks and dps
            br
            br
            | 					There are units that can take a lot of hits and deal barely any damage like mudman and there are units that deal loads of damage but don't do too well tanking like the nightmare.
            br
            br
            | 					You don't want an all tank or all dps defense. Your tank is only valuable if he takes hits. Your dps is only valuable if he is not dead. Therefore you need a little bit of both.
            br
            br
            | 					Ranged dps are in general weaker than melee dps, but they are far less likely to get focused. It's always great to have some reliable dps.
            br
            br
            br
            b Basic positioning
            br
            br
            | 					You can see most players start at a side of their lanes and don't build units next to each other in a horizontal line, but always one square behind. This seemed odd to me and I can only try to explain why.
            br
            br
            | 					Starting at a side of a lane has one simple advantage. On the first wave(s) you will have fewer units than the wave is sending. Often only one or two. Your unit won't be that easily surrounded. That means you will take less damage while (in most cases) your damage stays the same. But even if you start with a honeyflower and most of your damage is AoE, its incoming damage is reduced stronger than the outgoing damage.
            br
            br
            | 					In addition to that, if you have a tanky unit at a side behind it a strong melee dps unit, it's very likely that the melee dps unit will be focused before the tank dies.
            br
            br
            | 					The reason for not placing units in a horizontal is that units would block each other. The all want to go to the first enemy which is in the center and it would take them longer to get to the enemies. That being said once you reached the center of your lane, you want to place your units always one square to the front and build a v like shape.
            br
            br
            | 					This isn't just about dealing damage but maybe even more important about splitting the damage of the wave. When your units from the sides take longer to get to the wave, the wave will focus their damage on the units in the middle. The more they focus your units the faster your units will die and you lose dps / valuable abilities.
            br
            br
            | 					You want to place your tanks in the first row, your melee dps behind them and your ranged even further behind. But there's a little bit more you should pay attention to.
            br
            br
            | 					The range of ranged units varies. E.g. the Aqua Spirit has a range of 400 a Zeus has a range of 800. Use the range. You need to stay in range with your ranged units, that's for sure. But once all your melees die the enemy wave (usually) has to run to your ranged units. When your Zeus are as far away as possible, you get some time to deal free damage.
            br
            br
            | 					Flying units can fly above ground units (but you can't place them on the same square). Often this is an advantage, because your units won't block each other that much. But this might also be dangerous. If you got a tank line with ranged tanks like Banana Bunk (200 range) and some flying melee dps units like Windhawks (100 range) behind them, the Windhawks will just fly by them and before the wave hits your front line, your Windhawks will take the first hits.
            br
            br
            | 					Upgraded units may receive and lose flying. E.g. Fire Lord does not fly, but Fenix does. Peewee does fly, but Veteran does not. The same applies to range.  Bazooka has a range of 600, Zeus 800. Gargoyle has a range of 250, Green Devil 100.
            br
            br
            | 					You want abilities to take into account for positioning units. You want your Star Caller to grant mana to your Violets. Star Caller is a ranged unit Violets are melee. The range of the mana regeneration of the Star Caller is smaller than her attack range. That means you have to place your Star Caller close to the front so once the Violets engage melee combat, they benefit from the Star Caller aura.
            br
            br
            | 					Another example for abilities is the Gateguard. Gateguard is described as tanky melee unit. But Gateguard has a really strong summoning ability. You want your Gateguard to get a second summoning before it dies. If you place the Gateguard in your first row, it's very unlikely it will cast the second summoning.
            br
            br
            br
            b Workers
            br
            br
            | 					They key to being a good player is to build as many workers as you can without leaking. I cannot emphasize enough how important this is. That is the reason why you don't want to invest too much gold into value.
            br
            br
            | 					A worker produces 1 mythium every 5 seconds. Assuming a wave lasts 100 seconds (including night phase), which may vary vastly, and also assuming you send for income, a worker produces on average 5 gold per wave which means he earned his initial costs after roughly 6 waves. If the enemy does not send, you have to expect a strong send within the next 3 waves. As conclusion you can say, the longer an enemy saves, the slower you want to go on workers.
            br
            br
            | 					As a rule of thumb I figured from wave 1 to wave 10 you want at least wave/2 workers. E.g. at least 2 workers for wave 4, 4 workers for wave 7. If you can't achieve this, you are in trouble. If you reach 3/4 workers per wave, you are doing really good. If you got one to one workers to wave or even more you might carry the game alone.
            br
            br
            | 					After wave 10 you want to wave at least 8 workers. Before wave 11 is a really good time to invest in workers, unless your opponent saved. Usually you can go for 2 or even 3 workers. If you are low on value or weak to wave 11 you might play it safe since your opponent can use this and do a surprisingly strong send.
            br
            br
            | 					At this point you most likely will only react to the sends of your opponent. If you feel comfortable you can squeeze out a worker from time to time even if your opponent is saving. 100gold (value) is not that much anymore as compared to waves 1 to 10, because your overall value and income are way higher.
            br
            br
            | 					As another benchmark I set for myself you need to have at least 12 workers at wave 13 or it's not worth saving mythium for a strong send - therefore you should send for income and try to maximize your workers.
            br
            br
            | 					After wave 13 in most cases you don't want to build any workers until the end of wave 15. After wave 15 (starting night phase before wave 16) you get 2 workers for 100 gold. Even though now the time until the workers earned their initial costs in about 3 waves now, you usually don't buy workers to maximize value anymore. It's your goal to push enough workers to generate enough mythium for a game ending send. When the game goes on long enough you often end up with 20 or even 30 workers.
            br
            br
            br
            b Sending mercenaries
            br
            br
            | 					There are three types of sending:
            br
            ol
              li Income
              li Making the enemy leak
              li Ending the game
            | If you are sending for income you try to send units before the income is awarded after a wave. Notice there are about 2-3 seconds after the wave ended and the income is awarded. You can try to squeeze in a send more in that time frame.
            br
            br
            | 					Most mercenaries increase your income by +6 per 25 mythium spent. There are some mercenaries, which are usually stronger than the others, that only grant +5 income per 25 mythium spent like Brute or Safety Mole. When you are sending for income, you should only send mercenaries which increase your income by +6.
            br
            br
            | 					If you have to increase your supply try to max out the amount of income before the night phase and increase the supply during the night. Increasing the supply before the wave ends does not grant you any bonuses, increasing the income does. But be aware that you might run out of time, if you calculate too closely.
            br
            br
            | 					I can't really tell much about making the enemy leak. It's quite hard because you have to know which waves give the enemy a hard time which is not easy to know when you don't know the enemy units to well and in addition to that don't see his value.
            br
            br
            | 					Therefore mostly I don't try to make my enemy leak. And especially mostly I don't save to make my enemy leak. But still I always try to figure out which wave in combination with which mercenaries might give him a hard time and when I'm quite sure I'll even save for that. This just requires experience in the game and will come once you (respectively I) have played more.
            br
            br
            br
            | 					Ending the game is usually nothing you can do on your own. You need to coordinate with your team when to save and when to send. On rare occasions it happens already before wave 10. Wave 11 can be dangerous if your team pushes a lot of workers and the enemy saved, but that's rarely the case. The first wave you really need to worry about or try to end is wave 12. Most games end with wave 13 or 14 partially because they are hard to deal with, partially because people tend to start saving to end the game after wave 10 or 11. Notably wave 18 is pretty nasty since they have quite a strong magic damage effect despite being pierce damage theirself.
            br
            br
            | 					So for ending the game you want to save sometimes 1 mostly 2 rounds as a team. Use pings for that. There are three key considerations regarding when to save for ending the game.
            br
            br
            | 					1. Can we save now without losing the game?
            br
            | 					Staying alive is the most important thing. Often both teams send for winning on the same wave. But if you don't make it what far or you are sure you would lose e.g. because your king is practically dead already, don't save. Try to max your income and get ahead in gold and try a comeback later.
            br
            br
            | 					2. When will our king die?
            br
            | 					Sooner or later the game will end. At some point you will not be able hold anymore. Figure out when that will be. You can send at the same time as you think your opponent will kill your king, if you are faster kill theirs or try to kill their king a wave before.
            br
            br
            | 					3. When is the enemy team weak?
            br
            | 					This is something where you need a lot of knowledge for. You need to guess the value of each enemy lane, know the armor/attack types, synergy effects and so on and so on. I didn't even try to do that yet. ;)
            br
            br
            | 					When sending mercenaries especially either for leaking or winning, you need to know which mercenary is strong with which wave and against which units.
            br
            br
            | 					Examples are Four Eyes is strong against massive tanks, Pack Leader is strong with a large wave, weak with a small wave. A lot of players send Pack Leaders with wave 13, which does not make much sense Or even worse wave 10. Tank mercenaries like Dino or Centaur are strong with high dps (ideal ranged) like wave 11. Safety Mole is strong against a lot of units or AoE. Hermit is strong with many units and long fights. Brute is early really strong if the enemy only one/few strong units.
            br
            br
            | 					In many cases sending full aura is quite strong. That means Safety Mole, Hermit and Pack Leader. A full aura send costs 450 mythium in total. Unless you are doing really well it's hard to get that amount of mythium with only 1 wave save before wave 15. When you are saving 2 waves, Four Eyes is another mercenary you want to send against the king mostly instead of Pack Leader.
            br
            br
            | 					Usually if you try to end the game, everyone on your team should have 450 mythium before the wave starts. You might require less if the enemy team has trouble clearing the waves anyways. The longer the game goes on the more mythium you will probably need for a game ending send.
            br
            br
            | 					Every other mercenary for 300+ mythium can also be really strong, but I don't have enough experience yet to tell when which one of them is good.
            br
            br
            | 					You can type -info <wave> in chat to get a detailed description of the given wave. For example during wave 11 you can type -info 12 to determine what mercenaries you'd like to send.
            br
            br
            br
            b Attack and armor types
            br
            br
            | 					This is a really important topic. Sometimes I wrote in the previous topics you need to figure out to which wave your opponent is weak. It is essential to use the correct attack and armor types for your defense and late when you are more experienced for sending mercenaries. With the correct attack and armor type you can kill another unit with equal health and dps nearly twice as fast as the other way around. By pressing F11 you can get a cheat sheet for attack and armor types. This should influence your build order. For example before wave 7 upgrading a Wildshroom to a Canopie is way better than getting an Antler. Note that the wave info menu (F10) displays the recommended attack and armor types. If you want to know the attack and armor types of the wave, you can hover the wave in the menu.
            br
            br
            | 					In general when deciding which units to build or upgrade, you should always have the next 4 waves in mind. If the enemy starts saving, try to figure out for which wave he is saving. You should try to cover that especially well with matching attack and armor types.
            br
            br
            | 					Even when playing Mastermind you won't be able to get tanks that cover every single armor type and dps for every attack type. Good combination for armor types are natural/arcane or swift/fortified. If we take a look at Grove, we can see there is no swift tank. So you basically need Wildshrooms a wave with arcane damage is coming. That on the other hand makes Honeyflowers and Antlers really strong with them together.
            br
            br
            | 					It is rather obvious, but I still would like to mention that a good armor type is for a tank way more important than a good attack type. For dps it's the opposite. You should not build a mudman when the attack type is good for the next waves, while the armor type is not.
            br
            br
            br
            br
            | 					Well that's all I've got to say. To summarize the benchmark numbers I mentioned above:
            br
            ul
              li Value should be around recommended value
              li Workers per wave before wave 10: 1/2 ok, 3/4, 1+ you're owning it ;) 
              li Workers after wave 10: at least 8, wave 13 12 would be great
              li When trying to end the game: save for 450+ mythium
            | I hope this guide helps to improve yourself and get better into the game. I'd be happy to take any feedback on the guide and even if it's just grammar or typos (I'm not a native speaker, I'm always trying to improve my English :) ). Thank you very much if you made it this far and see you in game.
