extend ../../layout
block content
    link(rel='stylesheet', href='/css/guides.css')
    .guide
        h2#guide_title Income sending vs Saving
        #guide_author 
            i by 
                a(href="/profile?player=Roshkatul") Roshkatul
            a(href="/guides", style="float:right;") Back
        #guide_infobox
            #infobox_author Author: 
                a(href="/profile?player=Roshkatul") Roshkatul
            #infobox_version Version: v2.34
            #infobox_section Section: General Guides
            #infobox_content
        p.
        #guide_content
            .youtube
                iframe.ytframe(src="https://www.youtube.com/embed/ELOp2zwLqnw", frameborder="0", allow="autoplay; encrypted-media", allowfullscreen)