extend ../../layout
block content
    link(rel='stylesheet', href='/css/guides.css')
    .guide
        h1#guide_title Sending in Legion TD2
        #guide_author 
            i by 
                a(href="/profile?player=Niklas") Niklas
            a(href="/guides", style="float:right;") Back
        #guide_infobox
            #infobox_author Author: 
                a(href="/profile?player=Niklas") Niklas
            #infobox_version Version: v2.30A
            #infobox_section Section: General Guides
        p.
        #guide_content
            .youtube
                iframe.ytframe(src="https://www.youtube.com/embed/vFMGyIT_r5M" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen)