extend ../../layout
block content
    link(rel='stylesheet', href='/css/guides.css')
    .guide
        h1#guide_title Teirdel's Simple Starter Guide
        #guide_author 
            i by 
                a(href="/profile?player=Teirdel") Teirdel
        #guide_infobox
            #infobox_author Author: 
                a(href="/profile?player=Teirdel") Teirdel
            #infobox_version Version: v2.25
            #infobox_section Section: General Guides
            #infobox_content Content:
                ul
                    - for(var i = 1 ; i < 21; i++){
                        li 
                            a(href="#wave"+i)= "Wave"+ i
                    - }
        p.
        #guide_content