extend ../../layout
block content
    .content
        .guides(style="text-align:center;")
            h2 Cornep's Guides: Taming the Tilt [general]
            i
              | by 
              a(href='https://www.ltdstats.com/profile?player=Cornep') Cornep
              | , Dec 25, 2017.
            a(href="/guides", style="float:right;") Back
            p
              | Hey there!
              br
              |                     This guide is focused on 3 things.
            p
              b
                | How to handle when you tilt.
                p
              b How to handle a tilting teammate.
            p
              b Deescalating
            p
            h2 Deescalating
            |                     We hear the word "Tilt" a lot when discussing any PvP game, especially competitive games where some sort of ELO, SR, MMR, Rank or other kind of stake is at play. We picture a person raging, shouting, throwing stuff or the game when we hear the word. What is tilt? Tilting means your state of mind is negatively impacted by your emotions and thus preventing you from performing at your optimal level. This can mean a wide variety of states, the most general being frustration and anger. You can be frustrated you didn't get a snail on 1. You can be frustrated by the ELO stakes in the game. You can be angry you just lost a game. I could list things for a few days here. Essentially any situation where your decision making is influenced by emotions, can be counted as tilting.
            br
            |                     Minor tilting can be very subtle, and hard to pinpoint when you are playing. You might take an unnecessary risk because you leaked 1 mob last wave, or you push a risky worker because the moon is almost full and your neck itches. I believe all of us experience minor tilting, even the most calm and composed will experience this at times.
            br
            |                     So, minor tilting, what does it mean? Well, it is tiny things, tunnel vision ( you only focus on your lane, forget to scout every wave.), playing risky when you should have played safe or over-committing to a save because you are behind or forgetting to ping unsure when your enemy saved.
            br
            h2 How to avoid tilting?
            |                     ​
            |                     What should you do? There are 3 big things that allow you to avoid tilting.
            br
            |                     1. Know your vulnerabilities. This takes place completely outside the game. What makes you tilt? Do you tilt easier when you are hungry? Do you tilt when you play early in the day? Do you tilt when you had a long day at work/school? Do you tilt when playing without a nap?
            br
            |                     Essentially any reason OUTSIDE the game that can make you tilt, that can be avoided, should be avoided. I personally tilt more if I am hungry when I play, so I do my best to not play when i am hungry. Avoiding the tilting factors before even opening the game, can make a big difference.
            br
            |                     2. The triggers. This happens in the game. What does it take to make you tilt? Do you need to be flamed to tilt? Do snarky comments make you tilt? Do you tilt by leaking? Do you tilt because of team leaks? Because of ELO stakes? Do you trigger when the enemy sending to you saves all game? Maybe when the person you are sending to never leaks?
            br
            |                     Some of these can not be avoided. So what can you do? Well, for the ones you CAN avoid, like flamers, just mute people at the first sight of this behavior. Team leaking tilt you? Build your own 4 stack and try your best to avoid it happening.
            br
            |                     What to do when it does happen? If you mentally recognize, that you will most likely leak, or your team leaks, or whatever causes the tilt, it takes the sudden tilt away. If you manage to accept, that this is a team game, you are a team, the team has 4 players, + the 4 on the enemy team, things can and will happen. If you accept the fact that sometimes you will just have a shit game, the others also have shit games once in a while, it is like a "force of nature" that can't be prevented, the tilt is a lot smaller.
            br
            |                     3. You tilted, what now? Becoming aware of you being tilted is very important. If you know something always tilts you, when it happens you know you are most likely tilted. If you know you are tilted, the faster you realize it, the less it will have time to affect your gameplay.
            br
            |                     What do you do when you are tilted? Do you overbuild to overcorrect your leaks? Do you yolo push to get more mythium to crush the enemy team for making you leak? Do you alt-tab during the rounds to rage in discord? Do you forget to keep supply in mind? When you know what you do when tilted, it allows you to keep in mind to avoid doing the tilt-affected decisions.
            br
            |                     How do you feel when tilted? By knowing you get angry, frustrated or other emotions common with your tilts, you can spot the tilt faster, and process it faster to untilt.
            br
            |                     When you tilt, it is very good to take a moment to think what you do next, is it logical, does it make sense in other ways that to act like you normally do when you tilt. A deep breath, take a sip of your drink, change to a soothing music track.
            br
            |                     Set goals for yourself. This sounds obvious, but setting goals appropriately is a good way to go. Lets say i am 1250 ELO right now, but i think i should be 1700 ELO. If my goal was 1700 ELO, i would get frustrated after every loss, because the goal is SO FAR, or even a low ELO win can be frustrating, because you feel the goal is so far.
            br
            |                     While keeping the 1700 ELO goal is ok, it is very good to have smaller goals. Say your daily goal is to climb 30 ELO. Or you feel you have little workers, so you have a goal set you have 7 workers on 10 unless the enemy saves on you. Maybe you set a goal to leak 0 before wave 10, Or no leaking after wave 10. Maybe you want to practice against a certain wave you always leak, so your goal for the game, is to just hold that 1 wave and not leak. Not to gain 29 even games worth of elo and only then be satisfied.
            |                     This whole section can be summarized to being mindful. Be aware of the things you are currently doing. If you are only playing legion, and not thinking how your favorite TV series next episode might be, you are on track. If you focus on staying on track, it is easier to notice when you are no longer on the track.
            |                     Tilted team​
            br
            |                     Tilts happen to all of us. There is conflict when we have 8 people in 1 game all trying to win. Once you accept that, tilting will be lesser. What we all have to remember, is that the other 7 are also people, with their reasons to tilt. It is common for us to judge others in the moment, but ourselves on the long run. If you had a shit game the previous game, and you are still annoyed in the current game, you forgive yourself because you had a shit game and you are trying your best to untilt.
            br
            |                     Now if someone on your team had similar thing happen, whatever made them tilt, we tend to judge them based on the game, and not consider they might have a reason not to be on their best form either. Don't be too biased for yourself, we all are biased for ourselves, this can't be changed, but you can try to change how much. Be nice, be happy, win more ( more later).
            br
            h2 Deescalating
            |                     ​
            |                     There are things you can do.
            br
            |                     Being positive is a massive factor. If you are happy, write or speak in a positive manner, it will spread in your team and in your games. What reduces tilts a lot? People in your games being happy.
            br
            |                     Communication is key. Communicating the positive things going on is even better. Positive reinforcement is amazing. If the enemy saved 1-5, you had 1 guy hold and 2 guys leak on your team. Instead of going, " Why can't you guys hold anything?" Say " Good job Blue" ( assuming blue held). Next time same thing happens to party members, they will go " That blue guy did well, when this last happened, let me do the same and let the other people know when they do well". Now, I am not saying you need to do this always, but even if you change from being negative towards those did not do well, to being positive to those who did well, it is already an enormous change to prevent tilts in your team.
            br
            |                     As long as you can keep everyone communicating, it is already a good sign. This doesn't mean everyone has to type a lot every wave, but general pings, asking their thoughts on things like game plan and such.
            br
            h4 In conclusion​
            |                     The things above can't really be done in a game or two, or even in a few game sessions. It is a progress, but if you keep things in mind, you can improve.
            br
            |                     Avoid factors that make you susceptible to tilting
            br
            |                     If you tilt, recognize it asap, be aware of what it does to your game behaviour and try to untilt.
            br
            |                     If you see a tilting teammate, enemy or even yourself, do your best to deescalate the situation. A few words from you can mean no more tilting people in your game, or everyone, including you are tilting soon.
            br
