extend ../../layout
block content
    link(rel='stylesheet', href='/css/guides.css')
    .guide
        #amazon_ad
        h2#guide_title Wave Counters
        #guide_author 
            i by 
                a(href="/profile?player=Jules") Jules
            a(href="/guides", style="float:right;") Back
        #guide_infobox
            #infobox_author Author: 
                a(href="/profile?player=Jules") Jules
            #infobox_version Version: v2.36
            #infobox_section Section: General Guides
            #infobox_content
        p.
        #guide_content
            ul
                li 
                    a(href="/units?unit=crab") 1 
                    | - 
                    a(href="/units?unit=Bone%20Crusher") Bone Crusher
                li 
                    a(href="/units?unit=wale") 2 
                    | - 
                    a(href="/units?unit=Nightmare") Nightmare
                    | , 
                    a(href="/units?unit=Looter") Looter
                    | , 
                    a(href="/units?unit=Pack%20Rat") Pack Rat
                    | , 
                    a(href="/units?unit=Bone%20Warrior") Bone Warrior
                    | , 
                    a(href="/units?unit=Sea%20Serpent") Sea Serpent
                li 
                    a(href="/units?unit=hopper") 3 
                    | - 
                    a(href="/units?unit=Gargoyle") Gargoyle
                    | , 
                    a(href="/units?unit=") Green Devil
                    | , 
                    a(href="/units?unit=Wileshroom") Wileshroom
                li 
                    a(href="/units?unit=Flying%20Chicken") 4 
                    | - 
                    a(href="/units?unit=Nightmare") Nightmare
                    | , 
                    a(href="/units?unit=Tempest") Tempest
                    | , 
                    a(href="/units?unit=Sea%20Serpent") Sea Serpent
                li 
                    a(href="/units?unit=scorpion") 5 
                    | - 
                    a(href="/units?unit=pyro") Pyro
                    | , 
                    a(href="/units?unit=violet") Violet
                li 
                    a(href="/units?unit=rocko") 6 
                    | - 
                    a(href="/units?unit=looter") Looter
                    | , 
                    a(href="/units?unit=pack&20rat") Pack Rat
                    | , 
                    a(href="/units?unit=bone%20warrior") Bone Warrior
                    | , 
                    a(href="/units?unit=berserker") Berserker
                    | , 
                    a(href="/units?unit=devilfish") Devilfish
                li 
                    a(href="/units?unit=sludge") 7 
                    | - 
                    a(href="/units?unit=peewee") Peewee
                    | , 
                    a(href="/units?unit=veteran") Veteran
                    | , 
                    a(href="/units?unit=millenium") Millennium
                    | , 
                    a(href="/units?unit=wileshroom") Wileshroom
                    | , 
                    a(href="/units?unit=canopie") Canopie
                    | , 
                    a(href="/units?unit=aqua%20spirit") Aqua Spirit
                li 
                    a(href="/units?unit=kobra") 8 
                    | - 
                    a(href="/units?unit=peewee") Peewee
                    | , 
                    a(href="/units?unit=veteran") Veteran
                    | , 
                    a(href="/units?unit=aqua%20spirit") Aqua Spirit
                li 
                    a(href="/units?unit=carapace") 9 
                    |- 
                    a(href="/units?unit=mudman") Mudman
                    | , 
                    a(href="/units?unit=deathcap") Deathcap
                li 
                    a(href="/units?unit=granddaddy") 10 
                    | - 
                    a(href="/units?unit=berserker") Berserker
                    | (in theory, but sometimes fails due to targeting), 
                    a(href="/units?unit=ranger") Ranger
                    | , 
                    a(href="/units?unit=daphne") Daphne
                    | , 
                    a(href="/units?unit=sea%20serpent") Sea Serpent
                    | , 
                    a(href="/units?unit=deepcoiler") Deepcoiler
                li 
                    a(href="/units?unit=quill%20shooter") 11 
                    | - 
                    a(href="/units?unit=ocean%20templar") Ocean Templar
                    | , 
                    a(href="/units?unit=pyro") Pyro
                li 
                    a(href="/units?unit=mantis") 12 
                    | - 
                    a(href="/units?unit=banana%20bunk") Banana Bunk
                    | /
                    a(href="/units?unit=banana%20haven") Banana Haven
                    | , 
                    a(href="/units?unit=leviathan") Leviathan
                    | , 
                    a(href="/units?unit=kingpin") Kingpin
                li 
                    a(href="/units?unit=drill%20golem") 13 
                    | - 
                    a(href="/units?unit=fatalizer") Fatalizer
                    | , 
                    a(href="/units?unit=hydra") Hydra
                    | , 
                    a(href="/units?unit=antler") Antler
                    | , 
                    a(href="/units?unit=whitemane") Whitemane
                    | , 
                    a(href="/units?unit=violet") Violet
                li 
                    a(href="/units?unit=killer%20slug") 14 
                    | - 
                    a(href="/units?unit=veteran") Veteran
                    | , 
                    a(href="/units?unit=millennium") Millennium
                    | , 
                    a(href="/units?unit=doomsday%20machine") Doomsday Machine
                li 
                    a(href="/units?unit=quadrapus") 15 
                    | - 
                    a(href="/units?unit=priest%20of%20the%20abyss") Priestess of the Abyss
                    | , 
                    a(href="/units?unit=azeria") Azeria
                    | , 
                    a(href="/units?unit=lord%20of%20death") Lord of Death
                li 
                    a(href="/units?unit=cardinal") 16 
                    | - 
                    a(href="/units?unit=doppelganger") Doppelganger
                    | , 
                    a(href="/units?unit=sea%20serpent") Sea Serpent
                li 
                    a(href="/units?unit=metal%20dragon") 17 
                    | - 
                    a(href="/units?unit=banana%20haven") Banana Haven
                    | , 
                    a(href="/units?unit=golem") Golem
                    | , 
                    a(href="/units?unit=king%20claw") King Claw
                li 
                    a(href="/units?unit=wale%20chief") 18 
                    | - 
                    a(href="/units?unit=fenix") Fenix
                    | , 
                    a(href="/units?unit=zeus") Zeus
                    | , 
                    a(href="/units?unit=Fatalizer") Fatalizer
                    | , 
                    a(href="/units?unit=Deathcap") Deathcap
                li 
                    a(href="/units?unit=dire%20toad") 19 
                    | - 
                    a(href="/units?unit=banana%20haven") Banana Haven
                    | , 
                    a(href="/units?unit=leviathan") Leviathan
                    | , 
                    a(href="/units?unit=kingpin") Kingpin
                li 
                    a(href="/units?unit=maccabeus") 20 
                    | - 
                    a(href="/units?unit=doomsday%20machine") Doomsday Machine
                    | , 
                    a(href="/units?unit=Fatalizer") Fatalizer
                    | , 
                    a(href="/units?unit=Hades") Hades
                    | , 
                    a(href="/units?unit=Ranger") Ranger
                    | , 
                    a(href="/units?unit=Daphne") Daphne
                    | , 
                    a(href="/units?unit=green%20devil") Green Devil