extend ../../layout
block content
    .content
        .guides(style="text-align:center;")
            h2  Cornep's Guides: What to send [general]
            i
              | by 
              a(href='https://www.ltdstats.com/profile?player=Cornep') Cornep
              | , September 8, 2017.
            p
            |         			Hey there,
            br
            br
            br
            | 					This guide is for those of us who are still learning the game, might wonder what to send when and those of us who are curious of what I have tested to work the best on specific waves.
            br
            br
            br
            | 					These suggestions are from 900h of playing and testing.
            br
            br
            br
            | 					Every wave has a suggestion for each race or major builds of each waves.
            br
            b
              br
              | 					You still have to see if the armor and attack type is good for the send!
              br
              br
              br
              | 					After going through all the waves, I will list the ways to counter all the builds.
              br
              br
              br
              | 					TLDR: at the end of this post.
            br
            br
            br
            br
            br
            div(style='text-align: center')
              b
                span(style='text-decoration: underline') Wave 1
              | ​
            br
            | 					Snail it!
            br
            br
            | 					It is pretty good to send here to make sure no greedy builds get unpunished in the opposing team.
            br
            br
            br
            br
            div(style='text-align: center')
              b
                span(style='text-decoration: underline') Wave 2
              | ​
            br
            | 					Fiend it!
            br
            br
            | 					Not many builds leak here, almost any build with 200-220g holds fiend. Can be good time to send, if the enemy goes very greedy.
            br
            br
            br
            br
            div(style='text-align: center')
              b
                span(style='text-decoration: underline') Wave 3 
              | ​
            br
            | 					The wave is not that strong, but if the player pushed 3 workers before this, fiend/DT will make big leaks happen.
            br
            br
            br
            span(style='color: #0080ff')
              b Mech:
            |  Berserker build can leak here if greedy to a fiend or get absolutely demolished by brute.
            br
            br
            span(style='color: #8000ff')
              b Forsaken:
            |  Butcher and something small ( no gargoyles) can get destroyed with brute.
            br
            br
            span(style='color: #00b300')
              b Grove:
            |  If the lane is full nature armor, like honeyflower + consort ( 3 workers). Flower + consorts and 4 buzz ( 2 workers) doesn’t leak.
            br
            br
            span(style='color: #ff8000')
              b Elements:
            |  Greedy element ( aquas) that goes 3 workers here, gets punished hard by a fiend.
            br
            br
            br
            br
            div(style='text-align: center')
              b
                span(style='text-decoration: underline') Wave 4
              | ​
            br
            | 					This wave can be excellent for causing big and small leaks.
            br
            br
            br
            span(style='color: #0080ff')
              b Mech:
            |  Berserker build leaks to dino and brute, tempest/veteran to brute, pyro to brute.
            br
            br
            b
              span(style='color: #8000ff') Forsaken:
            |  Nightmare can be made to leak with a dino or brute ( dino works always well, brute can work super well, depending on stuns), bonecrushers and gargoyle get destroyed by brute. Don’t Brute vs gateguards, go dino or fiend/snail.
            br
            br
            b
              span(style='color: #00b300') Grove:
            |  if there are consorts, abandon plan. Wileshrooms, honeyflower and antler can be broken here with a brute.
            br
            br
            b
              span(style='color: #ff8000') Element:
            |  Usually a good wave for element, Both Violet and aquas are strong here. If they go some mudman tactic, brute destroys it. Violet can leak hard to brute with good stuns.
            br
            br
            span(style='color: #808080')
              b Mastermind: 
            | If they have piercing and you send, go for dino, otherwise brute and snails
            br
            br
            br
            br
            div(style='text-align: center')
              span(style='text-decoration: underline')
                b Wave 5
              | ​
            br
            | 					Nice wave to destroy people who super hard build for wave 4, so when you see things like berserker and nightmare, send here. Works also well against aquas if they don’t have combo yet. So if they have 1 combo part on 4, they can get combo here.
            br
            br
            br
            b
              span(style='color: #0080ff') Mech:
            |  To destroy mech here, you have a few options. If they go for full fortified ( pyro, or you should have sent on 4), Drake is the answer. If they have things like berserker, brute it. Brute will stun the things so wave can kill em.
            br
            br
            b
              span(style='color: #8000ff') Forsaken:
            |  Drake if you full saved, dino is very good against all forsaken set-ups. Brute can destroy builds that 100% rely on nightmare.
            br
            br
            b
              span(style='color: #00b300') Grove:
            |  Consorts get wrecked by dino. If they are full nature armor as usual, send dt or drake.
            br
            br
            b
              span(style='color: #ff8000') Element:
            |  If aqua combo, this is a challenging wave to break them on. Basically all, but disciples are great here, and even disciple is pretty good. I don’t recommend sending here against element.
            br
            br
            span(style='color: #808080')
              b Mastermind:
            |  Anything with nature armor can be broken here with a drake. Dinos can be very good against common piercing set-ups. Brute is very good vs builds that rely on 1 unit.
            br
            br
            br
            br
            br
            div(style='text-align: center')
              b
                span(style='text-decoration: underline') Wave 6
              | ​
            br
            | 					The ultimate RNG wave. One can leak here without a save 3-4 ( out of 6). This wave is an excellent counter to Pyro builds, and other builds that have about 50% of their value in one unit. Do not send here against mass here.
            br
            br
            br
            b
              span(style='color: #0080ff') Mech:
            |  Skip wave 5 and send dino/drake here against Pyro, and unless they are very overbuilt already on 4, it is a guaranteed leak. Tempest/veteran mech does better here, but can be made to leak, depending on the ratio of units they are using. Berserker mech is pretty strong here, but can be surprised with a wave 5 skip ( don’t do this unless your team is going for a team-wide save for this wave, as 5 is VERY strong vs berserker build.)
            br
            br
            span(style='color: #8000ff')
              b Forsaken:
            |  Nightmares can be stunlocked here, if you send a dino to tank initial dm + nm burst. If they go for big amount of skeleton upgrades, avoid sending here. Generally Dino vs forsaken to absorb initial burst to save 1-2 wave mobs.
            br
            br
            b
              span(style='color: #00b300') Grove:
            |  Can be impossible to make leak with a deathcap, don’t send to a deathcap. Wileshrooms can be wrecked pretty hard with dino/lizards. If full nature ( consort, daphne and flowers) send dt/drakes and they will leak.
            br
            br
            b
              span(style='color: #ff8000') Element:
            |  Aqua combo is VERY strong here, violets are also very good, avoid sending to them here. Golems can be made to leak here, atom mass rarely leaks. Often much more worth it, to skip 6 as usually someone leaks to RNG nature of the wave, and send harder on 7.
            br
            br
            b
              span(style='color: #808080') Mastermind:
            |  Send here vs big unit set-ups, such as nightmares, pyro and others like it. 
            b Stun ability > armor types here.
            br
            br
            br
            br
            div(style='text-align: center')
              span(style='text-decoration: underline')
                b Wave 7 
              | ​
            br
            | 					This wave is a nice wave. It is the first proper arcane wave, that punishes magic units. Not that many units who are magic this early, but this wave can be lethal as not much arcane armor is built by players at this point. Generally a very good with mole.
            br
            br
            br
            b
              span(style='color: #0080ff') Mech:
            |  If they have veterans, mimic will do SO MUCH WORK, that you can just laugh when they get destroyed. Mimic also kills berserker and zeus. If tempest i suggest sending on 8, but if you send here, send drake for damage. Against Pyro, hermit and/or mole for very good results.
            br
            br
            b
              span(style='color: #8000ff') Forsaken:
            |  This wave can be pretty good against forsaken. The challenge is getting rid of the green devils, if these don’t exist, you are good. Mimic kills green devils and nightmares. Drake kills bonecrushers, butchers and gateguards.
            br
            br
            b
              span(style='color: #00b300') Grove:
            |  If there are no wileshroom/canopies, this is a great wave to send on. Mimics to kill canopies/wileshrooms. If full nature, send drake/dt/hermit.
            br
            br
            span(style='color: #ff8000')
              b Element:
            |  Aqua combo can leak very heavy here with a mole/hermit, this is a very important wave to put pressure on the aquas. Violets also get killed by hermit. Atom spam go mole.
            br
            br
            b
              span(style='color: #808080') Mastermind: 
            | If no arcane armor, drakes and stuff. If AoE, go hermit/mole, if unit mass go mole. If arcane, but a lot of magic damage, send mimic to kill the arcane armor.
            br
            br
            br
            br
            div(style='text-align: center')
              b
                span(style='text-decoration: underline') Wave 8
              | ​
            br
            | 					Pick this wave instead of 7 if the enemy has impact damage, and is weak to magic. Send tanky things, so snail, dino, centaur, ghost knight. This is the first great opportunity to completely destroy cross. Centaurs are brutal, here, but if predicted can be held.
            br
            br
            br
            b
              span(style='color: #0080ff') Mech:
            |  If mech has bunch of tempests/leviathan, they will be weak here. Keep with tanky sends. Veterans tank for days, berserker/fatalizer are good here, but they will get destroyed on 9.
            br
            br
            b
              span(style='color: #8000ff') Forsaken:
            |  Greendevils are very good here IF there are enough to protect the butcher/chef. If there are enough 3 or more, go 9. If 0-2 devils and butcher, you can make this happen. Send tanks if dps is nightmare. If gateguard heavy, send magic damage (drake/dt)/centaur to kill the dogs.
            br
            br
            b
              span(style='color: #00b300') Grove:
            |  Good wave to send against grove, send a lot of dinos/snails to mess with the canopies/consorts. If very heavy on daphne/canopie, i recommend 9. If flowers and antlers, send here for mass leaks.
            br
            br
            b
              span(style='color: #ff8000') Elements:
            |  SKIP and send 9, unless full violet. Against full violet send 2-3 snails to bait the AOE’s and drakes/DT's.
            br
            br
            span(style='color: #808080')
              b Mastermind:
            |  arcane armor + piercing damage is good here, if so, go 9. If nature armor and/or impact damage, definitely send here.
            br
            br
            br
            br
            div(style='text-align: center')
              span(style='text-decoration: underline')
                b Wave 9
              | ​
            br
            | 					Currently a very underrated wave. The wave has extra 15% vs ranged units, so even if the ranged unit has impact, it still does no extra damage against the waves fortified armor. Piercing damage does barely anything from ranged units. But wait, that’s not all! This wave, perfectly counters units that people make for wave 7 and 8. If you save, your enemy builds for 7-8, you can often GG on 9. There is also a Skip wave 8, into heavy wave 9 send, that can often lead to massive leaks, or even GG when used well.
            br
            br
            br
            br
            | 					When you save waves 6 and 7, almost always players have to build for wave 8, to even dream of holding the send. What you need to do here, is to NOT DIE on wave 7-8, or leak hard. Then when the enemy is full on arcane armor, units like daphne, aquas and such, you go for a centaur to kill fortified tanks, 4e to kill nature armor, hermit + mole to kill the aoe like aquas or pyro, and it’s gg. This is an absurdly hard send to hold, even for top 10 players, when you can get 300 mythium in those turns. Pack leader + mole can be very good, if the player has mass of units, but no AoE.
            br
            br
            br
            b Skip 8 is a very deadly tactic
            | , that requires you to sacrifice very little, for a lot of troubles for the enemy. There are some requirements for this to work: 1) You can not supply upgrade during round 7,8 or before 9. Either during 6, best option is after sending for wave 9. This requires supply management. 2) enemy has to have weaker units for this, you can get maximum of 250 mythium under normal circumstance, absolute maximum of 300. What to send? Several options. Against aqua combo or pyro + zeus, hermit + mole is amazing. Arcane heavy setups, get killed my mimic.
            br
            br
            br
            b
              span(style='color: #0080ff') Mech:
            |  Zeus + pyro gets killed by 8 skip into mole + hermit. Berserker/veterans dies to mimic, tempests aren’t super amazing, but decent here, if you want to destroy tempests on 9, send mimic or drake + mole depending on rest of the units.
            br
            br
            b
              span(style='color: #8000ff') Forsaken:
            |   Green devils, fire archer, nightmare are weak here. Doppels and harbinger strong avoid sending into them. Mimic kills devil and nightmare as well as gateguards. If they have both butcher and chef, go for magic damage. Mole is also good vs devils and fire archers/bone crushers.
            br
            br
            b
              span(style='color: #00b300') Grove:
            |  Honeyflowers = hermit, canopies = mimic, antlers ( 2-3) go for drake. Mole is good against daphne, rangers, honeyflower and consorts. If the lane is heavy on antlers, don’t send here, super hard to make to leak, canopies can be made to leak with mimic, unless very heavy overbuild.
            br
            br
            b
              span(style='color: #ff8000') Elements:
            |  SEND HERE. Brutal skip, against the usual Aqua combo style. Hermit + mole is guaranteed leak. If there are violets, they can be also made to leak with 1 snail, hermit and dt’s, but, less optimal than 8 vs violets. If they have 1 mudman on 8, you don’t care.
            br
            br
            b
              span(style='color: #808080') Mastermind:
            |  Aquas are ridiculously weak here, ranger daphne super weak here, anything ranged essentially is very weak here. 
            b The passive ability of the wave is HEAVILY UNDERRATED.
            |  Pyro can be heavily countered by hermit + mole,
            br
            br
            br
            br
            div(style='text-align: center')
              span(style='text-decoration: underline')
                b Wave 10
              | ​
            br
            | 					The first boss level, a very punishing wave to leak, as the enemy team gets 100g per boss. There are some builds here, that are literally not possible to make leak, just go 11 against them. Causing 1 boss leak with 1 hp, is the same as leaking the entire normal wave, gold-wise. 
            b Good wave for big economic damage.
            br
            br
            br
            b
              span(style='color: #0080ff') Mech:
            |  If you see a low-ish value mech on 9 with a berserker, expect a fatalizer on 10, and save your mythium. Tempest/leviathan gets killed by brute, so go for 1 brute and hermit. If heavy veteran/millenium frontline, go for hermit + lizards. Mass brutes vs fatalizer!
            br
            br
            span(style='color: #8000ff')
              b Forsaken:
            |  Nightmare is good here, if you suspect a doppel like you can with fatalizer, i highly recommend going 11. Forsaken is weak on 11. If you send against gateguards 10 is good, so is 11. If you want to go 10 and not 11, send 1 brute, hermit and lizards. Mass brutes vs Doppel!
            br
            br
            b
              span(style='color: #00b300') Grove:
            |  If canopie/wileshroom, go for brute and lizards. If full nature, drakes/hermit. If mix, go for drake, brute and lizards/dts depending on the nature to canopie ratio.
            br
            br
            b
              span(style='color: #ff8000') Element:
            |  Wave 10 is a weak wave for element. There are things to consider, If they have Aqua combo, any melee/short range unit below 200 mythium, dies for free to the bounces. What you can send: Lizard, Hermit, centaur. If any firelords, lizard spam ftw. Centaur if you saved hard to kill golems, otherwise just 1 hermit and spam lizards. If no aqua combo for some reason, you can send normally. Drake vs violets, lizards vs firelords, snails vs disciple, brute vs golem.
            br
            br
            b
              span(style='color: #808080') Mastermind:
            |  Follow usual rules of sending, don’t send to fatalizer/doppel if it can be avoided. Brute is good for big carry units ( when no splash), lizards vs swift armor like nightmare and berserker, drake vs natural armor. Kill the frontline, kill the lane!
            br
            br
            br
            br
            div(style='text-align: center')
              b
                span(style='text-decoration: underline') Wave 11 
              | ​
            br
            | 					This is the second amazing and usually the best opportunity against cross. ( excluding pyro mass cross). This wave is excellent send against grove, forsaken and the super good wave 10 builds. This wave is the wave to send tanks. Tanks, tanks and more tanks. The more meat you provide to delay the defending units, the more time you buy for the long range bombardment of the Quill shooters.
            br
            br
            br
            b Against cross:
            |  Tanks on non-delayed lane, snails, dinos, kraken there. On delayed lane, go for centaur and GK, even mole. This means the Centaur/GK will flank the defending units while tanks on the other lane delay the killing of the wave as long as possible, giving time for the second wave to arrive. Remember not to send massive units like Kraken/GK/Centaur to lanes with milleniums, disciple/starcaller, but instead send snail/dino mass.
            br
            br
            br
            | 					Tanks to send here: Snail ( especially good vs disciple, violet, milleniums), dinos ( against piercing lanes), Centaur vs Fortified armor ( can be used to bunker buster pyros, golem and such).
            br
            br
            br
            b
              span(style='color: #0080ff') Mech:
            |  Pyro is a perfect unit for this wave, zeus is also very strong. If you send to a lane with these units, send on wave 12 instead and cause big damage. If against berserkers and veterans, send tanks here.
            br
            br
            b
              span(style='color: #8000ff') Forsaken:
            |  Only decent setup for forsaken here is harbingers. Other setups will get destroyed. Send as much HP as possible and see the lane die. IF you send versus harbingers, go for centaur/GK.
            br
            br
            b
              span(style='color: #00b300') Grove:
            |  Has no magic to kill the wave, so only “good” units they have is antler/whitemane. If this happens, 1 hermit is a decent addition, but generally just so many tanks, SO many tanks that even whitemane drops. If you force a whitemane here, grove is dead on wave 15.
            br
            br
            b
              span(style='color: #ff8000') Element:
            |  Has some decent options for this, Golems tank for days, like whitemane. Centaur takes care of those. Be careful vs starcaller/disciple killing the centaur, add snails. Mass snails vs fenix and disciples.
            br
            br
            b
              span(style='color: #808080') Mastermind:
            |  Magic is king here, also needs fortified and nature tanks. Nature tanks are hard to break, but fortified will go down with centaur. Against nature, go hermit and mass tanks, or just don’t save against nature here, unless you try to go for a GG.
            br
            br
            br
            br
            div(style='text-align: center')
              b
                span(style='text-decoration: underline') Wave 12
              | ​
            br
            | 					Another good wave to have a skp send to hit on. Skip 11, 10 is usually long, so is 11, and you hit 300 mythium in the enemy's face and glorious leaks! This wave does a lot of work, when sent against arcane armor, swift armor, impact damage or magic damage. Very good to punish big pushing done after 10, get sweet income gold, weaken the enemy and finish them with a save afterwards.
            br
            br
            br
            span(style='color: #0080ff')
              b Mech: 
            | Pyro is good here, UNLESS you send a centaur, then the defence collapses. Zeus's are literally useless, aps/mps are good, same treatment as pyro. If arcane armor, or berserkers, go pack leader, mole, hermit. If the mech relies on MPS/Pyro or Fatalizer to kill the wave, throw 1-3 brutes in.
            br
            br
            b
              span(style='color: #8000ff') Forsaken:
            |  Gateguards/harbinger can be good here, unless you get a centaur or GK sent. The weak links are  greendevils as well as LoD. Butcher/nightmare can cause problems, but with only 1 doppel, leaks can be caused. Not as good as 11 vs nightmare, not even in the same ballpark, but without nm/doppel, this can be a good wave to send on.
            br
            br
            b
              span(style='color: #00b300') Grove:
            |  Is very good here, I don’t recommend sending vs grove on 12, due to massive amounts of nature armor. If you do, 4e to blast a hole in the tank line. I suggest going 11 or 15.
            br
            br
            span(style='color: #ff8000')
              b Element: 
            | This can be very open for leaking, with the right send and against the right setups. If golem = centaur, if no golems go hermit, mole to cover from aoe, and pack leader for extra juice in the wave’s damage.
            br
            br
            b
              span(style='color: #808080') Mastermind:
            |  Avoid sending to fortified/nature frontline with piercing backline. If fortified/nature front line and impact backline, just centaur/4e the frontline down and leaks will happen.
            br
            br
            br
            br
            div(style='text-align: center')
              b
                span(style='text-decoration: underline') Wave 13
              | ​
            br
            | 					The drill golems, big, big Golems. This wave is a very flexible with mercenary choices, to fit your needs. What you have to be mindful of, is what units the enemy has. This wave can be VERY good against all armor types thanks to sends, but it does not like impact and magic damage that much.
            br
            br
            br
            b
              span(style='color: #0080ff') Mech:
            |  Mech is very good here, BUT you can destroy mech with a good send. Leviathan/tempest heavy set can be killed with Shaman. 4e is also pretty good. Mole counters zeus mass and pyros, so it is a good addition. Milleniums can also be killed quite easily, as you just make sure the wave gets to the milleniums fast enough, so add that damage. Shaman if mainly fortified, auras if zeus and arcane armor heavy.
            br
            br
            b
              span(style='color: #8000ff') Forsaken:
            |  This is one of the best waves to hit forsaken on, as there is basically no impact damage in the race. Doppelganger can be a challenge to kill with sends, but a GK will do the job, and after the doppels are dead, the leaks are as good as guaranteed. IF the forsaken has summoner heavy, centaur will do the job, brute force everything down. Harbinger mass has a chance to hold this, I suggest going 14 or 15 versus them.
            br
            br
            b
              span(style='color: #00b300') Grove:
            |  Can be tricky to take down here, if they have a good mix of antlers/whitemane and canopies. What you want to prioritize, is killing the whitemane with 4e, if the mix is 50/50 go for shaman, as it magic damages whitemane, and buffs the wave for impact damage vs canopies. If banana bunk is in the mix, hermit becomes very good, avoid centaur and GK if daphne mass, as they just debuff and destroy the sends.
            br
            br
            b
              span(style='color: #ff8000') Element: 
            |  is a very strong race here, unless your team needs to GG here. IF you have to send here, do accordingly. If starcaller add 2-3 snails GK also good, if fenix add lizards, if violets 4e and almost always get 4e to kill golems, hermit + mole against violet and aquas. Usual send looks like this: 4e, hermit, mole/2x lizard.
            br
            br
            b
              span(style='color: #808080') Mastermind: 
            | if you send here, most likely it is vs doppels/fatalizers, go GK, if arcane armor units. send shaman, 4e vs nature or fortified. If AoE, add hermit, mole vs mass or zeus.
            br
            br
            | 					The Wave is tanky, with ok HP and some mercenaries going through, 14-16 leaks usually means GG, this means about 4 per lane ( 2-3 wave minions and some sends)
            br
            br
            br
            br
            div(style='text-align: center')
              b
                span(style='text-decoration: underline') Wave 14 
              | ​
            br
            | 					This is a wave like wave 9, that has an extreme defense against specific damage, and that is Spells. This counts honeyflower and deathcap, banana reflect, banana haven split shots, aqua bounces, aqua combo, violet spell, disciple spell, zeus, pyro aoe, fatalizer magic part ( fatalizer is still extremely good here), fire archer spell, and buzz death. What this means in practise is that any unit that is special, is essentially bad on this wave.
            br
            br
            br
            b
              span(style='color: #0080ff') Mech: 
            | Fatalizers, despite the ability, is very good here, so are MPS/APS and veteran. Zeus, pyro are essentially useless here, kill with hermit and mole alone. Add 4e or pack for damage. Or both.
            br
            br
            b
              span(style='color: #8000ff') Forsaken:
            |  Harbingers very weak here, only thing good here from forsaken is doppels. 1 can be broken, sending vs 2 is risky. If your team wants to send here, go GK to kill doppels, if no doppels just go standard auras and 4e.
            br
            br
            b
              span(style='color: #00b300') Grove:
            |  Usually serious canopie mass here, Send centaur + auras against that. If any natural armor like whitemane or flowers, go 4e and centaur.
            br
            br
            b
              span(style='color: #ff8000') Element:
            |  The weakest wave for any race is this wave for Element. Auras and 4e and they WILL leak. Option to go 4e is also very nice is violets and golems
            br
            br
            b
              span(style='color: #808080') Mastermind: 
            | Very good wave to send on when spells are in the lane getting the sends. The wave is naturally tanky, so adding mole + hermit is very good. Pack is good choice when more magic is needed, GK to break swift armor, Centaur to break fortified and arcane.
            br
            br
            br
            br
            div(style='text-align: center')
              b
                span(style='text-decoration: underline') Wave 15
              | ​
            br
            | 					This wave is a nice combination of last magic wave before 20, ranged wave, mini-boss AND the fear of 16 and 17 right after this wave. What you want to do, is make your enemy afraid of 16 and 17, so they build no arcane armor. If they go full arcane armor, skip this and go 16, easy. If they ignore full arcane armor and magic damage, well you are in for a treat! You have two options here, either A) Enable the waves damage, and you send 4e or shaman, or both. B) Tank for the wave so the wave doesn’t get destroyed. How to do this: You send A) when enemy has fortified and natural, for fast destruction. You send B) when enemy has Magic damage and the wave needs to be protected, but the wave still has good damage type for the wave. Don’t send mole here. Hermit is very good. Pack is debatable, i wouldn’t recommend unless vs cross.
            br
            br
            br
            | 					Versus cross, send melee units like centaur, GK, packleader and mole on DELAYED lane. 4e, hermit and shaman on non-delayed lane.
            br
            br
            b
              span(style='color: #0080ff') Mech:
            |  Mech has decent setup here, Zeus are very good, milleniums tank pretty well, Fatalizers are decent. What you need to do, and see what they have and counter that. Magic damage? Send tanks, snail, dino, kraken ( never kraken vs milleniums). Milleniums, leviathan, fatalizer? Send snails to bait millenium/doomsday shots, and add GK if 2+ fatalizers, Centaur to kill leviathans.
            br
            br
            b
              span(style='color: #8000ff') Forsaken:
            |  If they have dogs, you will have a good time. Basically the only good units here are green devils and LoD. Both get killed by Centaur. If these units don’t exist, doesn’t matter much what you send, refer to A) and B) above.
            br
            br
            b
              span(style='color: #00b300') Grove: 
            | Very hard time here, since 0 magic damage. Send centaurs to kill canopies if they are placed well GK if spread out, if they have no canopies just go 4e/shaman and see the lane get destroyed.
            br
            br
            b
              span(style='color: #ff8000') Element:
            |  Fenix super strong = counter is lizards. 4e to kill golems, lizards to kill fire lord, add some snails to bait violet AoE and starcaller/disciple. If disciple heavy, element is easy to break.
            br
            br
            b
              span(style='color: #808080') Mastermind:
            |  Follow A) and B), kill arcane with GK/centaur.
            br
            br
            br
            br
            div(style='text-align: center')
              b
                span(style='text-decoration: underline') Wave 16
              | ​
            br
            | 					This wave is popular, as it comes after a long time after a swift round, so piercing is usually forgotten. Impact also kills tanks so hard, that this wave works against almost all setups. Only things really that hold this: Fenix, fatalizer, doppelganger, grove mix. All of these can be countered with heavy sends. Auras are very good here. 
            b DO NOT SHAMAN HERE.
            br
            br
            br
            b
              span(style='color: #0080ff') Mech:
            |  If 3 fatalizers, go GK, if less just wreck rest of the lane with 4e vs leviathan/pyro heavy builds, if milleniums and fatalizers go GK + auras. Auras are very strong here. Zeus and pyro are not a factor here anymore, as they can’t really do anything.
            br
            br
            b
              span(style='color: #8000ff') Forsaken:
            |  Doppel needs GK to be broken, if harbinger send ceentaur. Add as much auras as possible.
            br
            br
            b
              span(style='color: #00b300') Grove: 
            | antlers, deathcaps, bananas, send 4e + auras. Even double 4e is OK, but if any bananas, make sure you add hermit + mole.
            br
            br
            b
              span(style='color: #ff8000') Element:
            |  good wave for element, send lizards to kill fenix, a lot of lizards. 4e to kill golems and violets, auras to make the wave strong.
            br
            br
            span(style='color: #808080')
              b Mastermind:
            |  Auras are nice addition here, 4e to kill nature/tanks, GK to kill Swift units. Centaur to summoner mass.
            br
            br
            br
            br
            div(style='text-align: center')
              b
                span(style='text-decoration: underline') Wave 17
              | ​
            br
            | 					This is a very nice wave to have after 16, as it is almost polar opposite. This wave wrecks swift, as 16 is bad against swift. This one is good against magic as well. It kills the fatalizers, doppels and fenix that hold 16.
            br
            br
            b
              span(style='color: #0080ff')
                br
                | 					Mech:
            | Hard wave for mech. Only good unit is Leviathans, which are horrible on 16, so if leviathans are here, centaur and auras and GG. If no leviathans, just go auras and 4e, as 4e is better than centaur when it makes it to the boss.
            br
            b
              span(style='color: #8000ff')
                br
                | 					Forsaken:
            |  LoDs/Hades basically non-factor here, only unit to worry about is Harbinger, send centaur. Shaman and auras is also a viable option.
            br
            br
            b
              span(style='color: #00b300') Grove:
            |  Extremely strong here. Antlers/deathcap need a 4e, auras are needed to support the wave. If you have an absurd amount of mythium and there are bananas, send a centaur if the frontline is stacked.
            br
            br
            b
              span(style='color: #ff8000') Element:
            |  Only way to currently hold this wave for element is mass windhawks OR golem + disciple/starcaller spam. This means, send magic. Shaman and 4e both good. I recommend shaman as it gives attack speed which is good against fenix. Auras are also pretty good. Add lizards at the end. If a ton of golems, send 3x 4e.
            br
            br
            b
              span(style='color: #808080') Mastermind:
            |  Bananas are the hardest unit to kill here, i recommend 4e/auras or centaur/auras depending what the other units are. If several Banana havens, double 4e.
            br
            br
            br
            div(style='text-align: center')
              b
                span(style='text-decoration: underline') Wave 18 
              | ​
            br
            | 					A very underrated wave, as it counters almost all units in the game. Swift wave, that hard counters both fatalizer and doppelganger. Only avoid sending here is enemy is super high in Daphne and Bananas. Tanks are very good here, adding 1 hermit is not a bad idea. How this wave works, when you send mass tanks, the wave has time to delete the tanks, and get slow debuffs to the fighters before your sends die, at this point it is already over, unless banana havens and daphne mass is alive.
            br
            br
            b
              span(style='color: #0080ff') Mech: 
            | No good options for holding . Send tanks all the tanks, snails to distract millenium/doomsday, dinos to tank fatalizers. And they will leak. If full fatalizer, go GK
            br
            br
            b
              span(style='color: #8000ff') Forsaken:
            |  Mass harbinger/LoD is hard to make to leak NOT. Send centaur and laugh as the dogs/imps get mowed down.
            br
            br
            b
              span(style='color: #00b300') Grove:
            |  Challenging to make leaks,  Send hermit to counter Banana reflect and send mass dinos and centaurs if consort/canopie mass is big.
            br
            br
            b
              span(style='color: #ff8000') Element:
            |  all the snails and dinos + 1 hermit and leaks WILL happen. DoT from the fogs kills fenix shields, and the piercing damage from the auto attacks kills the fenix. Golems will die fast.
            br
            br
            b
              span(style='color: #808080') Mastermind:
            |  If AoE/thorns, send 1 hermit, If summoners ( harbinger, LoD/hades) or Golem wall send Kraken, and add tanks.
            br
            br
            br
            div(style='text-align: center')
              b
                span(style='text-decoration: underline') Wave 19
              | ​
            br
            | 					Send here if you know you will leak wave 20 and need to panic finish OR you are weak here and enemy has saved long enough to kill you. The wave itself is nice, works against most builds as the impact damage of the wave counters the arcane armor needed for wave 20.
            br
            br
            b
              span(style='color: #0080ff') Mech:
            |  Usually mech is very heavy in milleniums/doomsday here, Shaman + pack counters that very nicely as well as adding snails to bait some shots/volleys. If 3 or more fatalizers, change shaman for GK and add auras.
            br
            br
            b
              span(style='color: #8000ff') Forsaken:
            |  LoD/Hades mass is hard to break, needs centaur/GK to do, Shaman can also do it. If multiple doppels, make it a GK. Auras aren’t super important here, rather go GK + 4e or Shaman + GK. IF you add auras, add pack as priority.
            br
            br
            b
              span(style='color: #00b300') Grove: 
            | The ultimate weakness of Grove with their 0 magic damage. Usual setup here is canopies for wave 20, this means you send auras and 4e to help the wave kill the big whitemane and banana haven. Add shaman/4e if you have the mythium.
            br
            br
            b
              span(style='color: #ff8000') Element: 
            | very strong here, if fenix mass, put auras and MASS LIZARDS. 4e is also ok if you get 5+ lizards and auras and have mythium for GK. add snails to bait disciple/starcaller.
            br
            br
            b
              span(style='color: #808080') Mastermind:
            |  4e for nature tanks, if fortified and nature go for shaman, if aoe auras, GK to kill swift armor. Snails to bait disciple/starcaller and millenium/doomsday.
            br
            br
            br
            div(style='text-align: center')
              b
                span(style='text-decoration: underline') Wave 20 
              | ​
            br
            | 					The Big bad boss. It has 3 bounces for 50% damage, so if there are well, spread-out units like Doomsdays or Banana haven on different sides of the lane, the bounce can be nullified. What you want to send here, is identical for all lanes.
            br
            br
            | 					Shaman top priority. Highest boss DPS increase
            br
            br
            | 					4e is pretty good, but only impacts one of the 4 units hit.
            br
            br
            | 					Snails can be useful for baiting disciple/starcaller spells and doomsday hits
            br
            br
            | 					Against Summoner unit mass, i recommend getting 1 more hard hitting unit like centaur or GK.
            br
            br
            br
            br
            div(style='text-align: center')
              b
                span(style='text-decoration: underline') Wave 21
              | ​
            br
            | 					This becomes a judgement call on WHEN to send, not really what. To send on the correct wave, watch how Your team holds the current wave, if any problems or leaks happen, I recommend sending the next wave. If the enemy team has problems or leaks, i recommend sending the following wave to punish. Every wave is a lot stronger, and when auras, shaman and 4e are added, the increase in power is massive.
            br
            br
            | 					Waves 1-2 should be super easy as you killed bosses to get here.
            br
            | 					Wave 3 is an option IF the enemy has 1-2 lanes that barely clear, or leak a little bit.
            br
            br
            | 					Wave 4 is pretty much guaranteed GG with shaman + 4e.
            br
            br
            br
            | 					Send: Shaman -> 4e.
            br
            br
            br
            br
            br
            b
              span(style='text-decoration: underline') How to send to Cross:
            |  So when sending to cross, there are 2 lanes. 1 lane is delayed with delays ( usually some T1) and one non-delayed lane. Both lanes need different sends. You need 1 aura each, make sure they get sent on the correct lanes.
            br
            br
            br
            | 					Ranged waves are harder for cross than melee waves, due to the arc formed by the wave, possibly ends up having 2x the fire power hitting the wave at once. Boss waves are a lot easier due to delays.
            br
            br
            br
            | 					Delayed lanes: Send melee units, melee auras, things like Brutes, mole, packleader, centaur and GK should be send on this lane.
            br
            br
            | 					Non-delayed lane: Tanks ( snail and dino), ranged units like lizard, hermit, 4e, shaman.
            br
            br
            br
            b Different Builds counters:
            br
            br
            span(style='color: #ff8000') Aqua combo/mass:
            |  Hermit + mole, standard element aqua is weak on 3,7,9,10,14,17
            br
            br
            span(style='color: #ff8000') Violet:
            |  Drake, or Kraken late game
            br
            br
            span(style='color: #00b300') Bananas:
            |  Hermit/mole, late game 4e
            br
            br
            span(style='color: #8000ff') Summoner mass:
            |  1 strong send. Pre-10 drake, post-10 4e/shaman.
            br
            br
            span(style='color: #ff8000') Fenix/fire lord:
            |  Lizards to kill the mana shields. and GK's
            br
            br
            span(style='color: #0080ff') Millenium/Doomsday:
            |  Snails, as many snails as possible. What you can send outside the cool down target the other units.
            br
            br
            span(style='color: #ff8000') Disciple/starcaller:
            |  Snails, as many snails as possible. Kraken also very good.
            br
            br
            span(style='color: #0080ff') Zeus mass
            | : Mole just counters zeus very hard. So does Kraken
            br
            br
            span(style='color: #00b300') Honeyflower/deathcap:
            |  hermit + mole, the unit ability basically stops existing.
            br
            br
            span(style='color: #00b300') Antler/whitemane:
            |  4e = Beef Stroganov
            br
            br
            span(style='color: #0080ff') Pyro:
            |  Hermit + mole or Brutes.
            br
            br
            span(style='color: #00b300') Daphne:
            |  Avoid using big melee mercenaries due to daphne slow being VERY effective at causing downtime.
            br
            br
            span(style='color: #8000ff') Nightmare/doppelganger 
            | or 
            span(style='color: #0080ff') berserker/fatalizer:
            |  Early brutes can cause massive leaks, GK late game.
            br
            br
            span(style='color: #00b300') Canopie mass:
            |  Centaur if they are stacked up, if not go GK
            br
            br
            br
            div(style='text-align: center')
              b
                span(style='text-decoration: underline') Tips and tricks:
              | ​
            br
            ol
              li Destroy the frontline, and the lane will fall. Centaur, 4e, GK are the best.
              li
                | Even tiny leaks early game can be extremely powerful. Do your best to cause these!
              li It is a good idea to have this on your second screen, or alt-tab ready.
              li Big flanking units work miracles against cross.
              li
                | Don't underestimate the burst from disciple/starcaller, millenium/doomsday and Fenix mass.
              li 4e to tank heavy lanes, double 4e even better.
              li Kraken vs mass violets, zeus, disciple/starcaller.
            br
            br
            | 					I hope this list can help people here, This guide should have all builds included, if a build you see if not here, make sure to mention it below and I will test the mercenaries to send against that build!
            br
            br
            br
            | 					If you have comments, think something is horrible/could use improving or other questions regarding this, feel free to comment/pm !
