extend ../../layout
block content
    link(rel='stylesheet', href='/css/guides.css')
    .guide
        h1#guide_title Builds for new Players: Grove
        #guide_author 
            i by 
                a(href="/profile?player=ACrowley") ACrowley
            a(href="/guides", style="float:right;") Back
        #guide_infobox
            #infobox_author Author: 
                a(href="/profile?player=ACrowley") ACrowley
            #infobox_version Version: v5.07
            #infobox_section Section: Grove Guides
            #infobox_content Content:
                ul
                    - for(var i = 1 ; i < 11; i++){
                        li 
                            a(href="#wave"+i)= "Wave"+ i
                    - }
        p.
        #guide_content
            h3 Content
            | Get past the first boss (wave 10) without leaking and with a decent economy!
            br
            br
            | Here&apos;s a build with Grove. As you practice with it, you will learn you can usually build less defenders than the guide suggests to get better economy, or build something different and develop your own build!
            br
            br
            | I am not claiming this build will make you a champion, but it&apos;s proven to get you started strong
            br
            br
            | General info: Whenever you have extra gold, push workers. You will soon learn what you can get away with. You will also learn to suspect when big sends are coming so you can build a little extra to survive or when to build less for better economy. Also, don&apos;t forget to spend your own mythium to increase your income!
            br
            br
            | Also note, these suggestions are to help you not leak even with sends, so often if you don&apos;t think you&apos;ll have a send, you can often stick with what was recommended the previous round and be OK. As you practice the build, you will figure it out
            br
            br
            | Placement is important, so I provide screenshots.
            br
            b
            br
            br
            | Wave 1
            br
            br
            a.externalLink(href='https://steamuserimages-a.akamaihd.net/ugc/1018322640545653616/9D462C7C9DF4807EEAAE7C4FB8CE260C1CFB943B/' target='_blank' rel='nofollow')
            img.bbCodeImage.LbImage(src='https://steamuserimages-a.akamaihd.net/ugc/1018322640545653616/9D462C7C9DF4807EEAAE7C4FB8CE260C1CFB943B/' alt='[​IMG]' data-url='https://steamuserimages-a.akamaihd.net/ugc/1018322640545653616/9D462C7C9DF4807EEAAE7C4FB8CE260C1CFB943B/')
            br
            br
            | Start with building a Honeyflower along the left wall. This will allow you to immediately build 2 extra workers. Don&apos;t forget to spend your 20 mythium, you will need the income next round. Spending mythium increases your income, which gives you more gold next round!
            br
            br
            | Don&apos;t worry if you get a send, your Honeyflower can handle it! Honeyflower does splash damage to enemies near it. It&apos;s weak but it works well on this wave.
            br
            br
            | You&apos;re building near the bottom of your lane to give your Wileshrooms and Canopies time to regenerate health later.
            br
            br
            br
            b Waves 2 and 3 
            br
            | Next, build a Wileshroom. This is a strong melee fighter. Position is important, so place it like shown in the picture.
            br
            | Don&apos;t be alarmed that Wileshroom starts the round with missing health, it has an ability to regenerate!
            br
            br
            a.externalLink(href='https://steamuserimages-a.akamaihd.net/ugc/1018322640545747699/315941DF45B2CEDF8A7500B8D245D84DD4ACBF5A/' target='_blank' rel='nofollow')
            img.bbCodeImage.LbImage(src='https://steamuserimages-a.akamaihd.net/ugc/1018322640545747699/315941DF45B2CEDF8A7500B8D245D84DD4ACBF5A/' alt='[​IMG]' data-url='https://steamuserimages-a.akamaihd.net/ugc/1018322640545747699/315941DF45B2CEDF8A7500B8D245D84DD4ACBF5A/')
            br
            br
            | This will stop Wave 2 AND Wave 3, even if you get sends.
            br
            br
            | I won&apos;t tell you when to build workers anymore, because it is very game-dependent.
            br
            | You want to make sure by the start of Wave 4, you have 200 gold saved. So I don&apos;t suggest building more workers yet, unless you are rich.
            br
            br
            | (Add your gold + income to know what you will have at the start of the next round. You increase your income by spending mythium)
            br
            br
            br
            b Wave 4 
            br
            | Click on your Wileshroom and upgrade it to a Canopie.
            br
            br
            | Like Wileshroom, Canopie is a strong melee fighter that regenerates health.
            br
            br
            | Also, add a Buzz where it is shown in the picture. Buzz is your insurance in case you get sends, it will hold. Also, you will upgrade Buzz later into a stronger fighter.
            br
            br
            a.externalLink(href='https://steamuserimages-a.akamaihd.net/ugc/1018322640545764743/9270315CE79554BE959A21E0BB7AE0463B91E309/' target='_blank' rel='nofollow')
            img.bbCodeImage.LbImage(src='https://steamuserimages-a.akamaihd.net/ugc/1018322640545764743/9270315CE79554BE959A21E0BB7AE0463B91E309/' alt='[​IMG]' data-url='https://steamuserimages-a.akamaihd.net/ugc/1018322640545764743/9270315CE79554BE959A21E0BB7AE0463B91E309/')
            br
            br
            br
            b Wave 5 (mini-boss)
            br
            | This is a popular wave to get sends, and you want to be prepared. Build another Wileshroom
            br
            br
            a.externalLink(href='https://steamuserimages-a.akamaihd.net/ugc/1018322640545772330/A74F10A20CF9156759789A1152EB70847E026B3C/' target='_blank' rel='nofollow')
            img.bbCodeImage.LbImage(src='https://steamuserimages-a.akamaihd.net/ugc/1018322640545772330/A74F10A20CF9156759789A1152EB70847E026B3C/' alt='[​IMG]' data-url='https://steamuserimages-a.akamaihd.net/ugc/1018322640545772330/A74F10A20CF9156759789A1152EB70847E026B3C/')
            br
            br
            br
            b Wave 6
            br
            | Remember that Buzz you made a few waves back? Time it upgrade it to its full potential!
            br
            | Click on the Buzz and upgrade it to a Consort.
            br
            br
            a.externalLink(href='https://steamuserimages-a.akamaihd.net/ugc/1018322640545780145/70F104083A989DA9D571D479F59961914C67BC2E/' target='_blank' rel='nofollow')
            img.bbCodeImage.LbImage(src='https://steamuserimages-a.akamaihd.net/ugc/1018322640545780145/70F104083A989DA9D571D479F59961914C67BC2E/' alt='[​IMG]' data-url='https://steamuserimages-a.akamaihd.net/ugc/1018322640545780145/70F104083A989DA9D571D479F59961914C67BC2E/')
            br
            br
            | This is another popular wave for sends, but with this build you are protected up to 100 mythium.
            br
            br
            | Remember: Anytime you are scared of a big send and you have the gold, you can build the next recommended unit(s) early, or anything else you think can help. Also if you are confident you can survive with less, then build workers.
            br
            br
            br
            b Wave 7
            br
            | For this wave, add another Consort. First, build a Buzz and then click on it and buy the upgrade.
            br
            br
            a.externalLink(href='https://steamuserimages-a.akamaihd.net/ugc/1018322640545788944/DC2153F565EC34B713246AF88A473AC34C1DEAA8/' target='_blank' rel='nofollow')
            img.bbCodeImage.LbImage(src='https://steamuserimages-a.akamaihd.net/ugc/1018322640545788944/DC2153F565EC34B713246AF88A473AC34C1DEAA8/' alt='[​IMG]' data-url='https://steamuserimages-a.akamaihd.net/ugc/1018322640545788944/DC2153F565EC34B713246AF88A473AC34C1DEAA8/')
            br
            br
            | Be saving your gold, next wave is tough and you will need the gold!
            br
            br
            br
            b Wave 8 
            br
            | Add another Consort (build a Buzz, then buy the upgrade) and 2 Rangers.
            br
            br
            a.externalLink(href='https://steamuserimages-a.akamaihd.net/ugc/1018322640545797352/A1590A379F4D16162D566C4AA4027ED955CAED80/' target='_blank' rel='nofollow')
            img.bbCodeImage.LbImage(src='https://steamuserimages-a.akamaihd.net/ugc/1018322640545797352/A1590A379F4D16162D566C4AA4027ED955CAED80/' alt='[​IMG]' data-url='https://steamuserimages-a.akamaihd.net/ugc/1018322640545797352/A1590A379F4D16162D566C4AA4027ED955CAED80/')
            br
            br
            | Rangers are long ranged units that do bonus damage against bosses. They do Pierce damage, which helps on this wave, and then you can count on them for Wave 10 later!
            br
            br
            | (If you have not already looked at damage and armor types, it is a good idea to check out after you get comfortable with the game. It helps you understand the game at the next level)
            br
            br
            br
            b Wave 9
            br
            | Add one more Consort here.
            br
            | (Buy a new Buzz and upgrade it)
            br
            br
            a.externalLink(href='https://steamuserimages-a.akamaihd.net/ugc/1018322640545817340/274981292CE6C031845D8E5AFE29CACF617EF06F/' target='_blank' rel='nofollow')
            img.bbCodeImage.LbImage(src='https://steamuserimages-a.akamaihd.net/ugc/1018322640545817340/274981292CE6C031845D8E5AFE29CACF617EF06F/' alt='[​IMG]' data-url='https://steamuserimages-a.akamaihd.net/ugc/1018322640545817340/274981292CE6C031845D8E5AFE29CACF617EF06F/')
            br
            br
            | Once again, you should be safe from sends up to 100 mythium in value. If you expect bigger sends, build extra defence. Otherwise, just build workers when you can afford them.
            br
            br
            | However, Wave 10 is next. It is popular for sends, so unless you don&apos;t expect sends, you want gold for extra defenders
            br
            br
            br
            b Wave 10 (Boss) 
            br
            | Wave 10 is the big boss!
            br
            | If you do not expect any sends, you still need to upgrade one of your Rangers to a Daphne for 125 gold.
            br
            br
            | Daphne has an ability that will make the boss take extra damage from your other units. Plus, like the Ranger, Daphne does bonus damage vs the boss
            br
            a.externalLink(href='https://steamuserimages-a.akamaihd.net/ugc/1018322640545836478/3C0687DB91035CE9A4F3000C835B78594592EB7B/' target='_blank' rel='nofollow')
            img.bbCodeImage.LbImage(src='https://steamuserimages-a.akamaihd.net/ugc/1018322640545836478/3C0687DB91035CE9A4F3000C835B78594592EB7B/' alt='[​IMG]' data-url='https://steamuserimages-a.akamaihd.net/ugc/1018322640545836478/3C0687DB91035CE9A4F3000C835B78594592EB7B/')
            br
            br
            | However, since you will likely get sends, you want to build extra defence so you don&apos;t leak and miss out on gold from this juicy boss!
            br
            | Look at the picture below, build anything you can afford, that is the dream team for surviving Wave 10
            br
            br
            a.externalLink(href='https://steamuserimages-a.akamaihd.net/ugc/1018322640545857893/CD3439038FBA2683F794177BF78A3CD4D35D9135/' target='_blank' rel='nofollow')
            img.bbCodeImage.LbImage(src='https://steamuserimages-a.akamaihd.net/ugc/1018322640545857893/CD3439038FBA2683F794177BF78A3CD4D35D9135/' alt='[​IMG]' data-url='https://steamuserimages-a.akamaihd.net/ugc/1018322640545857893/CD3439038FBA2683F794177BF78A3CD4D35D9135/')
            br
            br
            | I hope you liked this guide and that it will help you get started learning the game with Grove. Practice with it and make changes as you get better. Have fun!
