extend ../../layout
block content
    link(rel='stylesheet', href='/css/guides.css')
    .guide
        #amazon_ad
        h1#guide_title How to be a Grove Main
        #guide_author 
            i by 
                a(href="/profile?player=haze_tech") Haze_Tech
        a(href="/guides", style="float:right;") Back
        #guide_infobox
            #infobox_author Author: 
                a(href="/profile?player=Isotrop") Haze_Tech
            #infobox_version Version: v3.35
            #infobox_section Section: Grove Guides
            #infobox_content Content:
                ul
                    - for(var i = 1 ; i < 21; i++){
                        li 
                            a(href="#wave"+i)= "Wave "+ i
                    - }
        p.
        #guide_content
            b Notes:
            br
            ul
                li
                  | First off i am making this guide b/c there hasn't been an updated grove guide (that i know of), for a long time.
                li
                  | After playing grove for a while, i think i am ready to share with you guys the build that i have been using. so far i have made it to 3rd place on the Grove leader boards and my overall elo is about 1900. So i am not the best play in the game by far but i think this build can be competitive in high elo play.
                li
                  | Keep in mind that this build will probably take a while to get used to especially on waves 5-8, which are very tough waves for Grove b/c it relies on you accurately guessing what your opponent will do.
                li
                  | in this guide i will not talk about when you should be buying workers other than the first few waves. It is up to you as the player to judge when you should be buying workers. This is just a guide of what you should be building towards.
                li
                  | Lastly keep in mind that this build is weak on waves 13 and 15, so you should tell your team mate this and ensure that as a team you have a way to survive those waves.
                li if you would like to see me play the build live: 
                span(data-s9e-mediaembed='twitch', style='display:inline-block;width:100%;max-width:640px')
                    span(style='display:block;overflow:hidden;position:relative;padding-bottom:56.25%')
                        iframe(allowfullscreen='', scrolling='no', style='border:0;height:100%;left:0;position:absolute;width:100%', src='//player.twitch.tv/?autoplay=false&channel=haze_tech')
                li video for the Guide:
                span(data-s9e-mediaembed='youtube', style='display:inline-block;width:100%;max-width:640px')
                    span(style='display:block;overflow:hidden;position:relative;padding-bottom:56.25%')
                        iframe(allowfullscreen='', scrolling='no', style='background:url(https://i.ytimg.com/vi/P4gKPALF1f4/hqdefault.jpg) 50% 50% / cover;border:0;height:100%;left:0;position:absolute;width:100%', src='https://www.youtube.com/embed/P4gKPALF1f4')
            br
            b#wave1 Wave 1:
            br
            | Start with a Honeyflower and 4 workers, Hire your fifth worker as soon as possible during the wave.
            br
            br
            b
                img(src='/img/guides/hazetechgrove/wave1.png', title='Wave 1')
                br
                br#wave2
                | Wave 2:
            br
            | Buy 2 Buzz, Make sure to send at least 40 mythium of mercs during wave 2, do not buy a worker if you get sent on wave 2. This will always leak to a DT send.
            br
            b
                br
                img(src='/img/guides/hazetechgrove/wave2.png', title='Wave 2')
                br
                br#wave3
                | Wave 3:
            br
            | Buy a Wileshroom. This will hold a 60 send
            br
            b
                br
                img(src='/img/guides/hazetechgrove/wave3.png', title='Wave 3')
                br
                br#wave4
                | Wave 4:
            br
            | Buy a Consort. This will hold a 80 send
            br
            br
            b
                img(src='/img/guides/hazetechgrove/wave4.png', title='Wave 4')
                br
                br#wave5
                | Wave 5:
            br
            | Buy 3 Buzz and a Ranger. this will hold an 80 send, and will hold a 100 send about 80% of the time
            br
            b
                br
                img(src='/img/guides/hazetechgrove/wave5.png', title='Wave 5')
                br
                br#wave6
                | Wave 6:
            br
            | This is the wave where the build can go one of two different ways.
            br
            br
            ul
                li if you received a send on wave 5 DO NOT build anything here, you need to shift gold to get a Banana Bunk on wave 7. not building anything will hold a 40 send, sometimes a 60 send.
                li if you did not get sent on wave 5 build a Wileshroom, and 3 more Buzz, this will hold a 140 send, sometimes a 160 send.
            b Only build this if you did not get sent on wave 5:
            br
            img(src='/img/guides/hazetechgrove/wave6.png', title='Wave 6')
            br
            br#wave7
            b Wave 7:
            br
            br
            | Now at this point depending on what you did on wave 6 one of two things will happen:
            br
            ul
                li
                | first, if you got sent on wave 5 and saved your gold through wave 6 you should now buy a Banana Bunk. This will hold a 180 send.
                li
                | Second, if you got sent on wave 6 do not buy anything here you now need to save your gold to get a Banana Bunk on wave 8. not building anything will hold a 40 send, sometimes a 60 send.
            b
                img(src='/img/guides/hazetechgrove/wave7.png', title='Wave 7')
                br
                br#wave8
                | Wave 8:
            br
            | This is where the outcomes i talked about previously meet up.
            br
            ul
                li
                | if you saved gold through wave 7 you should now buy a Banana Bunk. This will hold a 240 send.
                li
                | if you already have a Banana bunk b/c you got it on wave 7 you don't need to build here. You will hold a 160 send, if you are expecting a larger send than that you can build a couple Rangers.
            b
                img(src='/img/guides/hazetechgrove/wave7.png', title='Wave 8')
                br
                br#wave9
                | Wave 9:
            br
            | here you can buy an Antler and 3 Buzz, this will hold a 180 send. If you are expecting a larger send, build 2 more rangers, this will hold a 240 send.
            br
            b
                br
                img(src='/img/guides/hazetechgrove/wave9.png', title='Wave 9')
                br
                br#wave10
                | Wave 10:
            br
            | For wave 10 buy 4 Rangers. This can hold at least a 200 send.
            br
            b
                br
                img(src='/img/guides/hazetechgrove/wave10.png', title='Wave 10')
                br
                br#wave11
                | Wave 11:
            br
            | Here just Buy 2 Daphne. If you are expecting a large send get a Banana Haven.
            br
            b
               br
               img(src='/img/guides/hazetechgrove/wave11.png', title='Wave 11')
               br
               br#wave12
               | Wave 12:
            br
            | Now buy a Whitemane. at this point you are mostly setting up for a send on wave 13 which is a very weak wave for this build.
            br
            b
                br
                img(src='/img/guides/hazetechgrove/wave12.png', title='Wave 12')
                br
                br#wave13
                | Wave 13:
            br
            | This is one of the weaker waves for this build so you should plan to be over value for wave 13. Buy a Daphne, a Canopie, 3 rangers and 1 Buzz. its very important that you get the Buzz as it will pull the 4eye into the split. This will hold a 280 send and sometimes a 300 send depending on the mercs. If you are expecting a larger send buy more Daphne.
            br
            b
                br
                img(src='/img/guides/hazetechgrove/wave13.png', title='Wave 13')
                br
                br#wave14
                | Wave 14:
            br
            | from this point on i am going to show you what you would want to hold a send on any of the coming waves, its up to you to adapt to what your opponent is doing and when you expect a send. For 14 buy 2 Canopies.
            br
            b
                br
                img(src='/img/guides/hazetechgrove/wave14.png', title='Wave 14')
                br
                br#wave15
                | Wave 15:
            br
            span(style='text-decoration: underline')
                | At this point you need to sell that Buzz on the right side that you built on wave 13
            | . Also i know Deathcaps are not the best unit on this wave but if you build more Canopies you end up being too weak on the coming waves, so plan to be over value on wave 15 in order to hold. Build 1 Daphne, and 2 Deathcaps.
            br
            b
                br
                img(src='/img/guides/hazetechgrove/wave15.png', title='Wave 15')
                br
                br#wave16
                | Wave 16:
            br
            | Build 1 Deathcap. this can hold a 520 send. If you expect a larger send buy more Deathcaps.
            br
            b
                br
                img(src='/img/guides/hazetechgrove/wave16.png', title='Wave 16')
                br
                br#wave17
                | Wave 17:
            br
            | This build is actually very strong on this wave all you need is 1 Banana Haven. If you expect a very large send build more Deathcaps.
            br
            b
                br
                img(src='/img/guides/hazetechgrove/wave17.png', title='Wave 17')
                br
                br#wave18
                | Wave 18:
            br
            | Build 3 Deathcaps.
            br
            b
                br
                img(src='/img/guides/hazetechgrove/wave18.png', title='Wave 18')
                br
                br#wave19
                | Wave 19:
            br
            | Build an antler and another Banana Haven.
            br
            b
                br
                img(src='/img/guides/hazetechgrove/wave19.png', title='Wave 19')
                br
                br#wave20
                | Wave 20:
            br
            | in order to hold a Shaman send on wave 20 you would need something like this.
            br
            br
            img(src='/img/guides/hazetechgrove/wave20.png', title='Wave 20')

