extend ../../layout
block content
    .content
        .guides(style="text-align:center;")
            h2 Grove Guide [1.77]
            i
                | by 
                a(href='https://ltdstats.com/profile?player=TheRatedR') TheRatedR
                | , Mar 02, 2018
            p
                | Hey Guys, due to the latest updates the meta changed nearly completely.. So here is a guide for those who aren‘t able to succeed with grove atm. As always, keep in mind that nearly every legion game is different and your build depends heavily on the enemy saves and the avaiable legion spells.
                br
                |                         Before i start: i will not go closer into the legion spells, due it‘s completely new and it will be needed to change builds a lot.
                br
                br
                |                         So it is important to know that this guide is mainly for grove beginners. If u are 1600 and above u will need to adapt your build a lot, due to better coordinated saves.
                br
                |                         To my person: My Name is TheRatedR i am currently around 1800 rating, and around #50 overall with grove, and this build still works out pretty well for me.
                br
                |                         Also i try to explain a few possiblities how to build if the enemy is saving, cause i feel a lot of the newer players have a problem with it.
                br
                br
                |                         Before i start: i tried a lot of different possiblilites to find the best placement. ( for me )
                br
                |                         It‘s just a suggestion from me. It‘s by far not the only viable possiblity. So feel free to try different ones for yourself.
                br
                br
                |                         Wave 1:
                br
                |                         You start with an honeyflower.
                br
                |                         Go 3 squares down and one diagonal square down to the right.
                br
                |                         ( u will see in the image below what i mean :D )
                br
                |                         ( Start counting after the half square! )
                br
                |                         Push your 2nd worker before the wave starts.
                br
                img.bbCodeImage.LbImage(src='https://legiontd2.com/community/attachments/wave1-png.3582/', alt='Wave1.png', style='')
                br
                |                         Wave 2:
                br
                |                         Go for a whileshroom one diagonal square up ( to the left )
                br
                |                         If your enemy sended a snail on 1 u can go for ur 3rd worker here.
                br
                |                         ( but it is a bit risky: if u get a snail on 3 you will leak )
                br
                img.bbCodeImage.LbImage(src='https://legiontd2.com/community/attachments/wave2-png.3583/', alt='Wave2.png', style='')
                br
                |                         Wave 3:
                br
                |                         Go for another whileshroom one diagonal square down ( to right ) next to ur honeyflower.
                br
                |                         If ur opponent saved all game long u might not able to buy the whileshroom.
                br
                |                         In that case go for a ranger and a buzz.
                br
                |                         If u got a send already ( more than 20 ) you can push ur 3rd worker here.
                br
                br
                |                         → i will stop describing the placements here, you can see it in the images anyway
                br
                img.bbCodeImage.LbImage(src='https://legiontd2.com/community/attachments/wave3-png.3584/', alt='Wave3.png', style='')
                br
                br
                |                         Wave 4:
                br
                |                         Here it depends if you were able to push ur 3rd worker on wave 3:
                br
                |                         2 worker + expecting a bigger send ( 60 - 100 ):
                br
                |                         Whileshroom / Honeyflower / Whileshroom / Ranger / Ranger
                br
                br
                |                         3 worker + expecting no bigger send ( 0 – 40 ):
                br
                |                         Whileshroom / Honeyflower / Whileshroom / Ranger
                br
                br
                br
                |                         You need to be on 3 workers after round 4!
                br
                img.bbCodeImage.LbImage(src='https://legiontd2.com/community/attachments/wave4-png.3585/', alt='Wave4.png', style='')
                br
                br
                |                         Wave 5:
                br
                |                         For this wave you add another Ranger( if you didn't got the 2nd Ranger already ) and a buzz. If you expect a bigger send on this wave, just add a few more buzzes behind ur whileshrooms, honeyflowers. If you are fed u can go for a 3rd ranger here too.
                br
                br
                |                         If ur enemy kept sending then push ur 4th worker here.
                br
                img.bbCodeImage.LbImage(src='https://legiontd2.com/community/attachments/wave5-png.3605/', alt='Wave5.png', style='')
                br
                |                         Wave 6:
                br
                br
                |                         Build with no bigger send expected ( 0 – 60 ):
                br
                |                         Whileshrooms / Honeyflower / Whileshroom / 3 Buzz / 3 Ranger → 545 Value
                br
                br
                |                         Build with bigger send expected ( 2 possibilities → depends on your gold / income ):
                br
                |                         Canopie / Honeyflower / Whileshroom / 3 Ranger  → 675 Value
                br
                br
                |                         or ( which i prefer for later rounds more ):
                br
                br
                |                         Whileshroom / Honeyflower / Whileshroom / Consort / 2 Buzz / 3 Ranger → 630 Value
                br
                |                         ( will be hard tho to hold a bigger send with this setup )
                br
                br
                |                         After wave 6 you should be on 4 – 5 workers.
                br
                |                         ( even 6 are possible if there where a lot of leaks, and/or ur opponent kept sending every round )
                br
                img.bbCodeImage.LbImage(src='https://legiontd2.com/community/attachments/wave6-png.3602/', alt='Wave6.png', style='')
                br
                |                         Wave 7:
                br
                |                         Go for a Consort here. Since the change to consorts you can‘t go hard under value
                br
                |                         as usual with this build anymore. Usally i don‘t push a worker here, cause i really need to hold 8.
                br
                |                         if u expect a big send here ( 100 + ) then upgrade ur first whileshroom into a canopie.
                br
                img.bbCodeImage.LbImage(src='https://legiontd2.com/community/attachments/wave7-png.3588/', alt='Wave7.png', style='')
                br
                |                         Wave 8:
                br
                |                         Upgrade ur fisrt whileshroom into a Canopie if u didn‘t do that already.
                br
                |                         On Wave 8 your Value needs to be around 870 – 930, due its really hard to hold it undervalue
                br
                |                         with this set up. So if u got some more money left, add some more buzzes or upgrade the middle ranger into a daphne.
                br
                |                         If u hold ur lane well, you can push another worker here.
                br
                img.bbCodeImage.LbImage(src='https://legiontd2.com/community/attachments/wave8-png.3589/', alt='Wave8.png', style='')
                br
                |                         Wave 9:
                br
                |                         Upgrade your second whileshroom into a canopie.
                br
                br
                |                         Ur setup should look like this:
                br
                br
                |                         Canopie / Honeyflower / Canopie
                br
                |                         Buzz / Consort / Buzz / Buzz / Buzz
                br
                |                         Ranger / Ranger / Ranger →  1050 Value
                br
                br
                |                         If u got a send on 8 or 9 u can push another worker her safely, due you are really strong on wave 10, even with a 150 – 200 send.
                br
                br
                |                         U should be around ~ 6-7 workers here.
                br
                img.bbCodeImage.LbImage(src='https://legiontd2.com/community/attachments/wave9-png.3590/', alt='Wave9.png', style='')
                br
                |                         Wave 10:
                br
                |                         Here you should have 4-5 Consorts. If you got a daphne already 3 consorts should be enough.
                br
                br
                |                         Like i said before this is a very good wave for grove, u are able told this wave even with a 100-160 send.
                br
                br
                |                         Push a worker here if ur enemy is sending if not, maximize ur value, due 11 is not the best wave for u.
                br
                |                         Due to the Legion Spells from now on the build is very situational, so u will need to adapt your build yourself a bit.
                br
                br
                |                         You should be on 7-10 workers now.
                br
                img.bbCodeImage.LbImage(src='https://legiontd2.com/community/attachments/wave10-png.3591/', alt='Wave10.png', style='')
                br
                |                         Wave 11:
                br
                |                         On 11 it depends hard what to build, if ur enemy is saving or not.
                br
                |                         With the new patch coming, it is really hard to make a save guide from here, cause it will depend so much on the legion spell you and you‘re enemy choose. So i can just tell you what to build if there is no bigger send expected.
                br
                br
                |                         No send:
                br
                |                         Build a antler infront of your first canopie.
                br
                |                         If u got some money left add some buzzes on the right site.
                br
                |                         Value: ~ 1550 - 1650
                br
                br
                img.bbCodeImage.LbImage(src='https://legiontd2.com/community/attachments/wave11-png.3592/', alt='Wave11.png', style='')
                br
                |                         Wave 12:
                br
                |                         Upgrade ur antler into a whitemane if possible, if not add some more buzzes and a consort
                br
                |                         Ur value should be around ~ 1850 now.
                br
                img.bbCodeImage.LbImage(src='https://legiontd2.com/community/attachments/wave12-png.3593/', alt='Wave12.png', style='')
                br
                |                         Wave 13:
                br
                |                         Add more whileshrooms or another canopie. ~2250 Value
                br
                img.bbCodeImage.LbImage(src='https://legiontd2.com/community/attachments/wave13-png.3594/', alt='Wave13.png', style='')
                br
                |                         Wave 14:
                br
                |                         Add more Whileshrooms and upgrade them. ( You should have 3– 4 Canopies here ) ~ 2450 - 2600
                br
                img.bbCodeImage.LbImage(src='https://legiontd2.com/community/attachments/wave14-png.3603/', alt='Wave14.png', style='')
                br
                |                         Wave 15:
                br
                |                         Here you should have 1 Whitemane, 1 Deathcap,  ~5 Canopies, 5-6 Consorts, 2-3 rangers, 1-2 daphnes and just a bunch of Buzzes on the right site. You might leak the small minions if u get a bigger send but the king normally kills them instantly.
                br
                |                         → this is one of the weak waves with this setup
                br
                img.bbCodeImage.LbImage(src='https://legiontd2.com/community/attachments/wave15-png.3604/', alt='Wave15.png', style='')
                br
                |                         Wave 16 : place 1-2 Banana Bunks in the middle of your lane ( if u got enough gold u can upgrade the first one into an banana haven instant )
                br
                img.bbCodeImage.LbImage(src='https://legiontd2.com/community/attachments/wave16-png.3597/', alt='Wave16.png', style='')
                br
                |                         Wave 17 : Upgrade the 1st Bunk into a Banana Haven. If u already did that, push worker if u got a send or build a 2nd bunk.
                br
                img.bbCodeImage.LbImage(src='https://legiontd2.com/community/attachments/wave17-png.3598/', alt='Wave17.png', style='')
                br
                |                         Wave 18:
                br
                |                         You might add Flowers ( as much as possible ) here to be able to hold this wave but normally games dont go this long. So try to finish before this wave hits your game. You will need at least 4 deathcaps to hold this with a send, most of the time you will stil leak here..
                br
                img.bbCodeImage.LbImage(src='https://legiontd2.com/community/attachments/wave18-png.3601/', alt='Wave18.png', style='')
                br
                |                         Wave 19 : Upgrade the 2nd Bunk, if u got some gold left and the game might advances to wave 20
                br
                |                         go for some more daphne‘s. If you are sure the game ends on 19 go for another bunk / haven.
                br
                img.bbCodeImage.LbImage(src='https://legiontd2.com/community/attachments/wave19-png.3600/', alt='Wave19.png', style='')
                br
                |                         Wave 20/21:
                br
                |                         If the game really goes on this long, don‘t build to much in the front lane anymore, due to the massive bounce damage of wave 20.
                br
                |                         Go for ranger / daphne‘s behind ur consorts and some canopies.
                br
                |                         Ranger / Daphne: They slow down the bosses and reduce their damage.
                br
                |                         Canopies: Are very good on wave 20 cause of their type: impact / arcane
                br
                |                         To be honest: in the current meta grove is pretty weak wave 20 / 21.
                br
                img.bbCodeImage.LbImage(src='https://legiontd2.com/community/attachments/wave20-png.3599/', alt='Wave20.png', style='')
                br
                |                         I hope this guide helps some of you, and again i know it‘s is not perfect but it should work out pretty well 90 % of your games :)
                br
                br
                |                         Thx guys and have fun!
                br
                br
                |                         See you ingame! :D
                br
                i TheRatedR
