extend ../layout
block content
    link(rel='stylesheet', href='/css/createguide.css')
    .guide
        h1 Create a Guide
        b Preamble:
        #guide_preamble
            textarea(rows="4" cols="150")#input_preamble
        #guide_infobox
            #infobox_author Author: 
            #infobox_version Version:
            #infobox_section Section:
                
        