extend ../layout
block content
    .content
        .guides(style="text-align:center;")	If you want your guide uploaded here, feel free to contact me: info@ltdstats.com
            br
            img(src="../img/Element.png")
            h2 Element Guides:
            h4 Video Guides:
            br
            h4 Text guides:
            a(href="/guides/element/basics") Element Basics Guide/Build
            br
            a(href="/guides/element/wadi") Element Guide by Wadi94