extend ../layout
block content
    .content
        .guides(style="text-align:center;")	If you want your guide uploaded here, feel free to contact me: info@ltdstats.com
            br
            img(src="../img/Forsaken.png")
            h2 Forsaken Guides:
            h4 Video Guides:
            a(href="https://www.youtube.com/watch?v=aCcZAQRu2R0", target="_blank") Isotrop's & Weilbockt's Forsaken Guide [1.61]
            h4 Text guides:
            br
            h4 Builds:
            a(href="/builder?b=IwfQTgZg9mDOCGBrApgOxAG2QcwJZXVwBMAUADAHYAXAIwORAHd4wx8wQBXVXKkYgAACABADBRtekxZsYXHn0EAgYQCgJdVAwDGYTrAAWyDt178iIsRqm79RkwvMq11rdNbt5Z4koDAwgAgAGEk3Zg85U0UiXwBQYQAEVwZw2QdvGIBwYQFRWAhcMAYWbXsvaP9AkM0UmU8o8wAQUTVqqVT6x2JG7NE2sLrIrqJYkmElTNDaiPTo0eEAOEmakFtDY3LzeMS8gqKQErKG4hbW/MLisFKN46JssX6dPXXZ83vcqfc0zeJM7KDHl9OhkAgFhACAI5EFiIEAAW3g2AYtzB4KCUBonCo11exACAGhAgEITxsAYqAj9rcAJAAWHBqgh2HgVBwnBYRB+RGpqjUxIMLBouFQSNxRF5fIhRngnOuEC5hKJTJZbI5XKCCzEAQxWJx6uEgVUVCIUAADqbkBhmSKbsN6QypYLhaKuZqtZwMDBOVB5URkCyDK6AIhiRmk8mU5HDADwCUWqg9XpAPpAfoDXOjACQ1EaTebLdaXbc4/HPh0hhkEnGFkEoTD4Yio5WDTXTcywNgoABPLD68GiNssTs9pvRIIGgLJIEV6K06tBQcd7u925u5rK1nYdlgTm3aMhxrE6FgWEIpFcks1x1gIU2sUh4SHuECv2wLkP0SqZ8y5Bv27ZnMy0Ge8D0BcsQPGWtj1PRt3wNJQoPrM9R3MB9GiCRMd2TX1/SoQN/wAZEfL8X1/LkiOIzDvRw9NbgIoilBIn8/2GCjGKo7DU1w/DhhIMYggCb9Xy5MZwSPJDYNuUSljrE8G3PKT4L+VBGBgFAxSEFS1NtDIAEBdK0k8dOiRolEM9SuViXxzOM8xREaGyxUyWJHK5dQgA===") Bonecrusher early push [1.70]
            br
            a(href="/builder?b=IwfQTgZg9mDOCGBrApgOxAG2QcwJZXVwBMAUADAA4BHVXbACwBcBbeMZEAV1sZGIAAAkAAIAUADhGAIwIcA7mzD4wXHnyIBAAEDDxAGCpE2iEK2wduuXsR269UKZ0YBjeshWXrRACABoYXoAsAAO2GzYUACeWKpW6gCgABDCAAgA4FRhjDicbESxXgBgoqm+oeFRMZ7qacLC/GnlYBHRFmrEaXq6iU0tVe1EtcJaibDY7GggRMgAbrgYBerJqWmMRFDBwcgYYajmHgMiYuJU9GxSuHvui8QlpZnw2di5YPnVt10pgqfI8PmuyAgNyI/gCgVO50u+2BXVSgl6lTacWIenE3QRrRhdSEGP6yKIsK0ohodCYrHYwMCaMSAHgHE4AQd8YE6noabikV4WfVfGsNlsdvArkyvGjhLSxhN0NM5gt3kQxeJEpwMDB8lAgdNHvRgTSUrpRBzdQBkALwsLNRG6urec0VTHymnYkIWvqc9RO4Z6ZhnaawYH6g0PJ4vN4DFL6xLgs5gC7CgN1KMqtUgDVTX6MHXygCI2YCvh9f2Q/pzrN8ydeqc1GazAwASHWxN7fcXgY2m0b5e2/J36zaXfa8V521pxL38e3+DSK+rq9rgcbTYVm0WSwNTcJl+OvBu9IJpLIQAowEoYMDxGiL4ZjKZ4OZz3ULwfUPJFMoF6aUoFn6+T+/5YuqQ0j+R5vmeAGmuIKQgcep4iuogGiCk15gCYZjusQG5fihaF3hhRBYTSOG3veAGPshRioSR+EbkhM5Vum87yiQJDigWLZrvirFsTBYHwcQLGbhRN7ocC3GFCk8SoHIMAoPxmj8NJsnXPKADAGhKahKkDPEWiaXJwKFKp+nafiiTeEAA=") Nightmare start [1.70]