extend ../layout
block content
    link(rel='stylesheet', href='/css/guides.css')
    .content
        .guides(style="vertical-algin:middle;text-align:center;")
            h2 General Guides:
            a(href="/guides/general/lfgameguide")
                h4 The Legion TD 2 Guide by LForward		
            a(href="/guides/general/tilt")
                h4 Cornep's Guides: Taming the Tilt
            a(href="/guides/general/kraken")
                h4 Cornep's Guides: The Kraken
            a(href="/guides/general/whattosend")
                h4 Cornep's Guides: What to send
            a(href="/guides/general/2v2")
                h4 Cornep's Guides: 6 tips for Crushing 2v2
            a(href="/guides/general/improve")
                h4 How to improve as a new player by Zitronenritter
            a(href="/guides/general/roshkatultips")
                h4 Roshkatul's 7 Tips for new players
            a(href="/guides/general/simplestarter")
                h4 Teirdel's Simple Starter Guide
            a(href="/guides/general/akitosspells")
                h4 Akitos Legion Spells Guide
            a(href="/guides/general/sendingguide")
                h4 Niklas Guide: Sending in Legion TD2