extend ../layout
block content
    .content
        .guides(style="text-align:center;")	If you want your guide uploaded here, feel free to contact me: info@ltdstats.com
            br
            img(src="../img/Grove.png")
            h2 Grove Guides:
            h4 Video Guides:
            a(href="https://www.youtube.com/watch?v=_uFJvX9hcAg", target="_blank") Isotrop's & Weilbockt's Grove Guide [1.61]
            h4 Text guides:
            a(href="/guides/grove/theratedr") TheRatedR Grove Guide [1.77]
            h4 Builds:
            