extend ../layout
block content
    .content
        .guides(style="text-align:center;")	If you want your guide uploaded here, feel free to contact me: info@ltdstats.com
            br
            img(src="../img/Mastermind.png")
            h2 Mastermind Guides:
            h4 Video Guides:
            br
            h4 Text guides:
            a(href="/guides/mastermind/zitronenritter") Zitronenritter's Mastermind Guide [1.60]
            h4 Builds: