extend ../layout
block content
    .content
        .guides(style="text-align:center;")	If you want your guide uploaded here, feel free to contact me: info@ltdstats.com
            br
            img(src="../img/Mech.png")
            h2 Mech Guides:
            h4 Video Guides:
            a(href="https://www.youtube.com/watch?v=Hs8VgRVheOM", target="_blank") Isotrp's & Weilbockt's Mech Guide [1.61]
            h4 Text guides:
            a(href="/guides/mech/cornep") Cornep's Mech Guide [1.61]
            h4 Builds: