extend ../layout
block content
    link(rel='stylesheet', href='/css/guides.css')
    .content
        .ad_hor
            script(async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js")
            ins(class="adsbygoogle" style="display:block" data-ad-client="ca-pub-2408139751926605" data-ad-slot="8367468970"  data-ad-format="auto" data-full-width-responsive="true")
            script (adsbygoogle = window.adsbygoogle || []).push({});
        .select
                select#race.form-control(type='text')
                    option(value="All") Select a Type
                    option(value="Atlantean") Atlantean
                    option(value="Element") Element
                    option(value="General") General
                    option(value="Grove") Grove
                    option(value="Forsaken") Forsaken
                    option(value="Mastermind") Mastermind
                    option(value="Mech") Mech
                    option(value="Nomad") Nomad
                    option(value="Shrine") Shrine
                select#patch.form-control(type='text')
                    option(value="All") Select a Patch
        .guides(style="vertical-algin:middle;text-align:center;")
            table#guide_results
                tr.header
                    th #
                    th Creator:
                    th Title:
                    th Type:
                    th Patch:
                    th Link:
    script(src="/js/guides.js")
            