extend layout
block content
    .content
        #about(style="padding:30px;")
            h1 About LTDStats.com
            p
                | Owner: GvR Mr Mister
                br 
                | Contributors: -
                br
                | Hosting: uberspace.de
                br
                | Content: GvR Mr Mister, https://legiontd2.com/community/ (Guides)
                br
                | Images: GvR Mr Mister, legiontd2.com, flaticon.com
            h1 About Me:
            p
                | My name is Chris, im 23 year old and working as an IT-Specialist in a networking company.
                br
                | Im the creator of LTDStats.com, a project made in my freetime to improve my webdesign/javascript skills.
                br
                | If you are interested in my projects, feel free to visit my 
                a(href="https://github.com/Shoro2/", target="blank") Github
                | .
            h1 Legal Disclosure
            p
                strong Engish:
            p Information in accordance with section 5 TMG
            br
            | Christian Assenmacher
            br
            | Bonner Straße 168
            br
            | 53757 Sankt Augustin
            br
            | Germany
            h2 Contact</h2><br />
            p E-Mail: 
                a(href="mailto:info@ltdstats.com") info@ltdstats.com
            p#telnummer.link show
            h2 Disclaimer
            strong Accountability for content
            p The contents of our pages have been created with the utmost care. However, we cannot guarantee the contents' accuracy, completeness or topicality. According to statutory provisions, we are furthermore responsible for our own content on these web pages. In this context, please note that we are accordingly not obliged to monitor merely the transmitted or saved information of third parties, or investigate circumstances pointing to illegal activity. Our obligations to remove or block the use of information under generally applicable laws remain unaffected by this as per &sect;&sect; 8 to 10 of the Telemedia Act (TMG).<br /><br />Accountability for links<br />Responsibility for the content of external links (to web pages of third parties) lies solely with the operators of the linked pages. No violations were evident to us at the time of linking. Should any legal infringement become known to us, we will remove the respective link immediately.<br /><br />Copyright<br /> Our web pages and their contents are subject to German copyright law. Unless expressly permitted by law (&sect; 44a et seq. of the copyright law), every form of utilizing, reproducing or processing works subject to copyright protection on our web pages requires the prior consent of the respective owner of the rights. Individual reproductions of a work are allowed only for private use, so must not serve either directly or indirectly for earnings. Unauthorized utilization of copyrighted works is punishable (&sect; 106 of the copyright law).<br /><br />
            p
                i Quelle:
                a(href="https://www.twigg.de" target="_blank") https://www.twigg.de/
            p
                strong German:
            p 
                strong Allgemeine Datenschutzerklärung
            p Durch die Nutzung unserer Website erklären Sie sich mit der Erhebung, Verarbeitung und Nutzung von Daten gemäß der nachfolgenden Beschreibung einverstanden. Unsere Website kann grundsätzlich ohne Registrierung besucht werden. Dabei werden Daten wie beispielsweise aufgerufene Seiten bzw. Namen der abgerufenen Datei, Datum und Uhrzeit zu statistischen Zwecken auf dem Server gespeichert, ohne dass diese Daten unmittelbar auf Ihre Person bezogen werden. Personenbezogene Daten, insbesondere Name, Adresse oder E-Mail-Adresse werden soweit möglich auf freiwilliger Basis erhoben. Ohne Ihre Einwilligung erfolgt keine Weitergabe der Daten an Dritte.</p>

            p
                strong Datenschutzerklärung für Cookies
            p Unsere Website verwendet Cookies. Das sind kleine Textdateien, die es möglich machen, auf dem Endgerät des Nutzers spezifische, auf den Nutzer bezogene Informationen zu speichern, während er die Website nutzt. Cookies ermöglichen es, insbesondere Nutzungshäufigkeit und Nutzeranzahl der Seiten zu ermitteln, Verhaltensweisen der Seitennutzung zu analysieren, aber auch unser Angebot kundenfreundlicher zu gestalten. Cookies bleiben über das Ende einer Browser-Sitzung gespeichert und können bei einem erneuten Seitenbesuch wieder aufgerufen werden. Wenn Sie das nicht wünschen, sollten Sie Ihren Internetbrowser so einstellen, dass er die Annahme von Cookies verweigert.</p>

            p
                strong Datenschutzerklärung für Google Analytics
            p Unsere Website verwendet Google Analytics, einen Webanalysedienst von Google Inc., 1600 Amphitheatre Parkway, Mountain View, CA 94043, USA. Zur Deaktivierung von Google Analytiscs stellt Google unter http://tools.google.com/dlpage/gaoptout?hl=de ein Browser-Plug-In zur Verfügung. Google Analytics verwendet Cookies. Das sind kleine Textdateien, die es möglich machen, auf dem Endgerät des Nutzers spezifische, auf den Nutzer bezogene Informationen zu speichern. Diese ermöglichen eine Analyse der Nutzung unseres Websiteangebotes durch Google. Die durch den Cookie erfassten Informationen über die Nutzung unserer Seiten (einschließlich Ihrer IP-Adresse) werden in der Regel an einen Server von Google in den USA übertragen und dort gespeichert. Wir weisen darauf hin, dass auf dieser Website Google Analytics um den Code „gat._anonymizeIp();“ erweitert wurde, um eine anonymisierte Erfassung von IP-Adressen (sog. IP-Masking) zu gewährleisten. Ist die Anonymisierung aktiv, kürzt Google IP-Adressen innerhalb von Mitgliedstaaten der Europäischen Union oder in anderen Vertragsstaaten des Abkommens über den Europäischen Wirtschaftsraum, weswegen keine Rückschlüsse auf Ihre Identität möglich sind. Nur in Ausnahmefällen wird die volle IP-Adresse an einen Server von Google in den USA übertragen und dort gekürzt. Google beachtet die Datenschutzbestimmungen des „Privacy Shield“-Abkommens und ist beim „Privacy Shield“-Programm des US-Handelsministeriums registriert und nutzt die gesammelten Informationen, um die Nutzung unserer Websites auszuwerten, Berichte für uns diesbezüglich zu verfassen und andere diesbezügliche Dienstleistungen an uns zu erbringen. Mehr erfahren Sie unter
                a(href="http://www.google.com/intl/de/analytics/privacyoverview.html") http://www.google.com/intl/de/analytics/privacyoverview.html
            p 
                i Quelle: 
                a(href="https://www.anwalt.de/vorlage/muster-datenschutzerklaerung.php") Muster-Datenschutzerklärung von anwalt.de

            p Icons made by 
                a(href="https://www.flaticon.com/authors/pause08", title="Diagram") Diagram
                | from 
                a(href="https://www.flaticon.com/", title="Flaticon")  www.flaticon.com
                | is licensed by 
                a(href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank") CC 3.0 BY
        script(src="/js/about.js")