extend layout
block content
    link(rel='stylesheet', href='/css/compare.css')
    .meinebox
        #amazon_ad
        #general_info
            #games_together
            #wins_together
            #games_against
            #wins_player1
            #wins_player2
        table.meineTabelle
            tr
                th Stats
                th#player0_name Player 1
                th#player1_name Player 2
                th Difference
            tr
                td Games Played
                td#player0_gamesplayed
                td#player1_gamesplayed
                td#difference_gamesplayed
            tr
                td Wins
                td#player0_wins
                td#player1_wins
                td#difference_wins
            tr
                td Losses
                td#player0_losses
                td#player1_losses
                td#difference_losses
            tr
                td Win Rate
                td#player0_winrate
                td#player1_winrate
                td#difference_winrate
            tr
                td Ties
                td#player0_ties
                td#player1_ties
                td#difference_ties
            tr
                td Quits
                td#player0_quits
                td#player1_quits
                td#difference_quits
            tr
                td Win Streak
                td#player0_winstreak
                td#player1_winstreak
                td#difference_winstreak
            tr
                td Playtime
                td#player0_playtime
                td#player1_playtime
                td#difference_playtime
            tr
                td XP
                td#player0_xp
                td#player1_xp
                td#difference_xp
            tr
                td Overall Peak Elo
                td#player0_overallpeakelo
                td#player1_overallpeakelo
                td#difference_overallpeakelo
            tr
                td Overall Elo
                td#player0_overallelo
                td#player1_overallelo
                td#difference_overallelo
            tr
                td Element Peak Elo
                td#player0_elementpeakelo
                td#player1_elementpeakelo
                td#difference_elementpeakelo
            tr
                td Element Elo
                td#player0_elementelo
                td#player1_elementelo
                td#difference_elementelo
            tr
                td Element Games
                td#player0_elementgames
                td#player1_elementgames
                td#difference_elementgames
            tr
                td Element Wins
                td#player0_elementwins
                td#player1_elementwins
                td#difference_elementwins
            tr
                td Element Losses
                td#player0_elementlosses
                td#player1_elementlosses
                td#difference_elementlosses
            tr
                td Element XP
                td#player0_elementxp
                td#player1_elementxp
                td#difference_elementxp
            tr
                td Grove Peak Elo
                td#player0_grovepeakelo
                td#player1_grovepeakelo
                td#difference_grovepeakelo
            tr
                td Grove Elo
                td#player0_groveelo
                td#player1_groveelo
                td#difference_groveelo
            tr
                td Grove Games
                td#player0_grovegames
                td#player1_grovegames
                td#difference_grovegames
            tr
                td Grove Wins
                td#player0_grovewins
                td#player1_grovewins
                td#difference_grovewins
            tr
                td Grove Losses
                td#player0_grovelosses
                td#player1_grovelosses
                td#difference_grovelosses
            tr
                td Grove XP
                td#player0_grovexp
                td#player1_grovexp
                td#difference_grovexp
            tr
                td Forsaken Peak Elo
                td#player0_forsakenpeakelo
                td#player1_forsakenpeakelo
                td#difference_forsakenpeakelo
            tr
                td Forsaken Elo
                td#player0_forsakenelo
                td#player1_forsakenelo
                td#difference_forsakenelo
            tr
                td Forsaken Games
                td#player0_forsakengames
                td#player1_forsakengames
                td#difference_forsakengames
            tr
                td Forsaken Wins
                td#player0_forsakenwins
                td#player1_forsakenwins
                td#difference_forsakenwins
            tr
                td Forsaken Losses
                td#player0_forsakenlosses
                td#player1_forsakenlosses
                td#difference_forsakenlosses
            tr
                td Forsaken XP
                td#player0_forsakenxp
                td#player1_forsakenxp
                td#difference_forsakenxp
            tr
                td Mech Peak Elo
                td#player0_mechpeakelo
                td#player1_mechpeakelo
                td#difference_mechpeakelo
            tr
                td Mech Elo
                td#player0_mechelo
                td#player1_mechelo
                td#difference_mechelo
            tr
                td Mech Games
                td#player0_mechgames
                td#player1_mechgames
                td#difference_mechgames
            tr
                td Mech Wins
                td#player0_mechwins
                td#player1_mechwins
                td#difference_mechwins
            tr
                td Mech Losses
                td#player0_mechlosses
                td#player1_mechlosses
                td#difference_mechlosses
            tr
                td Mech XP
                td#player0_mechxp
                td#player1_mechxp
                td#difference_mechxp
            tr
                td Mastermind Peak Elo
                td#player0_mastermindpeakelo
                td#player1_mastermindpeakelo
                td#difference_mastermindpeakelo
            tr
                td Mastermind Elo
                td#player0_mastermindelo
                td#player1_mastermindelo
                td#difference_mastermindelo
            tr
                td Mastermind Games
                td#player0_mastermindgames
                td#player1_mastermindgames
                td#difference_mastermindgames
            tr
                td Mastermind Wins
                td#player0_mastermindwins
                td#player1_mastermindwins
                td#difference_mastermindwins
            tr
                td Mastermind Losses
                td#player0_mastermindlosses
                td#player1_mastermindlosses
                td#difference_mastermindlosses
            tr
                td Mastermind XP
                td#player0_mastermindxp
                td#player1_mastermindxp
                td#difference_mastermindxp
    script(src="/js/compare.js")