extend layout
block content
    link(rel='stylesheet', href='/css/details.css')
    .content
        div(style="margin-left:40%;margin-top:5%; width:20%; margin-right:40%;")
            h1 Donate
            p.
                If you want to support me you can donate via paypal (anonymous) or buy something from amazon via my partnerlink.
            h4 Paypal:
            form(action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top")
                input(type="hidden" name="cmd" value="_s-xclick")
                input(type="hidden" name="hosted_button_id" value="4EHLWFHUEWPVN")
                input(type="image" src="https://www.paypalobjects.com/en_US/DK/i/btn/btn_donateCC_LG.gif" border="0" name="submit" title="PayPal - The safer, easier way to pay online!" alt="Donate with PayPal button")
                img(alt="" border="0" src="https://www.paypal.com/en_DE/i/scr/pixel.gif" width="1" height="1")
