extend layout
block content
    .content
        b Q:
        p 
            b A:
        p
        b Q:
        p 
            b A:
        p
        b Q:
        p 
            b A:
        p
        b Q:
        p 
            b A:
        p
        b Q:
        p 
            b A:
        p
        b Q:
        p 
            b A:
        p
        b Q:
        p 
            b A:
        p