extend layout
block content
    link(rel='stylesheet', href='/css/feedback.css')
    .content
        .feedback
            h2 Give Feedback and Feature Requests
            a(href="https://legiontd2.com/community/threads/ltdstats-com-feedback-and-feature-request.16262/") Legion TD 2 Forum
            br
            h2 Bug Reports
            a(href="https://legiontd2.com/community/threads/ltdstats-com-bug-report.16263/") Legion TD 2 Forum
            br
            h2 Updates and other
            a(href="https://legiontd2.com/community/threads/ltdstats-com-statistics-guides-and-more.12721/") Legion TD 2 Forum
