extend layout
block content
    link(rel='stylesheet', href='/css/games.css')
    .content
        .games
            #gameinfo
            .team
                h1 West
                table#team1.livegame_table
                    tr
                        th Name
                        th Elo
                        th Pickchance Element
                        th Pickchance Grove
                        th Pickchance Forsaken
                        th Pickchance Mech
                        th Pickchance Mastermind
                        th Winchance Element
                        th Winchance Grove
                        th Winchance Forsaken
                        th Winchance Mech
                        th Winchance Mastermind
                    tr
                        td
                        td
                        td
                        td
                        td
                        td
                        td
                        td
                        td
                        td
                        td
                        td
                    tr
                        td
                        td
                        td
                        td
                        td
                        td
                        td
                        td
                        td
                        td
                        td
                        td
                    tr
                        td
                        td
                        td
                        td
                        td
                        td
                        td
                        td
                        td
                        td
                        td
                        td
                    tr
                        td
                        td
                        td
                        td
                        td
                        td
                        td
                        td
                        td
                        td
                        td
                        td
            #myProgress
                #myBar
            .team
                h1 East
                table#team2.livegame_table
                    tr
                        th Name
                        th Elo
                        th Pickchance Element
                        th Pickchance Grove
                        th Pickchance Forsaken
                        th Pickchance Mech
                        th Pickchance Mastermind
                        th Winchance Element
                        th Winchance Grove
                        th Winchance Forsaken
                        th Winchance Mech
                        th Winchance Mastermind
                    tr
                        td
                        td
                        td
                        td
                        td
                        td
                        td
                        td
                        td
                        td
                        td
                        td
                    tr
                        td
                        td
                        td
                        td
                        td
                        td
                        td
                        td
                        td
                        td
                        td
                        td
                    tr
                        td
                        td
                        td
                        td
                        td
                        td
                        td
                        td
                        td
                        td
                        td
                        td
                    tr
                        td
                        td
                        td
                        td
                        td
                        td
                        td
                        td
                        td
                        td
                        td
                        td
    script(src="/js/games.js")
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js")
    script(src="/js/queryapi.js")
    script fill();
    script request();
      