extend layout
block content
    #mask_0
        select#gametype
            option(value="normal") Normal
            option(value="classic") Classic
        input#gameid 
        button#searchbutton
    #mask_1
    #mask2