extend layout
block content
    link(rel='stylesheet', href='/css/guides.css')
    .content
        .guides(style="vertical-algin:middle;text-align:center;")
            .select
                select#race.form-control(type='text', onchange="showResults();")
                    option(value="general") Select a Race
                    option(value="general") General
                    option(value="element") Element
                    option(value="grove") Grove
                    option(value="forsaken") Forsaken
                    option(value="mech") Mech
                    option(value="mastermind") Mastermind
                select#patch.form-control(type='text', onchange="showResults();")
                    option(value="actual") Select a Patch
                    option(value="v2.20") v2.20
                    option(value="v2.10") v2.10
                    option(value="v2.00") v2.00
                    option(value="actual") playable
                    option(value="older") older
                
            h2 Race Guides:
            a(href="/guides/element")
                img(src="../img/Element.png")
            a(href="/guides/grove")
                img(src="../img/Grove.png")
            a(href="/guides/forsaken")
                img(src="../img/Forsaken.png")
            a(href="/guides/mech")
                img(src="../img/Mech.png")
            a(href="/guides/mastermind")
                img(src="../img/Mastermind.png")
            h2 General Guides:
            a(href="/guides/general/lfgameguide")
                h4 The Legion TD 2 Guide by LForward		
            a(href="/guides/general/tilt")
                h4 Cornep's Guides: Taming the Tilt
            a(href="/guides/general/kraken")
                h4 Cornep's Guides: The Kraken
            a(href="/guides/general/whattosend")
                h4 Cornep's Guides: What to send
            a(href="/guides/general/2v2")
                h4 Cornep's Guides: 6 tips for Crushing 2v2
            a(href="/guides/general/improve")
                h4 How to improve as a new player by Zitronenritter

