extend layout
block content
    .content
        h1 Ltdstats.com - Help?!?
        h1 This page is still under construction. If you need any help or want to reprt bugs, feel free to contact me (GvR Mr Mister) in discord/forums or per email to info@ltdstats.com
        h4 Content:
        ul
            li Profile
            li Ladder
            li Replay
            li Compare
            li Builder
            li Units
            li Guides
            li Statistics
            li LIHL
            li Livegame