html
    head
        title Legion TD 2 Statistics - #{title} 
        link(rel="stylesheet", href="https://attrib.github.io/main.css")
        link(rel='stylesheet', href='/css/bootstrap.css')
        link(rel='stylesheet', href='/css/test.css')
        meta(name="revisit-after", content="2 days")
        meta(name="robots", content="index, follow")
        meta(name="propeller" content="f99cd243d0c9b89ae2c442fcfd2c7436")
        if(title=="Home")
            meta(name="page-topic", content="Gaming, Statistics,Legion TD 2, Guides, Tutorials")
            meta(name="keywords", content="legion, legion td, legion td 2, statistics, profile, stats, ladder, guides,tutorials, ltd2, ltd, ltdtstats, ltdstats.com, legion td 2 statistics")
            meta(name="description", content="A community made platform to look up Player profiles, online ladder, guides, statistics and much more!")
        if(title.includes("Profile")) 
            meta(name="page-topic", content="Gaming, Statistics,Legion TD 2, Profile")
            meta(name="keywords", content="legion, legion td, legion td 2, statistics, profile, stats, ltd2, ltd, ltdtstats, ltdstats.com, legion td 2 statistics, matchhistory, gamehistory, builds, leaks, sends")
            meta(name="description", content="Look up your individual profile featuring stats, elograph, gamehistory, builds and many more!")
        if(title.includes("Ladder"))
            meta(name="page-topic", content="Gaming, Statistics,Legion TD 2, Ladder")
            meta(name="keywords", content="legion, legion td, legion td 2, statistics, ltd2, ltd, ltdtstats, ltdstats.com, legion td 2 statistics, ladder, ranking, rank, top player, best player, legion ladder, mastermind, element, grove, forsaken, mech, atlantean")
            meta(name="description", content="Offical ladder showing top 100 players by legion.")
        if(title=="Games")
            meta(name="page-topic", content="Gaming, Statistics,Legion TD 2, Replay")
            meta(name="keywords", content="legion, legion td, legion td 2, statistics, ltd2, ltd, ltdtstats, ltdstats.com, legion td 2 statistics, replay, past game, games, game, top games")
            meta(name="description", content="Visualisation of a past game. Load your own game or look up top player's games.")
        if(title=="Compare")
            meta(name="page-topic", content="Gaming, Statistics,Legion TD 2, Compare")
            meta(name="keywords", content="legion, legion td, legion td 2, statistics, ltd2, ltd, ltdtstats, ltdstats.com, legion td 2 statistics, compare, player")
            meta(name="description", content="Compare two players statistics/progress")
        if(title=="Builder")
            meta(name="page-topic", content="Gaming, Statistics,Legion TD 2, Builder")
            meta(name="keywords", content="legion, legion td, legion td 2, statistics, ltd2, ltd, ltdtstats, ltdstats.com, legion td 2 statistics, builder, build, share, attrib")
            meta(name="description", content="Attrib's builder tool: Share your personal build or look up top players builds.")
        if(title=="Units")
            meta(name="page-topic", content="Gaming, Statistics,Legion TD 2, Units, Wiki")
            meta(name="keywords", content="legion, legion td, legion td 2, statistics, ltd2, ltd, ltdtstats, ltdstats.com, legion td 2 statistics, units, fighters, mercaneries, creatures, wiki, unit stats, mythium, gold, abilities, upgrades, spells, damage, dps, health, mana, range, goldcost, attack, defense, value, description")
            meta(name="description", content="Fighter/Merc/Creatures Wiki. Look up any unit to get detailed information about it.")
        if(title.includes("Guide"))
            meta(name="page-topic", content="Gaming, Statistics,Legion TD 2, Guides, Tutorials")
            meta(name="keywords", content="legion, legion td, legion td 2, statistics, ltd2, ltd, ltdtstats, ltdstats.com, legion td 2 statistics, units, guide, guides, howto, how-to, builds, help, tipps, tricks")
            meta(name="description", content="View high quality Legion TD 2 guides created by top players.")
        if(title.includes("Stats"))
            meta(name="page-topic", content="Gaming, Statistics,Legion TD 2, Statistics, Stats")
            meta(name="keywords", content="legion, legion td, legion td 2, statistics, ltd2, ltd, ltdtstats, ltdstats.com, legion td 2 statistics, player, elo, distribution, pickrates, winrates, mastermind, mech, forsaken, element, grove, fighter, worker per wave, networth per wave, value on game end, workers on game end, income on game end, leaks on game end")
            meta(name="description", content="View high quality Legion TD 2 guides created by top players.")
        if(title.includes("Tournaments"))
            meta(name="page-topic", content="Gaming, Statistics,Legion TD 2, Tournaments")
            meta(name="keywords", content="legion, legion td, legion td 2, statistics, ltd2, ltd, ltdtstats, ltdstats.com, legion td 2 statistics, tournaments, tournament, competition, tourney, teams, team list, player list, best teams, masters cup, masters cup I, masters cup II")
            meta(name="description", content="Offical hosted Legion TD 2 tournaments.")
        if(title.includes("Streams"))
            meta(name="page-topic", content="Gaming, Statistics,Legion TD 2, Streams, Youtube, Twitch, Streamer")
            meta(name="keywords", content="legion, legion td, legion td 2, statistics, ltd2, ltd, ltdtstats, ltdstats.com, legion td 2 statistics, video, stream, streamer, youtube, twitch, good players, top players")
            meta(name="description", content="Offical hosted Legion TD 2 tournaments.")
        if(title.includes("Livegame"))
            meta(name="page-topic", content="Gaming, Statistics,Legion TD 2, Livegame")
            meta(name="keywords", content="legion, legion td, legion td 2, statistics, ltd2, ltd, ltdtstats, ltdstats.com, legion td 2 statistics, livegame, winchance")
            meta(name="description", content="Look up your current game.")
        if(title.includes("4v4"))
            meta(name="page-topic", content="Gaming, Statistics,Legion TD 2, 4vs4 league")
            meta(name="keywords", content="legion, legion td, legion td 2, statistics, ltd2, ltd, ltdtstats, ltdstats.com, legion td 2 statistics, 4vs4, 4v4, old games, players, ladder, lobbies")
            meta(name="description", content="All about Akitos 4vs4 league.")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
    body
        header
        .container-fluid
            nav.navbar.navbar-expand-xl.navbar-dark.fixed-top.bg-dark
                button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarsExampleDefault', aria-controls='navbarsExampleDefault', aria-expanded='false', aria-label='Toggle navigation')
                    span.navbar-toggler-icon
                a.navbar-brand(href='/')
                    img(src="/img/favicon.ico", width="16px", height="16px", style="margin-right:5%;margin-bottom:4%;") 
                    | LTDStats.com
                div#navbarsExampleDefault.collapse.navbar-collapse
                    ul.navbar-nav.mr-auto
                        if(title=="Home")
                            li.nav-item.active
                                a.nav-link(href='/') Home 
                        else
                            li.nav-item
                                a.nav-link(href='/') Home
                        if(title.includes("Profile")) 
                            li.nav-item.active
                                a.nav-link(href='/profile') Profile
                        else
                            li.nav-item
                                a.nav-link(href='/profile') Profile
                        if(title.includes("Ladder"))      
                            li.nav-item.dropdown.active
                                a#dropdown01.nav-link.dropdown-toggle(href='/ladder/overall', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false') Ladder
                                div.dropdown-menu(aria-labelledby='dropdown01')
                                    a.dropdown-item(href='/ladder/overall') Overall
                                    a.dropdown-item(href='/ladder/element') Element
                                    a.dropdown-item(href='/ladder/forsaken') Forsaken
                                    a.dropdown-item(href='/ladder/grove') Grove
                                    a.dropdown-item(href='/ladder/mech') Mech
                                    a.dropdown-item(href='/ladder/mastermind') Mastermind
                                    a.dropdown-item(href='/ladder/atlantean') Atlantean
                        else
                            li.nav-item.dropdown
                                a#dropdown01.nav-link.dropdown-toggle(href='/ladder/overall', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false') Ladder
                                div.dropdown-menu(aria-labelledby='dropdown01')
                                    a.dropdown-item(href='/ladder/overall') Overall
                                    a.dropdown-item(href='/ladder/element') Element
                                    a.dropdown-item(href='/ladder/forsaken') Forsaken
                                    a.dropdown-item(href='/ladder/grove') Grove
                                    a.dropdown-item(href='/ladder/mech') Mech
                                    a.dropdown-item(href='/ladder/mastermind') Mastermind
                                    a.dropdown-item(href='/ladder/atlantean') Atlantean
                        if(title=="Games")
                            li.nav-item.active
                                a.nav-link(href='/replay') Replay
                        else
                            li.nav-item
                                a.nav-link(href='/replay') Replay
                        if(title=="Compare")
                            li.nav-item.active
                                a.nav-link(href='/compare') Compare
                        else
                            li.nav-item
                                a.nav-link(href='/compare') Compare
                        if(title=="Livegame")
                            li.nav-item.active
                                a.nav-link(href='/livegame') Livegame
                        else
                            li.nav-item
                                a.nav-link(href='/livegame') Livegame
                        if(title=="Units")
                            li.nav-item.active
                                a.nav-link(href='/units') Units
                        else
                            li.nav-item
                                a.nav-link(href='/units') Units
                        if(title.includes("Guide"))
                            li.nav-item.active
                                a.nav-link(href='/guides') Guides
                        else
                            li.nav-item
                                a.nav-link(href='/guides') Guides
                        if(title.includes("Stats"))
                            li.nav-item.active
                                a.nav-link(href='/stats') Stats
                        else
                            li.nav-item
                                a.nav-link(href='/stats') Stats
                        if(title.includes("4vs4"))      
                            li.nav-item.dropdown.active
                                a#dropdown01.nav-link.dropdown-toggle(href='/ladder/overall', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false') 4vs4 League
                                div.dropdown-menu(aria-labelledby='dropdown01')
                                    a.dropdown-item(href='/4v4/howto') How-To
                                    a.dropdown-item(href='/4v4/ladder') Ladder
                                    a.dropdown-item(href='/4v4/games') Games
                                    a.dropdown-item(href='/4v4/lobbies') Lobbies
                        else
                            li.nav-item.dropdown
                                a#dropdown01.nav-link.dropdown-toggle(href='/ladder/overall', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false') 4vs4 League
                                div.dropdown-menu(aria-labelledby='dropdown01')
                                    a.dropdown-item(href='/4v4/howto') How-To
                                    a.dropdown-item(href='/4v4/ladder') Ladder
                                    a.dropdown-item(href='/4v4/games') Games
                                    a.dropdown-item(href='/4v4/lobbies') Lobbies
                        li.nav-item.dropdown
                            a#dropdown02.nav-link.dropdown-toggle(href='', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false') More
                            div.dropdown-menu(aria-labelledby='dropdown02')
                                a.dropdown-item(href='/tournaments') Tournaments
                                a.dropdown-item(href='/builder') Builder
                                a.dropdown-item(href='/streams') Featured Streams
                                a.dropdown-item(href='/help') Help
                                a.dropdown-item(href="/feedback") Feedback & Bugs
                                a.dropdown-item(href='/cookies') Cookie Policy
                                a.dropdown-item(href='/about') About
                    if(title.includes("Profile"))
                        .form-inline.my-2.my-lg-0
                            input#playername.form-control.mr-sm-2(type='text', placeholder='Search', aria-label='Search')
                            button.btn.btn-outline-success.my-sm-0(onclick="setPlayer();") Search
                    if(title.includes("Livegame") || title.includes("Units"))
                        .form-inline.my-2.my-lg-0
                            input#playername.form-control.mr-sm-2(type='text', placeholder='Search', aria-label='Search')
                            button.btn.btn-outline-success.my-2.my-sm-0(onclick="getPlayer();") Search
                    if(title.includes("Compare"))
                        .form-inline.my-2.my-lg-0
                            input#playername.form-control.mr-sm-2(type='text', placeholder='Player 1', aria-label='Player 1')
                            input#playername2.form-control.mr-sm-2(type='text', placeholder='Player 2', aria-label='Player 2')
                            button.btn.btn-outline-success.my-2.my-sm-0(onclick="getPlayer();") Compare
                    if(title.includes("Replay"))
                        .form-inline.my-2.my-lg-0
                            button.btn.btn-outline-success.my-2.my-sm-0(onclick="showSelect();" style="margin-right:30px;") Browse a game
                            input#gameid.form-control.mr-sm-2(type='text', placeholder='Game ID', aria-label='Game ID')
                            button.btn.btn-outline-success.my-2.my-sm-0(onclick="getPlayer();") Show
                link(rel="stylesheet", type="text/css", href="//cdnjs.cloudflare.com/ajax/libs/cookieconsent2/3.0.3/cookieconsent.min.css")
                script(src="//cdnjs.cloudflare.com/ajax/libs/cookieconsent2/3.0.3/cookieconsent.min.js")
                script(src="/js/cookiemessage.js")
            #overlay
                #text Would you mind to turn off your AdBlock for this website?
                p.
                #buttons  Dont ask again
                    input#mycheck(type="checkbox")
                    button#mybutton(type="button", onclick="off();") Close
            #mitte(style="display:none;")
                #SC_TBlock_550580.SC_TBlock
                img(class="gif", src="/img/loading.gif")
                .p Requesting API, please wait...
                #loadingstring
                #apierror(style="display:none") 
                    br
                    | Request timed out, please check the name or
                    h4#reload(onclick="location.reload();", style="color:blue;cursor:pointer;width:10%;margin-left:auto;margin-right:auto;") Try again
            .main-content
                block content
            footer
                div.myfooter
                    a.linkfooter(href="/about") About
                    a.linkfooter(href="/cookies") Cookie Policies
                    a.linkfooter(href="http://test.ltdstats.com", target="blank") Old Website
                    a.linkfooter(href="feedback") Give Feedback
                    a.linkfooter(href="/help") Help
                script(src='https://code.jquery.com/jquery-3.1.1.min.js')
                script(src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js', integrity='sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q', crossorigin='anonymous')
                script(src='/js/bootstrap.js')
                script(src="/js/ads.js")
                script(src="/js/cookies.js")
                script(src="/js/checkads.js")
                script checkAds();checkAnalytics();
                script (sc_adv_out = window.sc_adv_out || []).push({id : "550580",domain : "n.pclicc1.com"});
                script(src="//st-n.pclicc1.com/js/a.js")
                script(sync="async" data-cfasync="false" src="//tharbadir.com/2?z=2185003")