extend layout
block content
    link(rel='stylesheet', href='/css/livegame.css')
    .content
        .teamcard#west
            .player#player1
                #name1
                #elo1
                #best_legion1
                #favstart1
                #leaks1
            .player#player2
                #name2
                #elo2
                #best_legion2
                #favstart2
                #leaks2
            .winchance#winchance_west
        #indermitte Enter a playername to start
            input#playername2.form-control.mr-sm-2(type='text', placeholder='Playername', aria-label='Search')
            button.btn.btn-outline-success2.my-sm-0(onclick="getPlayer();") Search
        .teamcard#east
            .player#player3
                #name3
                #elo3
                #best_legion3
                #favstart3
                #leaks3
            .player#player4
                #name4
                #elo4
                #best_legion4
                #favstart4
                #leaks4
            .winchance#winchance_east
    script(src="/js/livegame.js")