extend layout
block content
    link(rel='stylesheet', href='/css/help.css')
    .content
        .card
            input(type="text") Name:
            input(type="password") Password:
            button Login