extend layout
block content
    link(rel='stylesheet', href='/css/lihl.css')
    .content
        .umdieladder
            h1#titel Legion TD 2 Quiz - Ladder
            table#ladder.ladder
                tr.header
                    th.table_header#th0 Rank
                    th.table_header#th1 Name
                    th.table_header#th2 Points
    script(src="/js/quiz.js")
