extend layout
block content
    link(rel='stylesheet', href='/css/tabmenu.css')
    link(rel='stylesheet', href='/css/stats.css')
    .content
        .tabmenu
            .tab_top_active#tab_top_1(onclick="javascript:openTab(1);") Overview
            .style(style='clear: both;')
            .tab_box#tab_box_1
                h3 General:
                h4(onclick="queryEloDistribution();") Player Elo Distribution
                h4(onclick="showWinPickrates();") Legion Pick/Winrates
                h3 Per wave:
                h4(onclick="showWorkersPerWave();") Workers per Wave
                h4(onclick="showNetworthPerWave();") Networth per Wave
                h3 On Game End:
                h4(onclick="showValueOnEnd();") Value on game end
                h4(onclick="showWorkersOnEnd();") Workers on game end
                h4(onclick="showIncomeOnEnd();") Income on game end
                h4(onclick="showLeaksOnEnd();") Leaks on game end
    #mitte(style="display:none;")
        img(class="gif", src="/img/loading.gif")
        .p Requesting API, please wait...
    #stats(style="display:none;")
        #close(title="Close", onclick="hideStatsPage();") X
        #help(title="Help", onclick="showHelpPage();") ?
        #inputs
            select#typeselector.inline(onchange="saveSelection();")
                option(value="") Select a filter
                option(value="version") Patch
                option(value="tsgte") > Date
                option(value="tslt") < Date
            input#value_textField.inline(type="text", style="display:none;", placeholder='v2.32')
            input#value_dateField.inline(type="date", style="display:none;")
            button#startButton.inline(onclick="readSelection();") Go
        #chartContainer
            canvas#myChart
    script(src="/js/Chart.js")
    script(src="/js/stats.js")
    script(src="/js/tabmenu.js")
    script openTab(1);