extend layout
block content
    link(rel='stylesheet', href='/css/streams.css')
    .content
        .card
            h1 Featured Streams:
            .left
                h4 Twitch:
                br
                a(href="https://twitch.tv/lforward", target="blank")
                    img.twitchicon(src="/img/icons/GlitchBadge_Purple_24px.png")
                    h5 LForward (LTD1&2)
                br
                a(href="https://twitch.tv/crazyltd", target="blank")
                    img.twitchicon(src="/img/icons/GlitchBadge_Purple_24px.png")
                    h5 Crazy (LTD2)
                br
                a(href="https://twitch.tv/paintwhiff", target="blank")
                    img.twitchicon(src="/img/icons/GlitchBadge_Purple_24px.png")
                    h5 paintsniffer (LTD2)
                br
                a(href="https://twitch.tv/Cynick97", target="blank")
                    img.twitchicon(src="/img/icons/GlitchBadge_Purple_24px.png" title="My name is Dan, I'm 22 and live in Great Britain. I play video games pretty much all day every day, at the moment mostly Legion TD 2, Apex Legends and Dota 2 Autochess. In the past I've played a lot of Rocket League, League of Legends, World of Warcraft and Path of Exile, as well as a bunch of other games. I try to stream every day from 6-7PM GMT until some time in the morning. Thanks for stopping by and I hope you enjoy the stream.")
                    h5 Cynick97 (LTD2)
                br
                a(href="https://twitch.tv/fatestaycalm", target="blank")
                    img.twitchicon(src="/img/icons/GlitchBadge_Purple_24px.png")
                    h5 Fatestaynight (LTD1)
            .left
                h4 Youtube:
                br
                a(href="https://www.youtube.com/channel/UCbDq6kFWwnKlO2jnpaMLePQ", target="blank")
                    img.twitchicon(src="/img/icons/video.png")
                    h5 Akitos
                br
                a(href="https://www.youtube.com/channel/UCjAHKTDHKYUh38ftkWvf5Gw", target="blank")
                    img.twitchicon(src="/img/icons/video.png")
                    h5 LForward
                br
                a(href="https://www.youtube.com/channel/UCSk0_KhLgt6BCcZfvVeCHug", target="blank")
                    img.twitchicon(src="/img/icons/video.png")
                    h5 Roshkatul
                br
                a(href="https://www.youtube.com/channel/UCOTqTXK_yC753PzNh1cogWw", target="blank")
                    img.twitchicon(src="/img/icons/video.png")
                    h5 Bonny