.meinebox {
    margin: 50px;
}

.main-content::-webkit-scrollbar {
    width: 10px; /* remove scrollbar space */
    background: lightgray;
    border-radius: 5px;
}

.main-content::-webkit-scrollbar-thumb {
    background: darkgray;
    border-radius: 5px;
    margin: 5px;
}

.playerbox {
}

.meineTabelle {
    width: 100%;
}

.meineTabelle tr:hover {
    background-color:lightgray;
}

.green{
    background-color:#81fb91;
    border-radius:5px;
    text-align:center;
}

.red {
    background-color: #ff4646;
    border-radius: 5px;
    text-align: center;
}

.white {
    background-color: #e6e3e3;
    border-radius: 5px;
    text-align: center;
}