.select
{
    width:20%;
    margin:auto;
}

.guide
{
    margin:30px;
}

#guide_infobox
{
    float: right;
    border: solid 1px;
    padding:10px;
    margin:20px;
}
#guide_content
{
    height:80%;
    overflow: auto;
}

#guide_content::-webkit-scrollbar {
    width: 10px;  /* remove scrollbar space */
      /*background: transparent; optional: just make scrollbar invisible */
}
/* optional: show position indicator in red */
#guide_content::-webkit-scrollbar-thumb {
    background: lightgray;
    border-radius: 5px;
    margin:5px;
}