.select
{
    width:20%;
    margin:auto;
}

.guide
{
    margin:2%;
}

#guide_results{
    width: 90%;
    margin: 5%;
}
#guide_results tr:hover{
    background-color:lightgray;
}

#guide_infobox
{
    float: right;
    border: solid 1px;
    padding:1%;
    margin:1%;
    width:12%;
    min-width:130px;
}
#guide_content
{
    height:82%;
    overflow: auto;
}

#guide_content::-webkit-scrollbar {
    width: 10px;  /* remove scrollbar space */
      /*background: transparent; optional: just make scrollbar invisible */
}
/* optional: show position indicator in red */
#guide_content::-webkit-scrollbar-thumb {
    background: lightgray;
    border-radius: 5px;
    margin:5px;
}

.youtube{
    margin-left:auto;
    margin-right:auto;
    width:70%;
    text-align:center;
}

.ytframe{
    width:100%;
    height:100%;
}

.main-content::-webkit-scrollbar {
    width: 10px; /* remove scrollbar space */
}

.main-content::-webkit-scrollbar-thumb {
    background: lightgray;
    border-radius: 5px;
    margin: 5px;
}

.guidepic{
    max-height: 500px;
    width:90%;
    margin-left:5%;
    margin-right:5%;
}