#scrollbox
{
    width: 100%;
    max-width: 1300;
    background-color: darkgray;
    color: white;
    border-radius: 10px;
    border: none;
    font-family: 'Courier New', Courier, monospace;
}

.content
{
    padding:20px;
}

.indexbild
{
    height:90%;
    width:100%;
}

.profile{
    height:100%;
    margin-left:20%;
    margin-right:20%;
}