#scrollbox
{
    width: 100%;
    max-width: 1300;
    background-color: darkgray;
    color: white;
    border-radius: 10px;
    border: none;
    font-family: 'Courier New', Courier, monospace;
}

.content
{
    padding:20px;
}

.indexbild
{
    height:97%;
    width:100%;
}