#scrollbox
{
    width: 100%;
    max-width: 1300px;
    background-color: darkgray;
    color: white;
    border-radius: 10px;
    border: none;
    font-family: 'Courier New', Courier, monospace;
}

.content
{
    padding:1%;
}

.indexbild
{
    height:90%;
    width:75%;
}

.profile{
    height:100%;
    margin-left:20%;
    margin-right:20%;
}

.contentbox{
    width:100%;
    height:100%;
    overflow:auto;
}

.contentbox::-webkit-scrollbar {
    width: 10px; /* remove scrollbar space */
    background: lightgray;
    border-radius: 5px;
    /*background: transparent; optional: just make scrollbar invisible */
}
/* optional: show position indicator in red */
.contentbox::-webkit-scrollbar-thumb {
    background: darkgray;
    border-radius: 5px;
    margin: 5px;
}
.news{
    width:75%;
    margin-left:auto;
    margin-right:auto;
    background-color:darkgray;
    color:white;
    border-radius:10px;
    padding:1%;
    margin-bottom:2%;
}

.newsbox{
    width:100%;
    height:100%;
    overflow:auto;
    padding:1%;
}

.newsbox::-webkit-scrollbar {
    width: 10px; /* remove scrollbar space */
    background: lightgray;
    border-radius: 5px;
    /*background: transparent; optional: just make scrollbar invisible */
}
/* optional: show position indicator in red */
.newsbox::-webkit-scrollbar-thumb {
    background: darkgray;
    border-radius: 5px;
    margin: 5px;
}