.main-content
{
    padding: 5px !important;
}

.filter_label
{
    background-color: darkgray;
    margin: 5px;
    border-radius: 5px;
    padding: 5px;
}

.filter_input
{
    margin: 5px;
}

#filter-invis{
    display: none;
    position: relative;
}

#filter
{
    display: inline;
    position: relative;
}

.ladder{
    width:100%;
    border-spacing: 20px;
}

    .ladder td {
        text-align: right;
    }
#td1 {
        text-align: left !important;
    }
