.teamcard {
    border: 1px solid black;
    margin: 1%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 370px;
    max-height:40%;
    height:40%;
}

.player {
    margin: 1%;
    width: 48%;
    min-width:350px;
    border-radius: 5px;
    color:white;
    padding:1%;
    height:90%;
}
#indermitte{
    margin-left:auto;
    margin-right:auto;
    width:80%;
    text-align:center;
}
.favunit_div {
    display: inline-block;
}

.unitimg{
    height:24px;
    width:24px;
}

.btn-outline-success2{
    color:black;
    background-color:transparent;
}

.btn-outline-success2:hover {
    color: black;
    background-color: lightblue;
}

.form-control2 {
    border-color: lightblue;
    background-color: transparent;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0.25rem;
    background-clip: padding-box;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    display: inline-block;
    margin:1%;
}


.favcontainer {
    width:100%;
    overflow:auto;
    max-height:60%;
    cursor:pointer;
}

    .favcontainer::-webkit-scrollbar {
        width: 10px; /* remove scrollbar space */
        background: lightgray;
        border-radius: 5px;
        /*background: transparent; optional: just make scrollbar invisible */
    }
/* optional: show position indicator in red */
    .favcontainer::-webkit-scrollbar-thumb {
        background: darkgray;
        border-radius: 5px;
        margin: 5px;
    }

#player1{
    background-color:darkred;
}
#player2 {
    background-color: darkblue;
}
#player3 {
    background-color: orangered;
}
#player4 {
    background-color: purple;
}
#player5 {
    background-color: #baa700;
}
#player6 {
    background-color: teal;
}
#player7 {
    background-color: green;
}
#player8 {
    background-color: palevioletred;
}

/*progress bar */
#myProgress {
    
    background-color: red;
    
}

#myBar {
    width: 1%;
    height: 30px;
    background-color: green;
    text-align: center; /* To center it horizontally (if you want) */
    line-height: 30px; /* To center it vertically */
    color: white;
    float:left;
}
#myBar2 {
    width: 1%;
    height: 30px;
    background-color: red;
    text-align: center; /* To center it horizontally (if you want) */
    line-height: 30px; /* To center it vertically */
    color: white;
    float:left;
}
#winchancebar {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    text-align:center;
}

#amazon_ad{
    margin-bottom: 0%;
}




.showDetails{
    cursor:pointer;
    
}


#leaktable td{
    width:33%;
}



.game_row{
    background-color:lightgray;
    border-radius:5px;
}

.game_row:hover {
    background-color: darkgray;
    border-radius: 5px;
    text-decoration:underline;
    cursor:pointer;
}

.game_row_4v4 {
    background-color: lightgray;
    border-radius: 5px;
}

.game_row_4v4:hover {
    background-color: darkgray;
    border-radius: 5px;
    text-decoration:underline;
    cursor:pointer;
}

.leaks{
    height:10%;
}



.gameresults{
    float:right;
}

#east{
    float:left;
    width:98%;
}




#player_details_box{
    position: fixed;
    top:7%;
    bottom: 2%;
    left:5%;
    right: 5%;
    z-index: 99;
    background-color: white;
    padding:1%;
    border: 1px solid black;
}


#targetver {
    width: 10%;
    float:left;
}

#unitselector{
    width:15%;
    float:left;
}

#leaktable{
    text-align:center;
    width:25%;

}

#season_stats{
    width: 50%;
    float: left;
}

#grapharea{
    width: 50%;
    margin-right: 12.5%;
    float: right;
}