.inline {
    display: inline;
}

.badge {
    float: right;
}

#img_rank {
    height: 50px;
    width: 50px;
}

#img_level {
    height: 50px;
    width: 50px;
}

.gamelist_ele:hover {
    background-color: white;
}


#avgbuild {
    height: 100%;
    width: 100%;
    overflow: auto;
    padding: 2%;
    border: solid 1px lightgray;
    border-radius: 5px;
}

    #avgbuild::-webkit-scrollbar {
        width: 10px; /* remove scrollbar space */
        background: lightgray;
        border-radius: 5px;
        /*background: transparent; optional: just make scrollbar invisible */
    }
    /* optional: show position indicator in red */
    #avgbuild::-webkit-scrollbar-thumb {
        background: darkgray;
        border-radius: 5px;
        margin: 5px;
    }

#lable_build {
    float: left;
    height: 40%;
    width: 49%;
}

#lable_send {
    float: right;
    height: 40%;
    width: 49%;
}

#avgsend {
    height: 100%;
    width: 100%;
    overflow: auto;
    padding: 2%;
    border: solid 1px lightgray;
    border-radius: 5px;
}

    #avgsend::-webkit-scrollbar {
        width: 10px; /* remove scrollbar space */
        background: lightgray;
        border-radius: 5px;
        /*background: transparent; optional: just make scrollbar invisible */
    }
    /* optional: show position indicator in red */
    #avgsend::-webkit-scrollbar-thumb {
        background: darkgray;
        border-radius: 5px;
        margin: 5px;
    }



.hidediv {
    display: none;
}

.showdiv {
    display: block;
}

.mittig {
    text-align: center;
    align-items: center;
    margin: auto;
    width: 25%;
    max-width:280px;
}


#buildtable {
    border: 1px solid black;
    margin: auto;
    width: 45%;
}

    #buildtable th {
        border: 1px solid black;
        width: 24px;
        height: 24px;
        margin: 0px;
        padding: 0px;
    }

    #buildtable td {
        border: 1px solid black;
        width: 24px;
        height: 24px;
        margin: 0px;
        padding: 0px;
    }

.pictable {
    background-color: white;
}

.hidden {
    display: none;
}

#myChart {
    padding: 2%;
}

#chart-container {
    height: 95%;
    width: 100%;
    position: relative;
}

#divumtable {
    border-radius: 10px;
    top: 15%;
    bottom: 10%;
    left: 25%;
    right: 25%;
    position: absolute;
    text-align: center;
    background-color: black;
    opacity: 0.9;
    color: white;
    align-items: center;
    justify-content: center;
    box-shadow: 2px 3px 16px black;
}

.kleinerCanvas {
    width: 100%;
    height: 100%;
}

.profile {
    height: 100%;
}

/*MARKIERUNG*/
.flex-col {
    flex-wrap: nowrap;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.flex-row {
    flex-wrap: wrap;
    flex-direction: row;

}

.flex-row .stats-small {
    margin: 0;
    max-width: 380px;
}

#stats {
    border-radius: 10px;
    height: 80%;
    padding: 10px;
    opacity: 0.9;
    background-color: lightgray;
    overflow: auto;
}

    #stats::-webkit-scrollbar {
        width: 10px; /* remove scrollbar space */
        background: lightgray;
        border-radius: 5px;
        /*background: transparent; optional: just make scrollbar invisible */
    }
    /* optional: show position indicator in red */
    #stats::-webkit-scrollbar-thumb {
        background: darkgray;
        border-radius: 5px;
        margin: 5px;
    }

.stats_small {
    float: left;
    width: 23.3%;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 2%;
    margin-bottom: 2%;
    min-width: 150px;
}

#general {
    text-align: center;
    width: 90%;
    margin-left: 5%;
}

#mastermind {
    background-color: #bfbfbf;
    padding: 1%;
    border-radius: 10px;
}

#element {
    background-color: #fff79d;
    padding: 1%;
    border-radius: 10px;
}

#grove {
    background-color: #a8fc9c;
    padding: 1%;
    border-radius: 10px;
}

#forsaken {
    background-color: #ae0606;
    padding: 1%;
    border-radius: 10px;
}

#mech {
    background-color: #90c5ff;
    padding: 1%;
    border-radius: 10px;
}

#atlantean {
    background-color: #b10ad1;
    padding: 1%;
    border-radius: 10px;
}

body {
    width: 100%;
    height: 100vh;
    position: relative;
}


.wrap {
    overflow: hidden;
    padding: 1%;
    display: block;
    border-radius: 4px;
    transform: translateY(20px);
    transition: all 0.5s;
    visibility: hidden;
}

    .wrap .content {
        opacity: 0;
    }

    .wrap:before {
        position: absolute;
        width: 1px;
        height: 1px;
        background: white;
        content: "";
        bottom: 10px;
        left: 50%;
        top: 95%;
        color: #fff;
        border-radius: 50%;
        -webkit-transition: all 600ms cubic-bezier(0.215, 0.61, 0.355, 1);
        transition: all 600ms cubic-bezier(0.215, 0.61, 0.355, 1);
    }

    .wrap.active {
        display: block;
        visibility: visible;
        box-shadow: 2px 3px 16px silver;
        transition: all 600ms;
        transform: translateY(0px);
        transition: all 0.5s;
        opacity: 0.9;
    }

        .wrap.active:before {
            height: 2000px;
            width: 2000px;
            border-radius: 50%;
            top: 50%;
            left: 50%;
            margin-left: -1000px;
            margin-top: -1000px;
            display: block;
            -webkit-transition: all 600ms cubic-bezier(0.215, 0.61, 0.355, 1);
            transition: all 600ms cubic-bezier(0.215, 0.61, 0.355, 1);
        }

        .wrap.active .content {
            position: relative;
            z-index: 1;
            opacity: 1;
            transition: all 600ms cubic-bezier(0.55, 0.055, 0.675, 0.19);
        }

#meinbutton {
    padding: 11px 11px 13px 13px;
    outline: none;
    border-radius: 50%;
    background: #007fed;
    color: #fff;
    font-size: 24px;
    display: block;
    position: fixed;
    left: 50%;
    margin-left: -25px;
    transition: transform 0.25s;
}

    #meinbutton:hover {
        text-decoration: none;
        background: #2198ff;
    }

#tablewrapper {
    overflow-x: auto;
}

#gamedetails_table {
    width: 100%;
    background-color: lightgray;
    border-radius: 5px;
}

    #gamedetails_table tr:hover {
        background-color: darkgray;
    }
td{
        padding:0.3%;
    }
th {
    padding: 0.3%;
}
    .gamedetails_kasten {
        height: 20%;
        overflow: auto;
        margin-left: auto;
        margin-right: auto;
        padding: 1%;
        width: 30%;
        float: left;
    }

    .gamedetails_kasten::-webkit-scrollbar {
        width: 10px; /* remove scrollbar space */
        /*background: transparent; optional: just make scrollbar invisible */
        background: lightgray;
        border-radius: 5px;
    }
    /* optional: show position indicator in red */
    .gamedetails_kasten::-webkit-scrollbar-thumb {
        background: darkgray;
        border-radius: 5px;
        margin: 5px;
    }

.gamedetails_schrift {
    margin-top: 1%;
    margin-left: auto;
    margin-right: auto;
    padding: 1%;
    width: 30%;
    float: left;
}


#gamedetails_build{
    cursor:pointer;

}
/* Stats */
#chartContainer2 {
    position: relative;
    width: 100%;
    height: 90%;
    margin-top: 5%;
    margin-bottom: 5%;
}

#playerstats {
    position: absolute;
    z-index: 2000;
    left: 5%;
    right: 5%;
    width: 90%;
    bottom: 5%;
    top: 7%;
    background-color: white;
    border-radius: 10px;
    opacity: 1;
    padding: 10px;
    border: 1px solid black;
    height: 90%;
}

#close {
    float: right;
    background-color: black;
    text-align: center;
    color: white;
    height: 24px;
    width: 24px;
    border-radius: 12px;
    font-weight: bold;
    margin-left: 20px;
}

    #close:hover {
        box-shadow: 2px 3px 16px black;
        cursor: pointer;
    }

#help {
    float: right;
    background-color: black;
    text-align: center;
    color: white;
    height: 24px;
    width: 24px;
    border-radius: 12px;
    font-weight: bold;
}

    #help:hover {
        box-shadow: 2px 3px 16px black;
        cursor: pointer;
    }

#mitte {
    z-index: 4000;
}


#inputs {
    width: 30%;
    min-width: 250px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.inline {
    float: left;
    width: 30%;
    margin-right: 3.33333%;
}

.statlink {
    background-color: darkgray;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    max-width: 20%;
    padding: 5px;
    text-align: center;
    float: left;
    margin: 10px;
    min-width: 290px;
}

.small_icon {
    height: 30px;
    width: 30px;
    line-height: 5px;
    margin-left: 5px;
    border-radius: 10px;
}

#helpwindow {
    z-index: 6000;
    top: 10%;
    bottom: 10%;
    left: 20%;
    right: 20%;
    padding: 5%;
    position: absolute;
    background-color: white;
    opacity: 1;
    border: solid 1px black;
    border-radius: 10px;
}

.divider {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    height: 33%;
}

#ingame{
    color: forestgreen;
    display: none;
}

#seasonstats{
    width:90%;
    margin-left:5%;
    margin-right:5%;
    height:90%;
}