.tabmenu
{
	position: relative;
    margin: 20px;
    background-color: lightgray;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    box-shadow: 2px 3px 16px silver;

}

.tab_top_active
{
	float: left;
    padding: 5px;
    font-weight: bold;
    
}

.tab_top_passive
{
	float: left;
	padding: 5px;
}

.tab_top_passive:hover
{
    background-color: white;
    color:black;
    border-radius: 5px;
}

.tab_top_active:hover
{
    background-color: white;
    color:black;
    border-radius: 5px;
}


.tab_box
{
	float: left;
	width: 100%;
    padding:50px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    height: 85%;
    border: 1px solid lightgray;
    border-top: 0px solid black;
    box-shadow: 2px 3px 16px silver;
}