extend ../../layout
block content
    link(rel='stylesheet', href='/css/guides.css')
    .guide
        #amazon_ad
        h1#guide_title Welcome to the worst Element Guide
        #guide_author 
            i by 
                a(href="/profile?player=Bluejin") Bluejin
            a(href="/guides", style="float:right;") Back
        #guide_infobox
            #infobox_author Author: 
                a(href="/profile?player=Bluejin") Bluejin
            #infobox_version Version: v2.40
            #infobox_section Section: Element Guides
            #infobox_content Content:
                ul
                    - for(var i = 1 ; i < 12; i++){
                        li 
                            a(href="#wave"+i)= "Wave "+ i
                    - }
        p.
        #guide_content
            | After having played 25 games with Element with a 60% winrate, I have completely mastered this race, to the point where I feel like I am elegible to write a guide, so you too can feed your ass off.
            br
            br
            b#wave1 Wave 1
            br
            | Start with a Fire Elemental on the left on the 7th field from the top, all the other starts can easily be screwed up and I was too lazy to test them in-depth. Push to 4 Worker as soon as possible.
            br
            img.bbCodeImage.LbImage(src='https://legiontd2.com/community/attachments/w1-jpg.5808/', alt='W1.jpg', style='')
            br
            b#wave2 Wave 2
            br
            | Add a proton for 2, just to be save. If you get a 40 send here, you can savely push to 6 workers here and add one proton for 3 as shown for wave 3.
            br
            img.bbCodeImage.LbImage(src='https://legiontd2.com/community/attachments/w2-jpg.5809/', alt='W2.jpg', style='')
            br
            b#wave3 Wave 3
            br
            | Add one windhawk and one proton here, holds 80 every time. If you got a send, push all your money into workers.
            br
            img.bbCodeImage.LbImage(src='https://legiontd2.com/community/attachments/w3-jpg.5810/', alt='W3.jpg', style='')
            br
            b#wave4 Wave 4
            br
            | If you got a send on 3, you don't need to add anything. Else add another Windhawk as shown for Wave 5.
            br
            b#wave5 Wave 5
            br
            | The setup below holds 80 easily. If you expect more and have the cash, either add protons or add a Mudman in the position shown for Wave 8. If you got a send here, you have a choice : If you want to be greedy, push all your money into Workers, just save 40 to 60 to add more protons.
            br
            img.bbCodeImage.LbImage(src='https://legiontd2.com/community/attachments/w5-jpg.5811/', alt='W5.jpg', style='')
            br
            b#wave6 Wave 6
            br
            | If you got a send on 5, this should hold 80 unless you get unlucky focus, if you expect more, add some protons or another Windhawk.
            br
            img.bbCodeImage.LbImage(src='https://legiontd2.com/community/attachments/w6-jpg.5812/', alt='W6.jpg', style='')
            br
            b#wave7 Wave 7
            br
            | Add a disciple here, and invest the rest of your gold into more protons.
            br
            img.bbCodeImage.LbImage(src='https://legiontd2.com/community/attachments/w7-jpg.5813/', alt='W7.jpg', style='')
            br
            b#wave8 Wave 8/9
            #wave9
            | If you got a send on 7, add only one windhawk, and push the rest in workers. Else add the Mudman and the Windhawk or Protons if you can't afford that.
            br
            | For 9, add whatever you didn't add for 8 in the picture and push the rest in workers, unless you expect a send 9, then you can upgrade one Windhawk instead.
            br
            img.bbCodeImage.LbImage(src='https://legiontd2.com/community/attachments/w8-jpg.5814/', alt='W8.jpg', style='')
            br
            b#wave10 Wave 10
            br
            | For Wave 10, add a Starcaller. If you expect a send, invest the rest of your gold in protons.
            br
            img.bbCodeImage.LbImage(src='https://legiontd2.com/community/attachments/w10-jpg.5815/', alt='W10.jpg', style='')
            br
            | Wave 11
            br
            b#wave11 For 11, add one Mudman so your Fire Ele does not get sniped. Start upping Violets to get the bonus of the Starcaller.
            br
            img.bbCodeImage.LbImage(src='https://legiontd2.com/community/attachments/w11-jpg.5816/', alt='W11.jpg', style='')
            br
            | After that, it depends too much on the game to simply take pictures, figure it out on your own.
            br
            br
            | Now you too are ready to tilt enemies and allies alike.