extend ../../layout
block content
    link(rel='stylesheet', href='/css/guides.css')
    .guide
        h1#guide_title Builds for new Players: Element
        #guide_author 
            i by 
                a(href="/profile?player=ACrowley") ACrowley
            a(href="/guides", style="float:right;") Back
        #guide_infobox
            #infobox_author Author: 
                a(href="/profile?player=ACrowley") ACrowley
            #infobox_version Version: v5.07
            #infobox_section Section: Element Guides
            #infobox_content Content:
                ul
                    - for(var i = 1 ; i < 11; i++){
                        li 
                            a(href="#wave"+i)= "Wave "+ i
                    - }
        p.
        #guide_content
            h3 Content
            br
            | Get to the first boss without leaking and have decent economy with Element!
            br
            br
            | As you practice with this build, you will learn you can usually build less defenders than the guide suggests, or build different units, and you will develop your own build!
            br
            br
            | I am not claiming this build will make you a champion, but it&apos;s a proven build for you to get started.
            br
            br
            | General info: Whenever you have extra gold, push workers. You will soon learn what you can get away with. You will also learn to suspect when big sends are coming so you can build a little extra to survive or when to build less for better economy. Also, don&apos;t forget to spend your own mythium to increase your income!
            br
            br
            | Placement is important, so I provide screenshots
            br
            br
            br
            b Wave 1
            br
            | Start with a Fire Elemental.
            br
            a.externalLink(href='https://steamuserimages-a.akamaihd.net/ugc/1045344786913091852/C87844D00CB73CC780FEA751A0BF8EFBCB3481D6/' target='_blank' rel='nofollow')
            img.bbCodeImage.LbImage(src='https://steamuserimages-a.akamaihd.net/ugc/1045344786913091852/C87844D00CB73CC780FEA751A0BF8EFBCB3481D6/' alt='[​IMG]' data-url='https://steamuserimages-a.akamaihd.net/ugc/1045344786913091852/C87844D00CB73CC780FEA751A0BF8EFBCB3481D6/')
            br
            | Build an Aqua where shown, then click on it and choose the Fire Elemental upgrade.
            br
            br
            | You will only need 20 gold by next wave, so you can buy 2 workers this wave.
            br
            br
            | (Your gold + income at the end of the wave needs to be at least 20. You can spend mythium to increase your income)
            br
            br
            | Spend your 20 mythium upgrading your king before the wave starts for extra income. If you miss upgrading the king, you can still send mercenaries to increase your income.
            br
            br
            br
            b Wave 2
            br
            | Build a Proton across from your Fire Elemental, and one square up
            br
            a.externalLink(href='https://steamuserimages-a.akamaihd.net/ugc/1045344786913099837/C4CD6F4D67E3348B2CF4B894A9FCC43214CCB09E/' target='_blank' rel='nofollow')
            img.bbCodeImage.LbImage(src='https://steamuserimages-a.akamaihd.net/ugc/1045344786913099837/C4CD6F4D67E3348B2CF4B894A9FCC43214CCB09E/' alt='[​IMG]' data-url='https://steamuserimages-a.akamaihd.net/ugc/1045344786913099837/C4CD6F4D67E3348B2CF4B894A9FCC43214CCB09E/')
            br
            | Why space them out like that? You want to take pressure off the Elemental so it doesn&apos;t get overwhelmed, and later Protons will be good for extra firepower and fodder.
            br
            br
            | For next wave, you will need 70 gold, so I do not suggest buying more workers yet.
            br
            br
            | I will not tell you when to build more workers just because it is very game-dependent. By the start of the boss wave you can regularly have at least 9 with this build, depending on the game. As you learn the build and pay attention to what&apos;s going on in your game, you will learn when you can afford to build workers and when you can&apos;t.
            br
            br
            br
            b Wave 3
            br
            | Upgrade to an Atom.
            br
            a.externalLink(href='https://steamuserimages-a.akamaihd.net/ugc/1045344786913109599/6A524E52A6F6EEBA65E659BB037638585E790178/' target='_blank' rel='nofollow')
            img.bbCodeImage.LbImage(src='https://steamuserimages-a.akamaihd.net/ugc/1045344786913109599/6A524E52A6F6EEBA65E659BB037638585E790178/' alt='[​IMG]' data-url='https://steamuserimages-a.akamaihd.net/ugc/1045344786913109599/6A524E52A6F6EEBA65E659BB037638585E790178/')
            br
            | Click on your Proton and buy the upgrade
            br
            br
            | This should stop the wave, even with any combination of 60 mythium sends
            br
            br
            | You will need 140 gold by next round
            br
            br
            br
            b Wave 4
            br
            | Get a Mudman to tank for your Fire Elemental
            br
            a.externalLink(href='https://steamuserimages-a.akamaihd.net/ugc/1045344786913114027/A5798BA3A61584F135C75F792C7CB3EF51385939/' target='_blank' rel='nofollow')
            img.bbCodeImage.LbImage(src='https://steamuserimages-a.akamaihd.net/ugc/1045344786913114027/A5798BA3A61584F135C75F792C7CB3EF51385939/' alt='[​IMG]' data-url='https://steamuserimages-a.akamaihd.net/ugc/1045344786913114027/A5798BA3A61584F135C75F792C7CB3EF51385939/')
            br
            | Waves will be split between your front two units while the bouncing attack from the Fire Elemental burns enemies to the ground!
            br
            br
            | This will still defend your lane even if you get sends up to 80 mythium.
            br
            br
            br
            b Wave 5 (mini-boss)
            br
            | Build a Windhawk where shown so it gets into the mix at the right time
            br
            a.externalLink(href='https://steamuserimages-a.akamaihd.net/ugc/1045344786913122374/327D30513D1DD745947C559E3D984E2053F2977F/' target='_blank' rel='nofollow')
            img.bbCodeImage.LbImage(src='https://steamuserimages-a.akamaihd.net/ugc/1045344786913122374/327D30513D1DD745947C559E3D984E2053F2977F/' alt='[​IMG]' data-url='https://steamuserimages-a.akamaihd.net/ugc/1045344786913122374/327D30513D1DD745947C559E3D984E2053F2977F/')
            br
            | This is a popular wave for sends in public games. My recommendation should keep you safe from leaks, unless they send over 80 mythium.
            br
            br
            br
            b Wave 6
            br
            | Let&apos;s get another WindHawk! You will also need an Aqua
            br
            a.externalLink(href='https://steamuserimages-a.akamaihd.net/ugc/1045344786913126065/5AFDD11AF5D30998872BAB5062D4D5E96AB4AAC1/' target='_blank' rel='nofollow')
            img.bbCodeImage.LbImage(src='https://steamuserimages-a.akamaihd.net/ugc/1045344786913126065/5AFDD11AF5D30998872BAB5062D4D5E96AB4AAC1/' alt='[​IMG]' data-url='https://steamuserimages-a.akamaihd.net/ugc/1045344786913126065/5AFDD11AF5D30998872BAB5062D4D5E96AB4AAC1/')
            br
            | We built just enough defence to keep you safe from sends up to 100 mythium. For the rest of this guide, you should be safe from up to 100 mythium of sends per wave.
            br
            br
            | Don&apos;t forget:
            br
            | -hire workers when you can afford them. If you don&apos;t expect sends, you can build less than what is suggested here and still be OK
            br
            | -spend your mythium for more income, it adds up!
            br
            | -if you fear a large send coming, buy more defence than suggested to prevent leaking
            br
            br
            br
            b Wave 7
            br
            | Select your Aqua and upgrade it to a Rogue Wave(cost 115).
            br
            a.externalLink(href='https://steamuserimages-a.akamaihd.net/ugc/1045344786913137926/994AC3DC3E8AB7A26EBF1763613650A0C6B8A9A3/' target='_blank' rel='nofollow')
            img.bbCodeImage.LbImage(src='https://steamuserimages-a.akamaihd.net/ugc/1045344786913137926/994AC3DC3E8AB7A26EBF1763613650A0C6B8A9A3/' alt='[​IMG]' data-url='https://steamuserimages-a.akamaihd.net/ugc/1045344786913137926/994AC3DC3E8AB7A26EBF1763613650A0C6B8A9A3/')
            br
            | The Rogue Wave is weaker than the Fire Elemental, but it also is cheaper. The Rogue Wave&apos;s attack bounces just like the Aqua and Fire Elemental attacks do, but this one makes enemies it hits weaker to ability attacks from your other units. Your Fire Elemental will be even more effective now!
            br
            br
            br
            b Wave 8
            br
            | Buy another Mudman, for the right side of the split
            br
            a.externalLink(href='https://steamuserimages-a.akamaihd.net/ugc/1045344786913145401/7D24ADD63281B8F7961245FDA71CE095EEF9A872/' target='_blank' rel='nofollow')
            img.bbCodeImage.LbImage(src='https://steamuserimages-a.akamaihd.net/ugc/1045344786913145401/7D24ADD63281B8F7961245FDA71CE095EEF9A872/' alt='[​IMG]' data-url='https://steamuserimages-a.akamaihd.net/ugc/1045344786913145401/7D24ADD63281B8F7961245FDA71CE095EEF9A872/')
            br
            | Mudman has an ability called &quot;harden&quot; that will boost its defence for one wave, but then it will be much weaker the next wave. Use with caution!
            br
            br
            br
            b Wave 9
            br
            | Get one more WindHawk here. The damage is good vs this wave and the next one (the Boss)
            br
            a.externalLink(href='https://steamuserimages-a.akamaihd.net/ugc/1045344786913149292/5E72EEFAF054AFC03F73201262DECE0AC87890C7/' target='_blank' rel='nofollow')
            img.bbCodeImage.LbImage(src='https://steamuserimages-a.akamaihd.net/ugc/1045344786913149292/5E72EEFAF054AFC03F73201262DECE0AC87890C7/' alt='[​IMG]' data-url='https://steamuserimages-a.akamaihd.net/ugc/1045344786913149292/5E72EEFAF054AFC03F73201262DECE0AC87890C7/')
            br
            | Now SAVE MONEY because you don&apos;t have enough to survive round 10 yet. No extra workers unless you are rich.
            br
            br
            br
            b Wave 10 (Boss)
            br
            | You can survive the Boss if you get no sends by simply adding a Disciple, another WindHawk, and 4 protons, as shown below
            br
            a.externalLink(href='https://steamuserimages-a.akamaihd.net/ugc/1045344786913153512/F331C3399DE341E251F7E7C5C93517752A75BC60/' target='_blank' rel='nofollow')
            img.bbCodeImage.LbImage(src='https://steamuserimages-a.akamaihd.net/ugc/1045344786913153512/F331C3399DE341E251F7E7C5C93517752A75BC60/' alt='[​IMG]' data-url='https://steamuserimages-a.akamaihd.net/ugc/1045344786913153512/F331C3399DE341E251F7E7C5C93517752A75BC60/')
            br
            | This should also survive wave 11 without sends.
            br
            br
            | However, you are much better off spending a few more gold and getting 2 Disciples instead for Wave 10
            br
            a.externalLink(href='https://steamuserimages-a.akamaihd.net/ugc/1045344786913158766/5A718DF18AD8DBA0101333951536E6758444CEBE/' target='_blank' rel='nofollow')
            img.bbCodeImage.LbImage(src='https://steamuserimages-a.akamaihd.net/ugc/1045344786913158766/5A718DF18AD8DBA0101333951536E6758444CEBE/' alt='[​IMG]' data-url='https://steamuserimages-a.akamaihd.net/ugc/1045344786913158766/5A718DF18AD8DBA0101333951536E6758444CEBE/')
            br
            br
            | Likely, you will get sends on 10. So check out the picture below and build anything there you can afford. Extra Disciples and WindHawks are great for this wave. And spread around Protons to distract the Boss
            br
            a.externalLink(href='https://steamuserimages-a.akamaihd.net/ugc/1045344786913162643/527D5DB1523EDC1EF0FB8CDABE1EE11E3878D3FF/' target='_blank' rel='nofollow')
            img.bbCodeImage.LbImage(src='https://steamuserimages-a.akamaihd.net/ugc/1045344786913162643/527D5DB1523EDC1EF0FB8CDABE1EE11E3878D3FF/' alt='[​IMG]' data-url='https://steamuserimages-a.akamaihd.net/ugc/1045344786913162643/527D5DB1523EDC1EF0FB8CDABE1EE11E3878D3FF/')
            br
            br
            | I hope you liked this guide and that it will help you get started learning the game with Elemental. Practice with it and make changes as you get better. Have fun!
