extend ../../layout
block content
    link(rel='stylesheet', href='/css/guides.css')
    .guide
        h1#guide_title Element Guide
        #guide_author 
            i by 
                a(href="/profile#Wadi94") Wadi94
            a(href="/guides", style="float:right;") Back
        #guide_infobox
            #infobox_author Author: 
                a(href="/profile#Wadi94") Wadi94
            #infobox_version Version: v1.70
            #infobox_section Section: Element Guides
            #infobox_content Content:
                ul
                    - for(var i = 1 ; i < 22; i++){
                        li 
                            a(href="#wave"+i)= "Wave"+ i
                    - }
        p.
        #guide_content
                p
                    | Hey guys,
                    br
                    br
                    |                         my name is 
                    b Wadi94
                    |  and i want to show u how my Element is working (for beginners)
                    br
                    |                         All the Pictures are the fields from bottom to my built. Its my first Guide so feel free to Give me Advices!
                    br
                    i
                        | (don't judge me for my english)
                        br
                    br
                    |                         First i wanna tell something about me:
                    br
                    |                         - 1853 Peak Rating (1895 Element Peak)
                    br
                    |                         - about 450 games overall (200 Element Games)
                    br
                    |                         - 300hours ingame time
                    br
                    br
                    |                         NOTE: i added some Pictures to Show you the right positioning -> It's the Standard positioning for every wave, if u not expect a bigger send.
                    br
                    |                         For the Pictures i used attrib's build planner: 
                    a.externalLink(href='https://ltdstats.com/builder', target='_blank', rel='nofollow') https://ltdstats.com/builder
                    br
                    br
                    b#wave1 Wave 1:
                    br
                    |                         You start with an Aqua on the fifth possible bigsquare on the left side from the Bottom.
                    br
                    |                         on the seventh square on the left side u start with Protons. ( i place them like this for wave 5, they split the Boss so well!)
                    br
                    |                         Push a second worker.
                    br
                    br
                    img.bbCodeImage.LbImage(src='https://legiontd2.com/community/attachments/upload_2018-1-31_15-21-11-png.3318/', alt='upload_2018-1-31_15-21-11.png', style='')
                    br
                    b#wave2 Wave 2:
                    br
                    |                         Now u need a second Aqua. I like to place it straight behind the first Aqua.
                    br
                    |                         nothing else to do here.
                    br
                    img.bbCodeImage.LbImage(src='https://legiontd2.com/community/attachments/upload_2018-1-31_15-21-55-png.3319/', alt='upload_2018-1-31_15-21-55.png', style='')
                    br
                    br
                    b#wave3 Wave 3:
                    br
                    |                         Now there a two ways to go:
                    br
                    br
                    |                         1. 
                    b the Greedy Path
                    | : (my favourite)
                    br
                    i -
                    b Push worker
                    br
                    |                         just set down another Proton (you will see in the picture where i like it)
                    br
                    |                         -> high risk, cause u will leak to a snail (but most of the time its worth)
                    br
                    |                         if u got no sends or just a snail on Wave 1. 
                    b Don't do that!
                    br
                    |                         Same as there are long rounds (some guys leaking)
                    br
                    img.bbCodeImage.LbImage(src='https://legiontd2.com/community/attachments/upload_2018-1-31_15-22-36-png.3320/', alt='upload_2018-1-31_15-22-36.png', style='')
                    br
                    br
                    |                         2.
                    b the save Path:
                    br
                    |                         upgrade ur first Aqua to the Blue Elemental
                    br
                    |                         so u can hold fiend+snail
                    br
                    |                         -> through the wave you can push ur 3 Worker
                    br
                    br
                    b#wave4 Wave 4:
                    br
                    |                         Here it depends if you were able to push ur 3rd worker on wave 3:
                    br
                    br
                    b 1.1 The Greedy Path:
                    br
                    |                         just Upgrade your Blue Elemental (the one in the front)
                    br
                    img.bbCodeImage.LbImage(src='https://legiontd2.com/community/attachments/upload_2018-1-31_15-24-0-png.3321/', alt='upload_2018-1-31_15-24-0.png', style='')
                    br
                    br
                    b 2.2 The Save Path:
                    br
                    |                         You just need the Proton, if u expect fiend + snail or 3 snails! Otherwise dont buy it.
                    br
                    br
                    b
                        br#wave5
                        |                         Wave 5:
                        br
                        |                         UPGRADE YOUR (second Aqua) FIRE ELEMENTAL!
                    br
                    |                         if u got the combo, u will hold here nearly everything
                    br
                    |                         -> within the wave u can push a worker if u get a send
                    br
                    img.bbCodeImage.LbImage(src='https://legiontd2.com/community/attachments/upload_2018-1-31_15-24-57-png.3322/', alt='upload_2018-1-31_15-24-57.png', style='')
                    br
                    br
                    b#wave6 Wave 6:
                    br
                    |                         If u expect a bigger send (75<) get Windhawk. (windhawk placement is in Wave 7 Picture)
                    br
                    br
                    |                         otherwise: just Upgrade the third Proton from your left side.
                    br
                    |                         -> Get Worker!
                    br
                    img.bbCodeImage.LbImage(src='https://legiontd2.com/community/attachments/upload_2018-1-31_15-28-25-png.3325/', alt='upload_2018-1-31_15-28-25.png', style='')
                    br
                    b#wave7 Wave 7:
                    br
                    |                         As Element you can go undervalue here.
                    br
                    |                         I'd like to set here a Windhawk (i know its bad for Magic waves) and push a worker!
                    br
                    |                         As Element you will hold here a 100+ send.
                    br
                    |                         ->worker!
                    br
                    img.bbCodeImage.LbImage(src='https://legiontd2.com/community/attachments/upload_2018-1-31_15-29-15-png.3326/', alt='upload_2018-1-31_15-29-15.png', style='')
                    br
                    br
                    br
                    b#wave8 Wave 8:
                    br
                    |                         Is also a good Wave for you!
                    br
                    |                         You will hold most of the send even if they send you 100+
                    br
                    |                         So just built another windhawk here. (dont wonder, im preparing for Wave 9)
                    br
                    |                         if u expect big sends incoming at 8/9, u can go for an Mudman, instead of an Windhawk.
                    br
                    |                         ->worker
                    br
                    img.bbCodeImage.LbImage(src='https://legiontd2.com/community/attachments/upload_2018-1-31_15-29-58-png.3327/', alt='upload_2018-1-31_15-29-58.png', style='')
                    br
                    br
                    b#wave9 Wave 9:
                    br
                    |                         Thats one of ur weakest waves, they say...
                    br
                    |                         As youu see we got 1/2 Windhawks here, mostly i get a third Windhawk here, otherwise i also upgrade another Proton. and i like to upgrade one Windhawk to a violet, u will hold 100/150 sends!
                    br
                    |                         This built is just weak, against a Packleader.
                    br
                    i
                        | Most of the time i get here, 6/7/8 workers, depends how they send. (just for info)
                        br
                        |                         Most of the time i don't get Mudman.
                        br
                        |                         ->worker
                        br
                        img.bbCodeImage.LbImage(src='https://legiontd2.com/community/attachments/upload_2018-1-31_15-32-40-png.3329/', alt='upload_2018-1-31_15-32-40.png', style='')
                    br
                    br
                    b#wave10 Wave 10:
                    br
                    |                         A Mate of mine, has written in his tagline 'I leak 10'.
                    br
                    |                         Same could happen here, but the greed will pay off.
                    br
                    br
                    br
                    b The Greedy 10: 
                    | Just get a Disciple between your protons leader. And set a proton to the right side!
                    br
                    |                         -> this is important, otherwise ur disciple will say bye asap.
                    br
                    b The Save 10:
                    br
                    |                         Same built, just u will need a mudmen (most of the time u built it on Wave 8 - if u built it)
                    br
                    img.bbCodeImage.LbImage(src='https://legiontd2.com/community/attachments/upload_2018-1-31_15-36-54-png.3330/', alt='upload_2018-1-31_15-36-54.png', style='')
                    br
                    br
                    br
                    b#wave11 Wave 11:
                    br
                    |                         I hate this Wave as Element btw.
                    br
                    |                         if u get a send you will need the golem! he tanks nearly forever
                    br
                    br
                    |                         If they save longer/more ( 300+)
                    br
                    |                         you will need your second Violet too!
                    br
                    img.bbCodeImage.LbImage(src='https://legiontd2.com/community/attachments/upload_2018-1-31_15-39-0-png.3331/', alt='upload_2018-1-31_15-39-0.png', style='')
                    br
                    br
                    |                         No send:
                    br
                    br
                    |                         just get a mudmen there, or prepare for 12/13.
                    br
                    |                         12: starcaller
                    br
                    |                         13: Firelord (but care, he is so weak 11/12)
                    br
                    br
                    b#wave12 Wave 12:
                    br
                    |                         Send:
                    br
                    |                         Compares to your Build,
                    br
                    |                         i'd like to have a Starcaller. (1660 Value btw)
                    br
                    |                         if they save long u can also upgrade a Windhawk, so u are on 1800 Value.
                    br
                    img.bbCodeImage.LbImage(src='https://legiontd2.com/community/attachments/upload_2018-1-31_15-40-27-png.3332/', alt='upload_2018-1-31_15-40-27.png', style='')
                    br
                    br
                    b#wave13 Wave 13:
                    br
                    |                         Wave 13 ist the Wave for Element! here are mostly 2 Variations.
                    br
                    |                         ALL-Ins by enemies:
                    br
                    |                         -Fenix is a Must-have here! (+Starcaller) if u get enough gold there would be a second Firelord great.
                    br
                    |                         Care that the firelord and the Fenix are in range of the starcaller!
                    br
                    i
                        span(style='text-decoration: underline') -> we prepared for this since wave 11/12!
                    br
                    br
                    br
                    |                         No send:
                    br
                    |                         A Firelord should doing well (instead of the Fenix)
                    br
                    img.bbCodeImage.LbImage(src='https://legiontd2.com/community/attachments/upload_2018-1-31_15-43-4-png.3333/', alt='upload_2018-1-31_15-43-4.png', style='')
                    br
                    br
                    br
                    b#wave14 Wave 14:
                    br
                    |                         Send: You need 3 or 4 Violets (place them behind ur two others)
                    br
                    |                         no send: I'd like to get Fenix or a second disciple for 15
                    br
                    img.bbCodeImage.LbImage(src='https://legiontd2.com/community/attachments/upload_2018-1-31_15-44-30-png.3334/', alt='upload_2018-1-31_15-44-30.png', style='')
                    br
                    br
                    b#wave15 Wave 15:
                    br
                    |                         Send: 2 Fenix will be nice (otherwise second fire lord and +1 Violet!)
                    br
                    |                         No send: 1 Fenix and Violet
                    br
                    img.bbCodeImage.LbImage(src='https://legiontd2.com/community/attachments/upload_2018-1-31_15-45-35-png.3335/', alt='upload_2018-1-31_15-45-35.png', style='')
                    br
                    b#wave16 Wave 16
                    |  :
                    br
                    |                         here you need 1-2 Disciples! place them behind ur starcaller for the Regenration
                    br
                    img.bbCodeImage.LbImage(src='https://legiontd2.com/community/attachments/upload_2018-1-31_15-46-29-png.3336/', alt='upload_2018-1-31_15-46-29.png', style='')
                    br
                    br
                    b#wave17 Wave 17 :
                    br
                    |                         If u know they send here, you need 2 Golems
                    br
                    |                         --
                    br
                    |                         Otherwise You prepare for 19..
                    br
                    |                         built fenix right to your Starcaller.
                    br
                    img.bbCodeImage.LbImage(src='https://legiontd2.com/community/attachments/upload_2018-1-31_15-48-9-png.3338/', alt='upload_2018-1-31_15-48-9.png', style='')
                    br
                    b#wave18 Wave 18 :
                    br
                    |                         If u know they send here, you need 2 or 3 Golems.
                    br
                    |                         Otherwise You prepare for 19...
                    br
                    |                         Built another Fenix next to your Starcaller
                    br
                    img.bbCodeImage.LbImage(src='https://legiontd2.com/community/attachments/upload_2018-1-31_15-49-40-png.3339/', alt='upload_2018-1-31_15-49-40.png', style='')
                    br
                    b#wave19 Wave 19:
                    br
                    |                         You are strong here.
                    br
                    |                         with 4-5 Fenix in Range of your starcaller u will hold this..
                    br
                    |                         Another opportunity is, 2-3 Fenix and desciples spam.
                    br
                    br
                    b#wave20
                    b#wave21 Wave 20/21:
                    br
                    |                         Starcaller, Disciples spam LEEEEET'S GO!
                    br
                    br
                    |                         Sorry, cant Upload more Pictures, its just for Beginners, it is very Situtionally, but i try to hold it very easy.
                    br
                    |                         If u have Questions or Advices feel free to ask/write me!
                    br
                    br
                    |                         See you Ingame
                    br
                    |                         Wadi94
