extend ../../layout
block content
    link(rel='stylesheet', href='/css/guides.css')
    .guide
        h1#guide_title Builds for new Players: Atlantean
        #guide_author 
            i by 
                a(href="/profile?player=ACrowley") ACrowley
            a(href="/guides", style="float:right;") Back
        #guide_infobox
            #infobox_author Author: 
                a(href="/profile?player=ACrowley") ACrowley
            #infobox_version Version: v5.07
            #infobox_section Section: Atlantean Guides
            #infobox_content Content:
                ul
                    - for(var i = 1 ; i < 11; i++){
                        li 
                            a(href="#wave"+i)= "Wave"+ i
                    - }
        p.
        #guide_content
            h3 Content
            br
            | Get past the first boss (wave 10) without leaking and with a decent economy!
            br
            br
            | Here&apos;s a build with Atlantean. As you practice with it, you will learn you can usually build less defenders than the guide suggests to get better economy, or build something different and develop your own build!
            br
            br
            | I am not claiming this build will make you a champion, but it&apos;s proven to get you started strong
            br
            br
            | General info: Whenever you have extra gold, push workers. You will soon learn what you can get away with. You will also learn to suspect when big sends are coming so you can build a little extra to survive or when to build less for better economy. Also, don&apos;t forget to spend your own mythium to increase your income!
            br
            br
            | Also note, these suggestions are to help you not leak even with sends, so often if you don&apos;t think you&apos;ll have a send, you can often stick with what was recommended the previous round and be OK. As you practice the build, you will figure it out
            br
            br
            | Placement is important, so I provide screenshots.
            br
            br
            br
            b#wave1 Wave 1
            br
            | First build an Angler, then upgrade it to a Bounty Hunter. Put it all the way to the left side so you can split the wave later.
            br
            | This will hold Wave 1 even if you get sent a Snail, and will hold Wave 2 if you get no sends.
            br
            a.externalLink(href='https://steamuserimages-a.akamaihd.net/ugc/1018322836616397371/5D86BE08B0E1728BF3267125263FBA9BCC282AAA/' target='_blank' rel='nofollow')
            img.bbCodeImage.LbImage(src='https://steamuserimages-a.akamaihd.net/ugc/1018322836616397371/5D86BE08B0E1728BF3267125263FBA9BCC282AAA/' alt='[​IMG]' data-url='https://steamuserimages-a.akamaihd.net/ugc/1018322836616397371/5D86BE08B0E1728BF3267125263FBA9BCC282AAA/')
            br
            br
            | You can build 2 workers before the wave ends. After that, start saving for Wave 3.
            br
            br
            | I won&apos;t tell you when to build workers anymore, because it is very game-dependent.
            br
            br
            br
            b#wave2 Wave 2 
            br
            | Next build an Angler directly across from your Bounty Hunter
            br
            | This holds Wave 2 with sends up to 40 mythium, and will hold Wave 3 without sends.
            br
            br
            | You will need 90 gold at the start of the next wave. So save your gold and spend your mythium!
            br
            a.externalLink(href='https://steamuserimages-a.akamaihd.net/ugc/1018322836616412537/70F5F1E7B461C692F79D2A03C3219FE33B1151AB/' target='_blank' rel='nofollow')
            img.bbCodeImage.LbImage(src='https://steamuserimages-a.akamaihd.net/ugc/1018322836616412537/70F5F1E7B461C692F79D2A03C3219FE33B1151AB/' alt='[​IMG]' data-url='https://steamuserimages-a.akamaihd.net/ugc/1018322836616412537/70F5F1E7B461C692F79D2A03C3219FE33B1151AB/')
            br
            br
            | (Add your gold + income to know what you will have at the start of the next round. You increase your income by spending mythium)
            br
            br
            br
            b#wave3 Wave 3
            br
            | Spend 90 gold on a Sea Serpent.
            br
            | This holds Wave 3 with up to 60 mythium worth of sends (might not always kill the mercenaries, but it will clear the wave). It can hold 4 if you get no sends
            br
            br
            | Save gold, you will need 95 at the beginning of the next Wave
            br
            a.externalLink(href='https://steamuserimages-a.akamaihd.net/ugc/1018322836616424547/81F790948DCD3AA94D5C00A1645431F94E1421AF/' target='_blank' rel='nofollow')
            img.bbCodeImage.LbImage(src='https://steamuserimages-a.akamaihd.net/ugc/1018322836616424547/81F790948DCD3AA94D5C00A1645431F94E1421AF/' alt='[​IMG]' data-url='https://steamuserimages-a.akamaihd.net/ugc/1018322836616424547/81F790948DCD3AA94D5C00A1645431F94E1421AF/')
            br
            br
            | Placement is important because certain sends may distract Sea Serpent from where it&apos;s needed most. Sea Serpent has a strong attack it uses to ambush enemies! It burrows at the start of the round, then pops up later to strike.
            br
            br
            br
            b#wave4 Wave 4
            br
            | Below your Bounty Hunter, build a Pollywog and upgrade it a Seraphin.
            br
            | This holds the wave with up to 80 mythium of sends, and can hold 5 if you get no sends.
            br
            a.externalLink(href='https://steamuserimages-a.akamaihd.net/ugc/1018322836616435424/5B6B8DE3154065B2B2B0DC841500E2D0B8494CA5/' target='_blank' rel='nofollow')
            img.bbCodeImage.LbImage(src='https://steamuserimages-a.akamaihd.net/ugc/1018322836616435424/5B6B8DE3154065B2B2B0DC841500E2D0B8494CA5/' alt='[​IMG]' data-url='https://steamuserimages-a.akamaihd.net/ugc/1018322836616435424/5B6B8DE3154065B2B2B0DC841500E2D0B8494CA5/')
            br
            br
            | Pollywog can also upgrade to a Devilfish. Devilfish have extra health, while Seraphin have stronger attacks. The neat trick about Pollywog upgrades is that before the Wave starts, you can switch the units back and forth for free, depending on what you need during that round.
            br
            br
            | This wave we are using the Seraphin for extra damage
            br
            br
            br
            b#wave5 Wave 5 (mini-boss)
            br
            | Click on your Angler on the right side, and upgrade it to a Bounty Hunter.
            br
            | This holds Wave 5 with sends up to 100 mythium, and can hold 6 without sends
            br
            br
            | I recommend saving gold so you can spend 135 for Wave 6 defence
            br
            a.externalLink(href='https://steamuserimages-a.akamaihd.net/ugc/1018322836616450246/452783B420F109797564E8226B1C909363AFEB89/' target='_blank' rel='nofollow')
            img.bbCodeImage.LbImage(src='https://steamuserimages-a.akamaihd.net/ugc/1018322836616450246/452783B420F109797564E8226B1C909363AFEB89/' alt='[​IMG]' data-url='https://steamuserimages-a.akamaihd.net/ugc/1018322836616450246/452783B420F109797564E8226B1C909363AFEB89/')
            br
            br
            | You might notice your Angler or Bounty Hunter has mana. That is because they collect mana when enemies die around them. It is useful later when you buy the max tier 2 upgrade - the Kingpin does bonus damage for all the mana collected by its earlier forms!
            br
            br
            br
            b#wave6 Wave 6
            br
            | Build a Pollywog underneath your Bounty Hunter on the right side. This time, choose the Devilfish upgrade.
            br
            | Also add another Angler on the left
            br
            | This will hold up to 100 mythium of sends, and can hold 7 without sends.
            br
            a.externalLink(href='https://steamuserimages-a.akamaihd.net/ugc/1018322836616459775/A940CCE6E816FEA65B73D47D96E0B8FE22FE3287/' target='_blank' rel='nofollow')
            img.bbCodeImage.LbImage(src='https://steamuserimages-a.akamaihd.net/ugc/1018322836616459775/A940CCE6E816FEA65B73D47D96E0B8FE22FE3287/' alt='[​IMG]' data-url='https://steamuserimages-a.akamaihd.net/ugc/1018322836616459775/A940CCE6E816FEA65B73D47D96E0B8FE22FE3287/')
            br
            br
            | Leave the leftside Pollywog as a Seraphin, you need the bonus damage, while the Devilfish is positioned to absorb lots of damage, protecting your other units from big sends.
            br
            br
            | Remember: Anytime you are scared of a big send and you have the gold, you can build the next recommended unit(s) early, or anything else you think can help. Also if you are confident you can survive with less, then build workers.
            br
            br
            br
            b#wave7 Wave 7
            br
            | Add 3 more Anglers on the left.
            br
            | This will hold the wave with up to 100 mythium of sends, and can hold 8 without sends
            br
            a.externalLink(href='https://steamuserimages-a.akamaihd.net/ugc/1018322836616470069/C6158F5593A3549DC306E7EE58D665137F0D30C5/' target='_blank' rel='nofollow')
            img.bbCodeImage.LbImage(src='https://steamuserimages-a.akamaihd.net/ugc/1018322836616470069/C6158F5593A3549DC306E7EE58D665137F0D30C5/' alt='[​IMG]' data-url='https://steamuserimages-a.akamaihd.net/ugc/1018322836616470069/C6158F5593A3549DC306E7EE58D665137F0D30C5/')
            br
            br
            br
            b#wave8 Wave 8
            br
            | Add another Sea Serpent, as shown.
            br
            | Also add a Polywog on the left side for insurance purposes
            br
            | This holds up to 100 mythium of sends, plus it can hold 9 without sends
            br
            a.externalLink(href='https://steamuserimages-a.akamaihd.net/ugc/1018322836617011295/04DCF83F4A332B08E0FA240FE53DCE749CB1B1F5/' target='_blank' rel='nofollow')
            img.bbCodeImage.LbImage(src='https://steamuserimages-a.akamaihd.net/ugc/1018322836617011295/04DCF83F4A332B08E0FA240FE53DCE749CB1B1F5/' alt='[​IMG]' data-url='https://steamuserimages-a.akamaihd.net/ugc/1018322836617011295/04DCF83F4A332B08E0FA240FE53DCE749CB1B1F5/')
            br
            br
            | This time, we want the Sea Serpent positioned to be able to support the right side faster, intercept enemies, or ambush any ranged units attacking your team from a distance. Instead of having to fight through a lot of enemies to get to an enemy attacking from far away, your Sea Serpent can save the day!
            br
            br
            br
            b#wave9 Wave 9
            br
            | Get a Grarl on the right side. This holds up to 100 mythium worth of sends. (no, it will NOT hold 10)
            br
            a.externalLink(href='https://steamuserimages-a.akamaihd.net/ugc/1018322836617013220/688E6EEA5BDA8CDFEE5336726AAB2300A8649DF2/' target='_blank' rel='nofollow')
            img.bbCodeImage.LbImage(src='https://steamuserimages-a.akamaihd.net/ugc/1018322836617013220/688E6EEA5BDA8CDFEE5336726AAB2300A8649DF2/' alt='[​IMG]' data-url='https://steamuserimages-a.akamaihd.net/ugc/1018322836617013220/688E6EEA5BDA8CDFEE5336726AAB2300A8649DF2/')
            br
            br
            | The Grarl is good for this wave and the next, plus it has 2 powerful upgrade options!
            br
            br
            br
            b#wave10 Wave 10 (Boss)
            br
            | For the boss, I suggest turning your Seraphin into a Devilfish. You have options here...
            br
            br
            | If you think there will be 
            span(style='text-decoration: underline') no sends
            | , you can clear this wave by simply adding 4 Anglers along the right side. However, I recommend spending a few more gold and instead upgrading the middle Sea Serpent to a Deep Coiler!
            br
            a.externalLink(href='https://steamuserimages-a.akamaihd.net/ugc/1018322836617015477/B05776A99F6DF13F478B7C8A81237EDFA70A16DD/' target='_blank' rel='nofollow')
            img.bbCodeImage.LbImage(src='https://steamuserimages-a.akamaihd.net/ugc/1018322836617015477/B05776A99F6DF13F478B7C8A81237EDFA70A16DD/' alt='[​IMG]' data-url='https://steamuserimages-a.akamaihd.net/ugc/1018322836617015477/B05776A99F6DF13F478B7C8A81237EDFA70A16DD/')
            a.externalLink(href='https://steamuserimages-a.akamaihd.net/ugc/1018322836617052728/D3BFCF6A325BBB59914C53531DFF333A771E78C8/' target='_blank' rel='nofollow')
            img.bbCodeImage.LbImage(src='https://steamuserimages-a.akamaihd.net/ugc/1018322836617052728/D3BFCF6A325BBB59914C53531DFF333A771E78C8/' alt='[​IMG]' data-url='https://steamuserimages-a.akamaihd.net/ugc/1018322836617052728/D3BFCF6A325BBB59914C53531DFF333A771E78C8/')
            br
            br
            | If you do expect 
            span(style='text-decoration: underline') sends
            |  (and you usually should!), I recommend one of these following upgrades (or both!) to dominate the fight:
            br
            br
            | Upgrade your Bounty Hunter (the original one,with the most mana) to a KingPin. By now, the bonus damage will be HUGE and will help tremendously!
            br
            a.externalLink(href='https://steamuserimages-a.akamaihd.net/ugc/1018322836617014900/F2C62AD81B789E6D66BE63012814A475F7CCEFE5/' target='_blank' rel='nofollow')
            img.bbCodeImage.LbImage(src='https://steamuserimages-a.akamaihd.net/ugc/1018322836617014900/F2C62AD81B789E6D66BE63012814A475F7CCEFE5/' alt='[​IMG]' data-url='https://steamuserimages-a.akamaihd.net/ugc/1018322836617014900/F2C62AD81B789E6D66BE63012814A475F7CCEFE5/')
            br
            br
            span(style='text-decoration: underline') OR
            |  Upgrade your Grarl to a KingClaw
            br
            a.externalLink(href='https://steamuserimages-a.akamaihd.net/ugc/1018322836617015164/490132B70E60847C5C769A4411F5D1D6CD6ACC85/' target='_blank' rel='nofollow')
            img.bbCodeImage.LbImage(src='https://steamuserimages-a.akamaihd.net/ugc/1018322836617015164/490132B70E60847C5C769A4411F5D1D6CD6ACC85/' alt='[​IMG]' data-url='https://steamuserimages-a.akamaihd.net/ugc/1018322836617015164/490132B70E60847C5C769A4411F5D1D6CD6ACC85/')
            br
            | KingClaw is strong against the Boss, plus KingClaw has an ability to make enemies attack slower!
            br
            br
            | Of course, if you think you will be getting 
            span(style='text-decoration: underline') extreme sends
            | , and you have the gold... upgrade all of the above that you can afford - the Deep Coiler, KingPin, and KingClaw!
            br
            a.externalLink(href='https://steamuserimages-a.akamaihd.net/ugc/1018322836617035736/97F1B4D9EDCA908AEF03000B51308702CA58C9EC/' target='_blank' rel='nofollow')
            img.bbCodeImage.LbImage(src='https://steamuserimages-a.akamaihd.net/ugc/1018322836617035736/97F1B4D9EDCA908AEF03000B51308702CA58C9EC/' alt='[​IMG]' data-url='https://steamuserimages-a.akamaihd.net/ugc/1018322836617035736/97F1B4D9EDCA908AEF03000B51308702CA58C9EC/')
            br
            br
            | F.A.Q. - Why did you switch Seraphin to Devilfish for Wave 10?
            br
            | A: Seraphin damage against the boss is very weak. As a Devilfish, it runs up to melee range and absorbs damage from Boss attacks, letting your other units live a little longer to finish the job!
            br
            br
            | For Wave 11, I recommend switching your Devilfish both to Seraphin, because that will be more useful. Be aware you can switch them to whatever is better for that particular wave, before it starts
            br
            br
            br
            | I hope you liked this guide and that it will help you get started learning the game with Atlantean. Practice with it and make changes as you get better. Have fun!
