extend ../../layout
block content
    link(rel='stylesheet', href='/css/guides.css')
    .guide
        h1#guide_title Sleep with the fishes
        #guide_author 
            i by 
                a(href="/profile?player=Dimlhugion") Dimlhugion
            a(href="/guides", style="float:right;") Back
        #guide_infobox
            #infobox_author Author: 
                a(href="/profile?player=Dimlhugion") Dimlhugion
            #infobox_version Version: v5.01
            #infobox_section Section: Atlantean Guides
            #infobox_content Content:
                ul
                    - for(var i = 1 ; i < 18; i++){
                        li 
                            a(href="#wave"+i)= "Wave"+ i
                    - }
        p.
        #guide_content
            h3#introduction Introduction
            br
            | Hey there! I'm Dimlhugion and this is my personal build order for Classic 4v4 Atlantean. This build is intended to be a safe and solid foundation for newer players looking for some ideas to help jumpstart their own builds. It incorporates the basics, such as generally staying within 100 to 125% of recommended value, establishing a strong tank and dps line, and building a formation around auras, all while still allowing a healthy economy.

            br
            | I decided to share this build for two reasons: first, the LTD2 community hasn't had an updated strategy guide revolving around pure races in a long time, and I thought it was about time we had one that was made by someone willing to put the time and effort into keeping it up to date. Secondly, I was curious and excited to see what kinds of improvements the community might make to it. If I can get over a 60% Classic win-rate with this build, imagine what YOU can do with your own personalized take on it!
            br
            | Before We Begin: How to Enable Grid Position Text
            br
            | This build employs a very simple layout: I will list the Wave #, what I recommend building, and the coordinates for WHERE to build it. Those coordinates can be seen in-game by enabling an option called "Grid Position Text." A step-by-step on how to do this are as follows:
            br
            b 1.)
            br
            | On the Main Screen, Access the Options Menu
            br
            img(src="/img/guides/sleepwiththefishes/1.jpg")
            br
            b 2.) 
            br
            | Navigate to the Interface Tab
            br
            img(src="/img/guides/sleepwiththefishes/2.jpg")
            br
            b 3.)
            br
            | At the bottom, toggle "Enable Deploy Grid Position Text" to "On"
            br
            img(src="/img/guides/sleepwiththefishes/3.jpg")
            br
            b 4.)
            br
            | In-game, deploying a unit (or clicking on an already deployed unit) will show X,Y coordinates
            br
            img(src="/img/guides/sleepwiththefishes/4.jpg")
            br
            | And that's all there is to it! Now, when I say "Build a Grarl (8.0, 5.0)" you won't have to manually count 8 full spaces to the right and 5 spaces up - just move the deployment over and up until the game TELLS you it's at (8.0, 5.0)! Simple, eh?
            h3#thebuild The Build
            br
            | Early game is a bit more rigid than the mid and late game, so there's a bit more explanation behind the choices I've made. Later on (after wave 10, and especially after wave 15) individual game-by-game variances will be high, so I give less explanation because you have more freedom of choice. Did your opponents skip sending on 15 and 16 to bomb you on 17? You might want to start overbuilding in that case. Did you get a good Legion Spell and find yourself way ahead on value? Try pumping more workers to help your end-game scaling.
            br
            h3#wave1 Wave 1
            br
            | Deploy a Grarl at (8.0, 5.0)
            br
            | Do NOT hire any workers! Grarl's ability, Delicacy, lets us sell it for 90% of its deploy cost. We're going to need all the gold we can get for wave 2.
            br
            h3#wave2 Wave 2
            br
            | 1.) Place 2 Pollywogs, one at (7.5, 4.0) and the other right next to it at (8.5, 4.0)
            br
            | 2.) Sell the Grarl
            br
            | 3.) Place an Eggsack at (7.5, 6.0)
            br
            | This setup WILL hold any combination of 40 mythium, including a Turtle, but it'll be close.
            br
            | Do NOT hire any workers! We need at least 90 gold for wave 3.
            br
            h3#wave3 Wave 3
            br
            | Sea Serpent at (6.0, 12.0)
            br
            | Placing the serpent here draws just enough heat off the egg to survive a 60 mythium send from your opponent.
            br
            | Starting after you place the serpent, you now want to hire workers.
            br
            h3#wave4 Waves 4 and 5
            #wave5
            br
            | Build nothing, just keep hiring workers - HOWEVER, you want to make sure you will have 145 gold available for wave 6. Depending on the game, you will have anywhere from 7 to 9 workers by the time wave 5 ends.
            br
            h3#wave6 Wave 6
            br
            | Build Grarl (8.0, 5.0)
            br
            | Hello, old friend! We will need 185 gold for the next wave. Spend any extra gold on workers.
            br
            h3#wave7 Wave 7
            br
            | Upgrade Sea Serpent -> Deepcoiler
            br
            | You'll need 181 gold for wave 8. Any extra above that goes to workers.
            br
            h3#wave8 Wave 8
            br
            | 1.) Sell Pollywog (8.5, 4.0)
            br
            | 2.) Build a Priestess (8.5, 4.0)
            br
            | We're only going to need 145 gold for wave 9, so here will be another major worker push.
            br
            h3#wave9 Wave 9
            br
            | Build Grarl (9.0, 5.0)
            br
            | Two Grarls will wreck this wave. You're going to need 275 gold for wave 10. As always, dump extra money into workers.
            br
            h3#wave10 Wave 10
            br
            | Upgrade Grarl (9.0, 5.0) to King Claw
            br
            | The slow effect from King Claw trivializes this fight. Pump workers, but be sure to save 250 gold for wave 11.
            br
            h3#wave11 Wave 11
            br
            | Upgrade Grarl (8.0, 5.0) -> Templar
            br
            | More workers for the worker god! Just make sure you have 275 gold left for wave 12.
            br
            | Special Note: Legion Spells
            br
            | Once wave 10 ends, you can select a Legion Spell before wave 11 begins. You have a lot of flexibility here. By now you should have 15+ workers and at least 200ish income. If you get an aura one, like Hero or Vampire, it should go on the Templar as it will buff everything around it. That's the whole purpose of building in such an odd formation. However, do not discount the potential that raw gold can yield - even in the form of Loan, that's 4 extra workers at the paltry cost of ~100 mythium worth of income.
            br
            h3#wave12 Wave 12
            br
            | Eggsack (8.5, 6.0)
            br
            | Depending on sends, this egg might actually break, but that's fine - we're not relying on hydra like we were in the earlier waves. Its primary function is to delay the wave so your Priestess has more time to dps. You're going to want 420 gold for wave 13.
            br
            h3#wave13 Wave 13
            br
            | 1.) Grarl (7.0, 5.0)
            br
            | 2.) Upgrade Grarl to King Claw
            br
            | Save 531 gold for wave 14, the rest can be workers.
            br
            h3#wave14 Wave 14
            br
            | 1.) Upgrade Priestess -> Azeria
            br
            | 2.) Sell Pollywog (7.5, 4.0)
            br
            | 3.) Priestess (7.5, 4.0)
            br
            | Another worker push as we only need 350 gold for 15.
            br
            h3#wave15 Wave 15
            br
            | Priestess -> Azeria
            br
            | Do NOT buy any workers this wave! As soon as wave 15 ends, worker gains are doubled (2 workers for 50 gold instead of just 1) so it makes little sense to push workers now, when you could get twice the benefit in another 30 seconds or so.
            br
            h3#wave16 Wave 16
            br
            | 1.) Sea Serpents at (7.0, 12.0) + (8.0, 12.0) + (9.0, 12.0)
            br
            | 2.) Upgrade all serpents to Deepcoilers
            br
            h3#wave17 Wave 17
            br
            | Eggsacks at (5.5, 6.0) and (6.5, 6.0)
            br
            |By now your economy should be high enough that you can afford 1k or more army value per wave, keeping you well in line for defense while still pumping out 100 or more workers total by the time wave 21 rolls around. Your final end-game composition should look something like this at the minimum:
            br
            br
            | That's 4x Deepcoilers, 4x Hydra, 4x Templar (at 6.0, 5.0 + 8.0, 5.0 + 6.0, 3.0 + 8.0, 3.0), 3x Kings (5.0, 5.0 + 7.0, 5.0 + 9.0, 5.0), and 11x Azeria. Any extra gold on wave 21 should go into Azerias at the bottom row, if possible. Be sure to spend all of it, as after 21 starts you can't build anymore!
            br
            b Final Thoughts
            br
            | After wave 10 or so, the game really starts to open up. You might find yourself in a really good position army-value wise, and could try and skimp on some of the recommended towers in favor of pushing extra workers. Or, you might find the opposite to be true, and your opponents are saving up for a big send on 12, 13, or 14. In that case, cut back on worker production and build extra towers.
            br
            | This guide is a result of my own personal strategic refinement, but every game is different! What works in one game might not work in the next, hence why guides are so difficult to write. Hopefully though, at the very least Sleep With the Fishes will give you a sound starting point for your own strategies. I hope you enjoy yourself in LTD2 and be sure to leave comments on what you liked, disliked, or thought I could do differently in this guide!
            br
            | See you in the game,
            br
            i Dimlhugion