extend ../../layout
block content
    link(rel='stylesheet', href='/css/guides.css')
    .guide
        h1#guide_title APS Aura Guide
        #guide_author 
            i by 
                a(href="/profile?player=Bonny") Bonny
            a(href="/guides", style="float:right;") Back
        #guide_infobox
            #infobox_author Author: 
                a(href="/profile?player=Bonny") Bonny
            #infobox_version Version: v3.12
            #infobox_section Section: Mastermind Guides
        p.
        #guide_content
            .youtube
                iframe.ytframe(src="https://www.youtube.com/embed/0rMTxCvwNJE" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen)