extend ../../layout
block content
    .content
        .guides(style="text-align:center;")
            h2 Zitronenritter's Mastermind Guide [1.60]
            i
              | by 
              a(href='https://ltdstats.com/profile?player=zitronenritter') Zitronenritter
              | , last updated for patch 1.60
            a(href="/guides", style="float:right;") Back
            | 					About me: I am Zitronenritter, a Mastermind only player. I picked up the game at the start of Early Access and I really enjoy it. I played over 200 matches with Mastermind and I peaked at #4 of the Mastermind leaderboard, playing solo queue most of the time.
            br
            br
            | 					First of all, before I get into the guide, I want to highlight what makes Mastermind so challenging. In my opinion there are two major challenges with Mastermind. Both are due to the nature of randomness of the picks. While one issue is widely known, the other one doesn't seem to be paid much attention.
            br
            br
            | 					The obvious challenge is that Mastermind rolls are not consistent in terms of strength. You can have good rolls and you can have bad rolls. The major part of this guide will be about rolls and how to pick the best setup.
            br
            br
            | 					The other challenge is that you can't prepare a strategy for playing Mastermind which you can do with other legions. Especially in high elo this is a major disadvantage to Mastermind. High elo players know exactly what to build in order to hold wave X + sends Y and can push workers completely save. Hours and hours have been put into optimizing the build order and positioning through experimentation and testing. The only thing you have to take into account (for your defense) is when your opponent will send you which mercenaries.
            br
            br
            | 					Mastermind players on the other hand always have to guess. You can't prepare Mastermind as well as other legions. You can't optimize every build order and positioning. Those things that players of other legions have done (either by themselves or by guide authors) before the game can't be done by Mastermind players.
            br
            br
            | 					Before getting into Mastermind you should be aware, that overall you will perform better when you play another legion. If your elo or overall rank is important to you, you will have a hard time playing Mastermind. On the other hand Mastermind will give you a more unique experience each game. You have to make more decisions and adapt to new situations more often. To me Mastermind makes the game way more interesting and I don't plan to play anything besides Mastermind in the foreseeable future.
            br
            br
            b
              span(style='font-size: 18px') Unit Picking
            br
            br
            | 					The first part of this guide is about picking units. There are a lot pitfalls when it comes to choosing the best units for the game. This guide is not about telling you which are the best units to pick. It's about helping you to decide which units suit your needs best. Once you are familiar enough with Mastermind to know on which waves you are weak and on which you are strong, you can also factor the legions or maybe even rolls of your teammates into your picks. If you know your team is weak on a specific wave, you should try to cover that. On the other hand often it's okay, if you struggle with some waves, if your team can cover for you.
            br
            br
            b Front Line
            br
            br
            | 					One important factor is the front line. It's not easy to decide which units are the best tanks. If you are playing Mastermind, sometimes you need to improvise to get a solid front line. Regarding gold-survivability ratios, I came up with this tier list:
            br
            br
            | 					S Tier
            br
            ul
              li Peewee / Veteran
              li Mudman / Golem
              li Antler / Whitemane
              li Gargoyle / Green Devil
            | A Tier
            br
            ul
              li Fire Lord / Fenix
              li Honeyflower / Deathcap
              li Leviathan
              li Pyro
              li Proton / Atom
              li Banana Bunk / Banana Haven
              li Bone Crusher
            | B Tier
            br
            ul
              li Wileshroom / Canopie
              li Tempest
              li Millennium / Doomsday
            | Honorable  Mentions
            br
            ul
              li Butcher / Head Chef
              li Dark Mage
              li Aqua Spirit / Rogue Wave / Fire Elemental
              li Berserker
              li Bone Warrior
            | This tier list is purely focused on survivability. Most units in this list have more features than just being a meat shield, but these are completely neglected. For actual picking an A Tier unit often suits your picks better than a S Tier unit.
            br
            br
            | 					Usually you want to pick your tanks from the S or A Tier, but sometimes you have to get an additional unit from the B Tier to have a better front line.
            br
            br
            | 					Butcher and Head Chef are mentioned as well, because of their healing aura, they boost any tank, especially Gargoyles and Green Devils. They also have quite a lot of health points, but they are rather expensive.
            br
            br
            | 					Dark Mage has a lifesteal which is strong on early waves, when the overall damage is not too high.
            br
            br
            | 					Aqua Spirits aren't too tanky in general but their arcane armor helps them a lot on wave 3, 7 and 8.
            br
            br
            | 					Berserkers have a lot of health points, even more than a Mudman. They can take some hits in early waves, but should definitely not tank.
            br
            br
            | 					Bone Warriors also have a lot of health points per gold (11.33) which ranks them at #5 after Peewee, Mudman, Golem and Proton. Yet they consume a lot of supply for overall very little effect which is why I didn't list them here.
            br
            br
            | 					Even though I listed Proton and Atom as A Tier unit, since their HP/gold ratio is extremely strong, I would not recommend them as primary tanks. They lack strength due to their armor being immaterial and they are ranged. Being ranged is a major disadvantage, especially for T1 tank units, since you expect them to die fairly fast. The other Protons/Atoms would not get attacked, because they are not close enough, but your melee DPS units would be.
            br
            br
            | 					When choosing a tank, you need to look for the armor types. The best thing you can have is one tank unit with natural and one with arcane armor. You usually don't want to spend more than two slots on tanks and those armor types fit together perfectly. Natural armor is strong against all physical attacks and arcane against magic. Fortified and swift armor also complement each other, but there is just a single unit with swift armor that is viable as tank, the Fire Lord / Fenix.
            br
            br
            | 					Often you will end up not having an arcane or natural tank. I played many games in which I only had fortified tanks. That's not as bad as it sounds. Having only fortified tanks is not that much worse than having arcane and natural tanks against magic waves. With arcane and natural tanks you normally would deploy some extra arcane tanks before the wave starts, which gives you an edge only against  fortified armor, but since natural armor tanks are really bad on magic waves in total your fortified tank line isn't too bad. Fortified is the best armor type in my opinion if you only have tanks with one armor type. It only leaves you vulnerable to waves 4, 9, 13 and 19. That's really important to know. You have to be careful pushing workers on 4 and 9. When you expect your opponent to send on 9, 13 or 19, you need your team to cover for you.
            br
            br
            b Damage Types
            br
            br
            | 					There isn't much to add besides it's important to have different damage types. You should always keep in mind that a lot of units deal some kind of extra magic damage, for example Berserker, Zeus or Violet.
            br
            br
            b Synergies
            br
            br
            | 					You are always looking for synergies when picking your units. Some typical synergies are:
            br
            ul
              li Dark Mage + Nightmare / Berserker
              li
                | Flying units + Leviathan - note that besides the obvious Proton, Atom, Peewee (not Veteran) and Canopie (not Wileshroom) count as flying units
              li Gargoyle + Butcher
              li Violet / Gate Guard + Starcaller
              li
                | Gate Guard + Starcaller + Hades - note that this is a late game synergy and you need to survive to this point first
            br
            b Tiers and Costs
            br
            br
            | 					In general you want to spread the tiers of your units. The main reason is gold costs. But you also don't want to have only low tier units because they deal little damage per hit and are vulnerable to Safety Mole. On the other hand you don't want to have only high tier units, because that would often leave you with lots of gold which you can't spend properly.
            br
            br
            | 					Tier 1 units are the most important. There is no optimized plan how to build. There will be plenty situations where you are left with 40g or something and need value. Without T1 units you will leak often.
            br
            | 					I rarely go for T6 units at all and I absolutely never pick two T6 units. Most games are decided before you can even deploy a T6 unit. For the same reason I rarely pick two T5 units.
            br
            br
            | 					A pretty common mistake is forgetting about costs for upgrades and workers. Upgrade costs are about the same as the costs of a unit two tiers higher. E.g. upgrading a Buzz to Consort costs 85g, like Windhawk. Keeping that in mind is important to have a good distribution of costs so that you can build useful units with any amount of gold. Let's say you pick Peewee, Windhawk, Gate Guard, Disciple, Antler, Lord of Death. This has it all. Arcane and natural armor. Pierce, impact, magic and even pure damage. You can summon a lot of minions which is great for Hades and get a lot of mana regen for your Harbingers and Violets. But this really limits your options. Veteran, Windhawk, Gate Guard and worker cost about the same. Violet, Harbinger, Disciple and Antler cost about the same. Starcaller and Whitemane cost about the same. Many times you will get into situations where you are just a couple of gold short for something you really want to buy. Once you get that amount of gold, there are plenty of things you want to buy, but you can only afford one.
            br
            br
            br
            b
              span(style='font-size: 18px') Economy
            br
            br
            | 					To be honest I wanted to write a complete guide on Mastermind playstyle. But I don't feel like there are a lot of tips that are unique to Mastermind. There are two things unique to Mastermind in my opinion: Early Game Economy and Positioning. As stated before, for every other legion there are plenty of guides that include which units you need to have for which wave, when you can push workers and where exactly to place your units. When you are playing Mastermind, you have to think about this every single game. Maybe you noticed already that there is no positioning part in this guide. The reason for that is, that I don't have enough experience with positioning. I actually do think that I am one of the better Mastermind players and know enough about itto write this guide. I also have some guidelines that work for me regarding positioning. But I want to keep the quality of information provided by this guide high. I will update this guide, once I feel comfortable enough with positioning. Now to economy...
            br
            br
            | 					The early stage of the game is in general about pushing as many workers as you can without leaking (too much). There is one general strategy that  for me seems to work pretty well for pushing workers. For this strategy I will assume that your opponent sends every time for income, to keep this simple. Of course you need to adapt if he starts saving.
            br
            br
            | 					When picking my units for the game I tend to prefer pierce over impact. One major reason for that is that it enables you to push workers faster. Of course I do get impact damage, too, if I can. I really like to start with Nightmare or Berserker. They are a huge source of pierce damage and Berserkers are also really strong during wave 5 and 10. Pierce damage is strong against waves 4, 7, 8 and 10. Impact on the other hand is strong against waves 1, 6, 7, 9 and 10. If we neglect wave 1, impact has his strengths later than pierce. You want to push workers on waves on which you are strong. Therefore you can push workers faster with pierce damage compared to impact damage.
            br
            br
            | 					With this in mind you can already see when you want to deploy workers. Most Mastermind picks will enable you to deploy a third worker before wave 4. Keep in mind that you should save 10g before wave 3 starts, so you can get the worker even without getting a send as soon as you clear wave 3.
            br
            br
            | 					You need to make sure you don't commit too much to pierce damage. Elsewise wave 5 and 6 and maybe later wave 9 will be really tough.
            br
            br
            | 					With a good setup you can hold wave 8 easily while you are about 100 value below recommended value.
            br
            br
            | 					By the time wave 10 comes about you will usually have 6 workers, sometimes 5 if your opponent saved a lot or you messed up a little, sometimes 7, when the game went well for you. Before wave 11 you often can push one or maybe even two additional workers. If you expect a larger send you can always get one or both workers after the send.
            br
            br
            | 					The amount of workers might vary vastly depending on elo. When I was newer to the game, usually I could push more workers than I can do now, because there were more leaks early in the game. That means I got gold of other players and also the rounds lasted longer causing me to get more mythium and therefore more income. Saving mythium was more uncommon which on the one hand gave me a steady income and on the other hand let me be more greedy with pushing workers.
            br
            br
            | 					T1 units are your bread and butter in early stages of the game. Many times, when you have more than 100g you want to deploy a worker. I end up alot with spamming T1 units because of that. The problem with that is that the gold to supply ratio of non upgraded T1 units is really bad. This leads to supply shortages earlier than other races might have them. 60 mythium is a lot early. You stall the supply upgrade by upgrading T1 units. Assuming you send for income this nets you 14.4g on average per turn you stall. Sometimes you can do that 3 waves in a row. That's nearly half a worker.
            br
            br
            b
              span(style='font-size: 18px') Closing Words
            br
            br
            | 					First of all, thank you for reading. In this guide I tried to help you to make better decisions by yourself rather than tell you, what exactly you should do. That's what Mastermind is all about in my opinion. Playing Mastermind is about making good decisions and not following a guide as good as possible. I hope this guide was useful to you and that you will enjoy playing Mastermind as much as I do.
