extend ../layout
block content
    link(rel='stylesheet', href='/css/help.css')
    .content
        #bigimg(display="")
        .card
            h1 Units Wiki
            img.helpimg#img_1(src="/img/helpunits.png", onclick="expandImg(1);") 
            br
            | 1: You can search for any fighter, mercenary or creature by name.
            br
            | 2: Click on a picture to show the fighter.
            br
            | 3: Unit's details are listed here.
    script(src="/js/help.js") 