extend ../layout
block content
    link(rel='stylesheet', href='/css/help.css')
    .content
        #bigimg(display="")
        .card
            a(href="/help") back
            h1 Statistics
            img.helpimg#img_1(src="/img/helpstats1.png", onclick="expandImg(1);") 
            br
            | 1: General Statistics such as 
            br
            | 2: Statistics for a specific wave
            br
            | 3: Statistics per wave on game end
            img.helpimg#img_2(src="/img/helpstats2.png", onclick="expandImg(2);") 
            br
            | 1: Filters:
            br
            | 1.1: Patch. Format: v(patch.version); Wildcard % allowed
            br
            | Examples: "v2.32", "v2.3%" etc
            br
            | 1.2: > Date. Returns stats with timestamp bigger (newer than) the selected date.
            br
            | 1.3: < Data. Returns stats with timestamp smaller (older than) the selected date.
            br
            | 2: Specific help for selected stats.
            br
            | 3: Graph/Visualisation
    script(src="/js/help.js") 