extend ../layout
block content
    link(rel='stylesheet', href='/css/help.css')
    .content
        #bigimg(display="")
        .card
            a(href="/help") back
            h1 Player Profile
            h4 Content:
            ul
                li 
                    a(href="#overview") Overview
                li 
                    a(href="#elograph") Elograph
                li 
                    a(href="#games") Games
                li 
                    a(href="#collection") Collection
                li 
                    a(href="#builds") Builds
                li 
                    a(href="#stats") Stats
            h2#overwview Overview
            br
            img.helpimg#img_1(src="/img/helpprofile1.png", onclick="expandImg(1);") 
            br 
            | 1: Name
            br 
            | 2: Current Elo
            br 
            | 3: Peak Elo
            br 
            | 4: Rank
            br 
            | 5: Badges
            br 
            | 6: General Stats
            br 
            | 7: Legion Stats
            h2#elograph Elograph
            img.helpimg#img_2(src="/img/helpprofile2.png", onclick="expandImg(2);") 
            br 
            | 1: Name
            br 
            | 2: Elo
            br 
            | 3: Date
            br 
            | 4: Graph
            h2#games Games
            img.helpimg#img_3(src="/img/helpprofile3.png", onclick="expandImg(3);") 
            br 
            | 1: Select Game (4v4 Customs not supported yet)
            br 
            | 2: Select Wave
            br 
            | 3: Game Details
            br 
            | 4: Scoreboard, click on a name to display the build/mercs
            br 
            | 5: Build, Click on it to show the it!
            br 
            | 6: Mercs sent
            br 
            | 7: Mercs received
            h2#collection Collection
            br
            | Not provided by the API yet
            h2#builds Builds
            img.helpimg#img_5(src="/img/helpprofile5.png", onclick="expandImg(5);") 
            br 
            | 1: Legion
            br 
            | 2: Wave
            br 
            | 3: Chance to leak/send on this wave
            br 
            | 4: Average build/mercs sent on this wave (percentages above 100% mean that in average there is more than 1 unit)
            h2#stats Stats
            img.helpimg#img_6(src="/img/helpprofile6.png", onclick="expandImg(6);") 
            br 
            | 1: General statistics that are not filtered
            br 
            | 2: Wave specific statistics. Available filters: Patch, > < Date
            br 
            | 3: Game End specific statistics. Available filters: Patch, > < Date
    script(src="/js/help.js") 
