extend ../../layout
block content
    link(rel='stylesheet', href='/css/guides.css')
    .guide
        h1#guide_title Builds for new Players: Nomad
        #guide_author 
            i by 
                a(href="/profile?player=ACrowley") ACrowley
            a(href="/guides", style="float:right;") Back
        #guide_infobox
            #infobox_author Author: 
                a(href="/profile?player=ACrowley") ACrowley
            #infobox_version Version: v5.07
            #infobox_section Section: Nomad Guides
            #infobox_content Content:
                ul
                    - for(var i = 1 ; i < 11; i++){
                        li 
                            a(href="#wave"+i)= "Wave"+ i
                    - }
        p.
        #guide_content
            h3 Content
            | Get past the first boss (wave 10) without leaking and with a decent economy!
            br
            br
            | Here&apos;s a build with Nomad. As you practice with it, you will learn you can usually build less defenders than the guide suggests to get better economy, or build something different and develop your own build!
            br
            br
            | I am not claiming this build will make you a champion, but it&apos;s proven to get you started strong
            br
            br
            | General info: Whenever you have extra gold, push workers. You will soon learn what you can get away with. You will also learn to suspect when big sends are coming so you can build a little extra to survive or when to build less for better economy. Also, don&apos;t forget to spend your own mythium to increase your income!
            br
            br
            | Placement is important, so I provide screenshots.
            br
            br
            br
            b Wave 1
            br
            | Start with Sand Badger
            br
            img.bbCodeImage.LbImage(src='https://legiontd2.com/community/attachments/nomw01-jpg.8147/' alt='NomW01.jpg' style='')
            br
            | You can build 1 worker, but then you will usually need to save until Wave 4, unless you&apos;re getting lots of extra gold
            br
            br
            br
            b Wave 2
            br
            | Put a Harpy in the back corner
            br
            img.bbCodeImage.LbImage(src='https://legiontd2.com/community/attachments/nomw02-jpg.8148/' alt='NomW02.jpg' style='')
            br
            | Harpy&apos;s attack gets faster the longer it can travel before combat.
            br
            br
            | This will stop up to 40 mythium of sends
            br
            br
            br
            b Wave 3
            br
            | Get a Warg
            br
            img.bbCodeImage.LbImage(src='https://legiontd2.com/community/attachments/nomw03-jpg.8159/' alt='NomW03.jpg' style='')
            br
            | This will hold off up to 60 mythium of sends
            br
            br
            | Keep saving. You will need 135 gold at the start of next round
            br
            | (Add your gold + income to know what you will have at the start of the next round. You increase your income by spending mythium)
            br
            br
            br
            b Wave 4
            br
            | Get a Desert Pilgrim
            br
            img.bbCodeImage.LbImage(src='https://legiontd2.com/community/attachments/nomw04-jpg.8160/' alt='NomW04.jpg' style='')
            br
            | Desert Pilgrim can use mana to heal your other units
            br
            br
            | This will hold up to 80 mythium of sends
            br
            br
            | It&apos;s now safe to buy a couple workers. You will only need 55 gold at the start of the next wave
            br
            br
            | I won&apos;t be able to tell you when to build more workers because it depends on your game. Just notice how much gold you will need for the next wave and spend any extra on workers. Keep practicing, and you should have at least 10 workers by the start of wave 10 in most games using this recommended build.
            br
            br
            br
            b Wave 5 (mini-boss)
            br
            | Add another Harpy in the other bottom corner, and 2 looters
            br
            img.bbCodeImage.LbImage(src='https://legiontd2.com/community/attachments/nomw05-jpg.8161/' alt='NomW05.jpg' style='')
            br
            | Wave 5 is a popular wave for sends in public games. But rest assured, this will hold any sends up to 100 mythium!
            br
            | From the rest of the guide, the recommended build will hold off up to 100 mythium
            br
            br
            | Remember: Anytime you are scared of a big send and you have the gold, you can build the next recommended unit(s) early. Also if you are confident you can survive with less, then build workers instead of what is recommended here.
            br
            br
            br
            b Wave 6
            br
            | Upgrade a looter to a Pack Rat, then add 3 more looters
            br
            img.bbCodeImage.LbImage(src='https://legiontd2.com/community/attachments/nomw06-jpg.8162/' alt='NomW06.jpg' style='')
            br
            | You will need 165 gold at the start of the next wave
            br
            br
            br
            b Wave 7
            br
            | Upgrade your original harpy to a Sky Queen
            br
            img.bbCodeImage.LbImage(src='https://legiontd2.com/community/attachments/nomw07-jpg.8163/' alt='NomW07.jpg' style='')
            br
            | Sky Queen continues to increase her attack speed throughout a battle
            br
            br
            br
            b Wave 8
            br
            | Buy a new looter and upgrade it to a Pack Rat
            br
            | Add another harpy in the bottom corner
            br
            img.bbCodeImage.LbImage(src='https://legiontd2.com/community/attachments/nomw08-jpg.8164/' alt='NomW08.jpg' style='')
            br
            | You will need 195 at the beginning of next wave
            br
            br
            | Notice you are leaving a space between your cheap units so you can add an Alpha Male later on in the game if you want to. Alpha Male can&apos;t stand being around expensive units; it will appreciate this space you left for it.
            br
            br
            br
            b Wave 9
            br
            | Add another Sand Badger
            br
            img.bbCodeImage.LbImage(src='https://legiontd2.com/community/attachments/nomw09-jpg.8165/' alt='NomW09.jpg' style='')
            br
            | Place it like shown to split the wave.
            br
            | I suggest only adding 1 extra worker after this wave, so you have enough to survive the Boss next round
            br
            br
            br
            b Wave 10 (Boss)
            br
            | With NO sends, adding 1 harpy and 1 looter can clear 10
            br
            img.bbCodeImage.LbImage(src='https://legiontd2.com/community/attachments/nomw10min-jpg.8167/' alt='NomW10min.jpg' style='')
            br
            | HOWEVER, wave 10 is popular for sends, so I recommend adding a Great Boar in the bottom corner next to your Sky Queen
            br
            img.bbCodeImage.LbImage(src='https://legiontd2.com/community/attachments/nomw10rec-jpg.8168/' alt='NomW10rec.jpg' style='')
            br
            | The Great Boar is a great choice because it will also hold against wave 11 without sends
            br
            br
            | If you expect big sends, you will need more defence to not leak. Build or upgrade anything in the picture below to assist you
            br
            img.bbCodeImage.LbImage(src='https://legiontd2.com/community/attachments/nomw10dream-jpg.8166/' alt='NomW10dream.jpg' style='')
            br
            br
            | I hope you liked this guide and that it will help you get started learning the game with Nomad. Practice with it and make changes as you get better. Have fun!
