extend ../../layout
block content
    link(rel='stylesheet', href='/css/guides.css')
    .guide
        h1#guide_title OP Forsaken Guide, Easily get 1900+ Elo
        #guide_author 
            i by 
                a(href="/profile?player=Blacktide") Blacktide
            a(href="/guides", style="float:right;") Back
        #guide_infobox
            #infobox_author Author: 
                a(href="/profile?player=Blacktide") Blacktide
            #infobox_version Version: v2.35
            #infobox_section Section: Forsaken Guides
            #infobox_content Content:
                ul
                    - for(var i = 1 ; i < 21; i++){
                        li 
                            a(href="#wave"+i)= "Wave "+ i
                    - }
        p.
        #guide_content
              br
              | I am making this guide due to the lack of Forsaken guides out here.  Have achieved 1910 rating with this build and frequently beat the top 5 players in the game using this build.  The 5 worker start lends Forsaken a huge advantage in early economy that you can scale into the late game.  Also keep in mind the value to hold later waves may need to be much higher depending on the enemy worker count/waves saved.
              br
              | This build primarily focuses on how you should build if you are expecting a send, if you don’t expect sends it is important to push workers whenever possible.
              br
              | If you would like to watch me play live you can at 
              span(data-s9e-mediaembed='twitch', style='display:inline-block;width:100%;max-width:640px')
                span(style='display:block;overflow:hidden;position:relative;padding-bottom:56.25%')
                  iframe(allowfullscreen='', scrolling='no', style='border:0;height:100%;left:0;position:absolute;width:100%', src='//player.twitch.tv/?autoplay=false&channel=shadowtide')
              br
              br
              br#wave1
              b Wave 1:
              br
              | It’s important to get 5 workers before the end of this wave.  It is VERY important that you build the crusher on the right side of the lane or you will pull mercenaries to the wrong side.
              br
              img(src='/img/guides/blacktideforsaken/wave1.png', title='Wave 1')
              br
              br
              br#wave2
              b Wave 2:
              br
              | It is important to not go past 5 workers until wave 4.  This build should hold a dragon turtle send.
              br
              img(src='/img/guides/blacktideforsaken/wave2.png', title='Wave 2')
              br
              br
              br#wave3
              b Wave 3:
              br
              | This build can hold up to an 80 send but sometimes it leaks if the brute doesn’t die fast enough, adding another skeleton on the left side will make the build hold almost every time.
              br
              img(src='/img/guides/blacktideforsaken/wave3.png', title='Wave 3')
              br
              br
              br#wave4
              b Wave 4:
              br
              | This build holds a brute send 75% of the time adding a 3rd skeleton will allow you to hold every time.
              br
              img(src='/img/guides/blacktideforsaken/wave4.png', title='Wave 4')
              br
              br  
              br#wave5
              b Wave 5:
              br
              | This holds up to a 100 send.  Don’t go past 7 workers unless the enemy leaks or sends this wave.
              br
              img(src='/img/guides/blacktideforsaken/wave5.png', title='Wave 5')
              br
              br
              br#wave6
              b Wave 6:
              br
              | This is where you are most likely to be sent.  This holds a double brute send, if you expect a bigger send you will likely need to cut workers to afford another fire archer.
              br
              img(src='/img/guides/blacktideforsaken/wave6.png', title='Wave 6')
              br
              br
              br#wave7
              b Wave 7:
              br
              | This holds most wave 7 sends, you can also push workers and cut the fire archer if you don’t expect a send.
              br
              img(src='/img/guides/blacktideforsaken/wave7.png', title='Wave 7')
              br
              br
              br#wave8
              b Wave 8:
              br
              | This is one of the easier waves, Green Devils and Fire archers are key to hold here.
              br
              img(src='/img/guides/blacktideforsaken/wave8.png', title='Wave 8')
              br
              br
              br#wave9
              b Wave 9:
              br
              | This can be a hard wave to hold, if you expect a huge send get 3 green devils total.
              br
              img(src='/img/guides/blacktideforsaken/wave9.png', title='Wave 9')
              br
              br
              br#wave10
              b Wave 10:
              br
              | This is one of Forsaken’s hardest waves.  Getting 3 green devils and lots of bone warrior spam is very important to hold.
              br
              img(src='/img/guides/blacktideforsaken/wave10.png', title='Wave 10')
              br
              br
              br#wave11
              b Wave 11:
              br
              | Only a top chef should be required here to hold nearly any send under 200.  The best legion spell for forsaken bar none is full house, always choose this legion spell if it is available to you.
              br
              img(src='/img/guides/blacktideforsaken/wave11.png', title='Wave 11')
              br
              br
              br#wave12
              b Wave 12:
              br
              | If they sent on 11 I usually skip the 2nd gate guard to get more workers.
              br
              img(src='/img/guides/blacktideforsaken/wave12.png', title='Wave 12')
              br
              br
              br#wave13
              b Wave 13:
              br
              | If you get a doppelganger this is a pretty easy hold unless you get an unlucky 4 eyes target.
              br
              img(src='/img/guides/blacktideforsaken/wave13.png', title='Wave 13')
              br
              br
              br#wave14
              b Wave 14:
              br
              | Get a butcher for the doppelganger or even a 2nd doppelganger if you expect a big send here.
              br
              img(src='/img/guides/blacktideforsaken/wave14.png', title='Wave 14')
              br
              br
              br#wave15
              b Wave 15:
              br
              | I usually over value here to prepare for wave 17 Forsaken’s weak wave you can build lords of death here if you expect a big send but they will greatly weaken your ability to hold wave 17.
              br
              img(src='/img/guides/blacktideforsaken/wave15.png', title='Wave 15')
              br
              br
              br#wave16
              b Wave 16:
              br
              | Make sure you have the double doppelganger combo for this wave if you didn’t have it before it will make this an easy hold.
              br
              img(src='/img/guides/blacktideforsaken/wave16.png', title='Wave 16')
              br
              br
              br#wave17
              b Wave 17:
              br
              | This wave is tough, you want to make as many Harbingers here as possible an add a skeleton on the left side to split the wave making your doppelgangers less likely to get focused early on.
              br
              img(src='/img/guides/blacktideforsaken/wave17.png', title='Wave 17')
              br
              br
              br#wave18
              b Wave 18:
              br
              br
              | You rarely get sends here as Forsaken but if you do Lords of Death are better than Hades here.  However Hades are better wave 19 and 20.
              br
              img(src='/img/guides/blacktideforsaken/wave18.png', title='Wave 18')
              br
              br
              br#wave19
              b Wave 19:
              br
              | Another hard wave, you want to again spam as many Harbingers as possible as both they and their summons take reduced damage and deal bonus on this wave.
              br
              img(src='/img/guides/blacktideforsaken/wave19.png', title='Wave 19')
              br
              br
              br#wave20
              b Wave 20:
              br
              | At this point you want to spam Hades and bone warriors.  You can add a few more green devils as well to improve the amount of lacerate stacks the boss will hold.  Again the positioning of the top left skeleton is very important so all the units surround the boss and reduce his splash damage.
              br
              img(src='/img/guides/blacktideforsaken/wave20.png', title='Wave 20')
