extend ../../layout
block content
    link(rel='stylesheet', href='/css/guides.css')
    .guide
        h1#guide_title Builds for new Players: Forsaken
        #guide_author 
            i by 
                a(href="/profile?player=ACrowley") ACrowley
            a(href="/guides", style="float:right;") Back
        #guide_infobox
            #infobox_author Author: 
                a(href="/profile?player=ACrowley") ACrowley
            #infobox_version Version: v5.07
            #infobox_section Section: Forsaken Guides
            #infobox_content Content:
                ul
                    - for(var i = 1 ; i < 11; i++){
                        li 
                            a(href="#wave"+i)= "Wave"+ i
                    - }
        p.
        #guide_content
            h3 Content
            | Here&apos;s a build with Forsaken to get your to the first Boss with decent economy and leaking as little as possible. As you practice with it, you will learn you can usually build less defenders than the guide suggests, or build different units, and you will learn your own build!
            br
            br
            | General Info: Whenever you have extra gold, push workers. You will soon learn what you can get away with. You will also learn to suspect when big sends are coming so you can build a little extra to survive or when to build less for better economy. Also, don&apos;t forget to spend your own mythium to increase your income!
            br
            br
            | I am not claiming this build will make you a champion, but it&apos;s a proven build for you to get started strong.
            br
            b
            br
            br
            | Wave 1
            br
            | Placement in this game is important, so I added screenshots
            br
            a.externalLink(href='https://steamuserimages-a.akamaihd.net/ugc/1018323012511685280/49381184E564FBC790E5ECE4635BF6403E1F8491/' target='_blank' rel='nofollow')
            img.bbCodeImage.LbImage(src='https://steamuserimages-a.akamaihd.net/ugc/1018323012511685280/49381184E564FBC790E5ECE4635BF6403E1F8491/' alt='[​IMG]' data-url='https://steamuserimages-a.akamaihd.net/ugc/1018323012511685280/49381184E564FBC790E5ECE4635BF6403E1F8491/')
            br
            | Starting with a Bone Crusher, you can build 2 workers right away. It will even hold an early send.
            br
            br
            | Bone Crusher is made by first buying a Bone Warrior and buying the Bone Crusher upgrade
            br
            br
            br
            b Wave 2
            br
            | Add a Fire Archer behind your Bone Crusher for support.
            br
            a.externalLink(href='https://steamuserimages-a.akamaihd.net/ugc/1018323012511687099/B5658C0959EC2E7F253BABA6340F33BD5F66DE65/' target='_blank' rel='nofollow')
            img.bbCodeImage.LbImage(src='https://steamuserimages-a.akamaihd.net/ugc/1018323012511687099/B5658C0959EC2E7F253BABA6340F33BD5F66DE65/' alt='[​IMG]' data-url='https://steamuserimages-a.akamaihd.net/ugc/1018323012511687099/B5658C0959EC2E7F253BABA6340F33BD5F66DE65/')
            br
            | Fire Archer is also an upgraded Bone Warrior. Buy a Bone Warrior first, then upgrade it to the Fire Archer.
            br
            br
            | Save, because next wave you will need 110 gold
            br
            br
            | (Your current gold + income = how much gold you will have at the start of next wave. You increase your income by spending mythium)
            br
            br
            br
            b Wave 3
            br
            | Add another bone crusher on the other side of the lane.
            br
            a.externalLink(href='https://steamuserimages-a.akamaihd.net/ugc/1018323012511691368/9F1743533F0DF13FA2581147FF9B4595BB0BC158/' target='_blank' rel='nofollow')
            img.bbCodeImage.LbImage(src='https://steamuserimages-a.akamaihd.net/ugc/1018323012511691368/9F1743533F0DF13FA2581147FF9B4595BB0BC158/' alt='[​IMG]' data-url='https://steamuserimages-a.akamaihd.net/ugc/1018323012511691368/9F1743533F0DF13FA2581147FF9B4595BB0BC158/')
            br
            | Next wave you will need 120 gold.
            br
            br
            | Bone crusher has regeneration, so we split the wave. When less enemies attack one bone crusher at a time, regeneration is more effective
            br
            br
            br
            b Wave 4
            br
            | Time to get a front line going! I suggest 3 gargoyles, as shown
            br
            a.externalLink(href='https://steamuserimages-a.akamaihd.net/ugc/1018323012511697531/41BC2D6216B74943142B4D550C077659981DBA9E/' target='_blank' rel='nofollow')
            img.bbCodeImage.LbImage(src='https://steamuserimages-a.akamaihd.net/ugc/1018323012511697531/41BC2D6216B74943142B4D550C077659981DBA9E/' alt='[​IMG]' data-url='https://steamuserimages-a.akamaihd.net/ugc/1018323012511697531/41BC2D6216B74943142B4D550C077659981DBA9E/')
            br
            | Remember: Anytime you are scared of a big send and you have the gold, you can build the next recommended unit(s) early. Also if you are confident you can survive with less, then build workers, and less of what is recommended here.
            br
            br
            br
            b Wave 5 (miniboss)
            br
            | This is a popular wave for sends in public games. Add a Gateguard
            br
            a.externalLink(href='https://steamuserimages-a.akamaihd.net/ugc/1018323012511700819/DC92D07E96E8F7067AD0CB8A422226B9F0585F24/' target='_blank' rel='nofollow')
            img.bbCodeImage.LbImage(src='https://steamuserimages-a.akamaihd.net/ugc/1018323012511700819/DC92D07E96E8F7067AD0CB8A422226B9F0585F24/' alt='[​IMG]' data-url='https://steamuserimages-a.akamaihd.net/ugc/1018323012511700819/DC92D07E96E8F7067AD0CB8A422226B9F0585F24/')
            br
            | Careful with your gold after this wave, you want to make sure you can build a Nightmare on wave 7
            br
            br
            br
            b Wave 6 
            br
            | Select one of your gargoyles. I suggest the far left one. Buy the Green Devil upgrade. It gives your gargoyle a lot more health
            br
            a.externalLink(href='https://steamuserimages-a.akamaihd.net/ugc/1018323012511710767/6A1F468C6763EBB9D66A8F184EA9861E4AA881FA/' target='_blank' rel='nofollow')
            img.bbCodeImage.LbImage(src='https://steamuserimages-a.akamaihd.net/ugc/1018323012511710767/6A1F468C6763EBB9D66A8F184EA9861E4AA881FA/' alt='[​IMG]' data-url='https://steamuserimages-a.akamaihd.net/ugc/1018323012511710767/6A1F468C6763EBB9D66A8F184EA9861E4AA881FA/')
            br
            | You will need 185 gold to afford a Nightmare next round
            br
            br
            br
            b Wave 7
            br
            | Add a Nightmare. Nightmare is properly named, it is a melee warrior that rips enemies to shreds!
            br
            a.externalLink(href='https://steamuserimages-a.akamaihd.net/ugc/1018323012511716543/FC0BFE31B0EB086482F50E0F7CA1E759547EE957/' target='_blank' rel='nofollow')
            img.bbCodeImage.LbImage(src='https://steamuserimages-a.akamaihd.net/ugc/1018323012511716543/FC0BFE31B0EB086482F50E0F7CA1E759547EE957/' alt='[​IMG]' data-url='https://steamuserimages-a.akamaihd.net/ugc/1018323012511716543/FC0BFE31B0EB086482F50E0F7CA1E759547EE957/')
            br
            br
            br
            b Wave 8
            br
            | Now add a Dark Mage. You build a new Bone Warrior, and buy the Dark Mage upgrade.
            br
            a.externalLink(href='https://steamuserimages-a.akamaihd.net/ugc/1018323012511721184/43B157422F82A9878964EB00757066C3B51D55C7/' target='_blank' rel='nofollow')
            img.bbCodeImage.LbImage(src='https://steamuserimages-a.akamaihd.net/ugc/1018323012511721184/43B157422F82A9878964EB00757066C3B51D55C7/' alt='[​IMG]' data-url='https://steamuserimages-a.akamaihd.net/ugc/1018323012511721184/43B157422F82A9878964EB00757066C3B51D55C7/')
            br
            | The Dark Mage uses mana to increase the attack speed of a friendly unit. When put on the Nightmare, it becomes even more dangerous!
            br
            br
            | You will need 185 gold next round
            br
            br
            br
            b Wave 9
            br
            | Add another NIGHTMARE! We&apos;re getting serious here.
            br
            a.externalLink(href='https://steamuserimages-a.akamaihd.net/ugc/1018323012511723335/4617CCB9925441A18EF6F44CBCC2CA0C8A3A7C09/' target='_blank' rel='nofollow')
            img.bbCodeImage.LbImage(src='https://steamuserimages-a.akamaihd.net/ugc/1018323012511723335/4617CCB9925441A18EF6F44CBCC2CA0C8A3A7C09/' alt='[​IMG]' data-url='https://steamuserimages-a.akamaihd.net/ugc/1018323012511723335/4617CCB9925441A18EF6F44CBCC2CA0C8A3A7C09/')
            br
            | You should have around 10 workers by now. Save money because next round is the big Boss, and you don&apos;t want to leak the Boss!
            br
            br
            br
            b Wave 10 (Boss)
            br
            | Get a 3rd Nightmare! This will hold the Boss without sends.
            br
            a.externalLink(href='https://steamuserimages-a.akamaihd.net/ugc/1018323012511731299/B345A6F36B91494190E030BECCDF0D9A8793F308/' target='_blank' rel='nofollow')
            img.bbCodeImage.LbImage(src='https://steamuserimages-a.akamaihd.net/ugc/1018323012511731299/B345A6F36B91494190E030BECCDF0D9A8793F308/' alt='[​IMG]' data-url='https://steamuserimages-a.akamaihd.net/ugc/1018323012511731299/B345A6F36B91494190E030BECCDF0D9A8793F308/')
            br
            | But in public games, expect sends on wave 10. So, I recommending also adding another Dark Mage if you can afford it.
            br
            a.externalLink(href='https://steamuserimages-a.akamaihd.net/ugc/1018323012511733220/CDBEC88CF849E37D85A7E4B8B19DCA67E0261318/' target='_blank' rel='nofollow')
            img.bbCodeImage.LbImage(src='https://steamuserimages-a.akamaihd.net/ugc/1018323012511733220/CDBEC88CF849E37D85A7E4B8B19DCA67E0261318/' alt='[​IMG]' data-url='https://steamuserimages-a.akamaihd.net/ugc/1018323012511733220/CDBEC88CF849E37D85A7E4B8B19DCA67E0261318/')
            br
            | And if you are expecting big sends, add whatever other units or upgrades you can afford from the picture below to dominate this Wave
            br
            a.externalLink(href='https://steamuserimages-a.akamaihd.net/ugc/1018323012511735483/E338503E3DDB4A4BC1108CC42D5AF442D463F9DB/' target='_blank' rel='nofollow')
            img.bbCodeImage.LbImage(src='https://steamuserimages-a.akamaihd.net/ugc/1018323012511735483/E338503E3DDB4A4BC1108CC42D5AF442D463F9DB/' alt='[​IMG]' data-url='https://steamuserimages-a.akamaihd.net/ugc/1018323012511735483/E338503E3DDB4A4BC1108CC42D5AF442D463F9DB/')
            br
            | By the way, notice the empty space between the Nightmares. That is the perfect spot for a Butcher later.
            br
            br
            | I hope you liked this guide and that it will help you get started learning the game with Forsaken. Practice with it and make changes as you get better. Have fun!
