extend ../../layout
block content
    .content
        .guides(style="text-align:center;")
            #amazon_ad
            h2 Cornep's Mech Guide [1.61]
            i Last updated for patch 1.61
            a(href="/guides", style="float:right;") Back
            | 					Hey there!
            br
            br
            | 					This guide will have 2 very solid build guides, with very detailed starts that detail the base build, as in what you build without saved during 1-6, w10 value/unit options, and the final form of the build, and what the build relies on to hold specific waves. Also what units to build where, when you suspect a save for a wave.
            br
            br
            | 					First off: Both builds use a very similar positioning, but open with different units, and end up very similar late game builds for VERY strong late game 13+ wave holds.
            br
            br
            | 					There are 2 main things in these builds, DPS side, and Tank side. With Mech, Tank side includes peewee/veteran, pyro and berserker/fatalizer. DPS side includes, Zeus, aps/mps, Millenium. Tempest pref rightside, depends on your variation.
            br
            br
            | 					From the picture below, you can see the entire wave being on the right side, allowing dps to live for days, allowing focus fire and all that good stuff.
            br
            br
            img.bbCodeImage.LbImage(src='https://legiontd2.com/community/attachments/positioning-mech-png.1926/', alt='Positioning mech.png', style='')
            br
            br
            | 					This picture shows roughly the build you should have late game, small differences will happen based on if they save for something, or if you have to alter the base build to cover a wave.
            br
            br
            img.bbCodeImage.LbImage(src='https://legiontd2.com/community/attachments/pyro-final-form-png.1927/', alt='Pyro final form.png', style='')
            br
            br
            b The positioning offers MASSIVELY better targetting,
            |  as dps side is most of the wave at maximum range, forcing the dps units to attack a single unit, thus maximizing value, enabling holding with much lower value. Also very common to see ranged sends like 4e, shaman or hermit killed super early, making sends less dangerous.
            br
            br
            | 					You have to look at the "final" positioning picture when placing towers after pyro, the positioning has zeus's in the corner, as they have highest range out of anything, then aps /MPS slots, and then a 45 degree angle of milleniums. Zeus's are the furthest away also for their survival, mps/aps are a bit tanky, but you want them to live. Milleniums you want to live, but they only get targetted after the right side. This build has 99% of the lanes damage within APS/MPS.
            br
            br
            b Build 1: Risky pyro start
            br
            br
            | 					A greedy build, Punished hard with snail on 1.
            br
            br
            | 					The Pros: High income build, very good hold on 2-5, VERY strong late game, Good at covering usually hard waves like 13-15 or 17-20
            br
            | 					The Cons: Risky 1 ( most likely only build to have a risky 1, so very non-meta wave to get sends on), High wave 10 hold value.
            br
            br
            | 					The right side is tanks ( read veterans and peewees), Pyros ( max 2, 1 before 10 on pyro start, only after 10 with zeus opening) also if desperate need of piercing for anti 10 or 16, make it to right side like a pyro.
            br
            br
            | 					Wave 1: 3x peewee and 1 Bazooka. Follow the positioning in the added picture. This relies on 1 peewee on the left that is half a space higher than right side, to pull part of the wave to it and allowing 100% clear without snail.
            br
            br
            img.bbCodeImage.LbImage(src='https://legiontd2.com/community/attachments/pyro-w1-png.1923/', alt='Pyro W1.png', style='')
            br
            br
            | 					Wave 2: Sell 2x peewee, you usually only need to sell 1, but by selling 2x you will gain extra 23-29g, which allow a lot faster workers on waves 2 and 3, leading to gold advantage later. BUY PYRO.
            br
            br
            img.bbCodeImage.LbImage(src='https://legiontd2.com/community/attachments/pyro-w2-png.1924/', alt='pyro w2.png', style='')
            br
            br
            | 					Wave 5: Usually you want to make a bazooka here, you will NOT need it to hold, unless you get a dino. Positioning is key, if you have followed the pictures exactly, the lowest level bazooka will not join the fight, but when it is a zeus, the range is not an issue later on. IF you are very yolo, and have 100g left over after Wave 4, with 4 workers, you can go 5th worker. HOWEVER, this build will leak wave 6, guaranteed, if you can get 3x bazooka for wave 6, you can minimize leaks and get fed for late game. Please, Do not do this unless you know your team is not in any danger on 6, or even 7.
            br
            br
            img.bbCodeImage.LbImage(src='https://legiontd2.com/community/attachments/pyro-w5-png.1921/', alt='pyro w5.png', style='')
            br
            br
            | 					Wave 6: You have a lot of choices here, getting a zeus ( upgrade the furthest one away from the right side so bazookas die before zeus), is the best, you won't leak to anything below a mimic. if you somehow are very low on gold, triple bazooka can hold, usually does, 4x total bazooka won't leak.
            br
            br
            img.bbCodeImage.LbImage(src='https://legiontd2.com/community/attachments/w6-pyro-start-png.1925/', alt='w6 Pyro start.png', style='')
            br
            br
            | 					Wave 7: You can hold low send with 620-650 value, good time for workers.
            br
            br
            | 					Wave 8: usually good time to have 1 or 2 veterans to tank at this point, 800ish value holds a dino.
            br
            br
            | 					Wave 10: depending on sends, 1250+ is recommended, including 2 veterans, 0-2 peewees, pyro on tank side, on dps side, rest of the value, usually i have either 4x zeus and some zookas, 3x bazookas and a millenium or similar. I rarely have MPS yet. Berserker and millenium are very good here.
            br
            br
            | 					Wave 11: Pushing time, 1350 holds this wave unless a save, or you might leak 1-2, which gives mythium time. If there is a send coming here ( you can count on it if your team has a cross) PYROS destroy 11.
            br
            br
            | 					Wave 12: if you expect a hard time holding here, make a second pyro if you expect a game ending save here, make 3 pyros, if 13 or 14, NO second or third pyro.
            br
            br
            | 					Wave 13: mass zeus if you expect a send here.
            br
            br
            | 					Wave 14: If your team has a lot of zeus, flowers, violets, aquas or firearchers, expect a send here, and MAKE MILLENIUMS. start them at 11. do not mass zeus, you will get destroyed.
            br
            br
            | 					Wave 15: Milleniums baby, also zeus. Also a good idea to make sure your right side has at least 6 units packed at this point, 2,8k value holds most big sends due to the positioning.
            br
            br
            | 					Wave 16: your hardest wave, let your team know they should build much piercing if you expect a send here. Emergency fatalizer after 15 will help you hold. The only wave you actually need proper value to hold after 10 with this build.
            br
            br
            | 					Waves 17-21: Laugh as you can't leak these. Keep calm and make them milleniums/doomsdays.
            br
            br
            b Build 2: Zeus Opening
            br
            br
            | 					The build is a LOT safer than the pyro opening, as you won't leak 1 and feed the enemy. My go-to build when playing against people who know you like the pyro opening.
            br
            br
            b The Pros:
            |  Safer, easier wave 10 hold, safer on wave 6
            br
            b The Cons:
            |  Less Income, not that safe on 4 and 5.
            br
            br
            | 					The Positioning is the same, same mechanics are used for the same reasons. The initial positioning is based on Zeus's max range and the peewee buying good amount of time on the other side.
            br
            br
            | 					Wave 1: pic included, make 1 zeus and peewee, worker from the wave gold. You want to get snail or this build falls behind. a bit.
            br
            br
            img.bbCodeImage.LbImage(src='https://legiontd2.com/community/attachments/zeus-w1-png.1922/', alt='Zeus w1.png', style='')
            br
            br
            | 					Wave 2: Worker when you have gold.
            br
            br
            | 					Wave 3: make a bazooka and peewee and you will hold anything the enemy can send
            br
            br
            | 					Wave 4: Get a second Zeus and you'll hold brutes and shit. If you can't afford a zeus, go for double bazooka!
            br
            br
            | 					Wave 5: Third worker and peewees or bazooka if gold
            br
            br
            | 					Wave 6: 4th worker, keep adding them veterans, bazookas zeus.
            br
            br
            | 					Wave 7: 600-700 value
            br
            br
            | 					Wave 8: 800ish value
            br
            br
            | 					Wave 9: you want to have 900+ here, is dinos and drakes are normal send, go for 1k value.
            br
            br
            | 					Wave 10: to hold this, an APS/MPS is not the worst to tank a bit, millenium a lot better here than on pyro opening. For other waves, follow pyro guidelines. 1200 value minimum.
            br
            br
            | 					The values hold normal income sends, incomer sends and saves are out of the ordinary.
            br
            i
              b
                br
                | 					Build 3: Berserker opening
            br
            br
            | 					The build is a LOT safer than the pyro opening, as you won't leak 1 and feed the enemy. My go-to build when playing against people who know you like the pyro opening.
            br
            br
            b The Pros:
            |  Safer, easiest wave 10 hold
            br
            b The Cons:
            |  Less Income, but the safest out of all the 3 build.
            br
            br
            | 					The Positioning is the same, same mechanics are used for the same reasons. The initial positioning is based on Zeus's max range.
            br
            br
            | 					Wave 1: Make a berserker, like you would a Pyro in the initial guide.
            br
            br
            | 					Wave 2: Worker when you have gold.
            br
            br
            | 					Wave 3: make a bazooka
            br
            br
            | 					Wave 4: Get a Zeus, this will hold all sends with decent targetting.
            br
            br
            | 					Wave 5: Third worker and some peewees
            br
            br
            | 					Wave 6: 4th worker, peewees/bazooka depending on exact amount of gold.
            br
            br
            | 					Wave 7: 600-700 value and 5th worker
            br
            br
            | 					Wave 8: 800ish value Make APS here, also during the round, 6th worker
            br
            br
            | 					Wave 9: you want to have 900+ here, if you are fed and have 6 workers, you can save some gold and go for fatalizer for wave 10. Millenium is also good here.
            br
            br
            | 					Wave 10: to hold this, an APS/MPS is not the worst to tank a bit, millenium a lot better here than on pyro opening. For other waves, follow pyro guidelines. 1200 value usually holds, depends on the sends.
            br
            br
            | 					The values hold normal income sends, incomer sends and saves are out of the ordinary.
            br
            br
            | 					Try to have at least 1 fatalizer by wave 15, i usually go 1 or 2, depending what the enemy does.
            br
            br
            br
            b TLDR:
            |  As massing piercing is popular right now, this build offers a VERY good hold for anti-piercing waves which helps your team. Extremely strong on 11,13,14,15,20. So on the meta waves.
            br
            br
            | 					If you have any questions, hit me up! I will be happy to answer any :) 
            br
            br
            | 					Cornep