extend ../../layout
block content
    link(rel='stylesheet', href='/css/guides.css')
    .guide
        h1#guide_title Builds for new Players: Mech
        #guide_author 
            i by 
                a(href="/profile?player=ACrowley") ACrowley
            a(href="/guides", style="float:right;") Back
        #guide_infobox
            #infobox_author Author: 
                a(href="/profile?player=ACrowley") ACrowley
            #infobox_version Version: v5.07
            #infobox_section Section: Mech Guides
            #infobox_content Content:
                ul
                    - for(var i = 1 ; i < 11; i++){
                        li 
                            a(href="#wave"+i)= "Wave"+ i
                    - }
        p.
        #guide_content
            h3 Content
            | Get past the first boss (wave 10) without leaking and with a decent economy!
            br
            br
            | Here&apos;s a build with Mech. As you practice with it, you will learn you can usually build less defenders than the guide suggests to get better economy, or build something different and develop your own build!
            br
            br
            | I am not claiming this build will make you a champion, but it&apos;s proven to get you started strong
            br
            br
            | General info: Whenever you have extra gold, push workers. You will soon learn what you can get away with. You will also learn to suspect when big sends are coming so you can build a little extra to survive or when to build less for better economy. Also, don&apos;t forget to spend your own mythium to increase your income!
            br
            br
            | Also note, these suggestions are to help you not leak even with sends, so often if you don&apos;t think you&apos;ll have a send, you can often stick with what was recommended the previous round and be OK. As you practice the build, you will figure it out
            br
            br
            br
            b Waves 1-3
            br
            | Placement is important, so I provide screenshots.
            br
            a.externalLink(href='https://steamuserimages-a.akamaihd.net/ugc/1045344685647079280/4AB8BB7939AA341BAE63CA1A1B8DC50EC5948226/' target='_blank' rel='nofollow')
            img.bbCodeImage.LbImage(src='https://steamuserimages-a.akamaihd.net/ugc/1045344685647079280/4AB8BB7939AA341BAE63CA1A1B8DC50EC5948226/' alt='[​IMG]' data-url='https://steamuserimages-a.akamaihd.net/ugc/1045344685647079280/4AB8BB7939AA341BAE63CA1A1B8DC50EC5948226/')
            br
            | Build a bazooka at this location, and upgrade it to a Pyro. Then take a nap...
            br
            | Just kidding! You should always be paying attention and spending mythium. The Pyro will survive all by itself until wave 3 because it has a powerful splash damage attack
            br
            br
            | After it kills Wave 1, buy 2 workers. After that save because you will need 160 gold by the start of Wave 4
            br
            br
            | I will not tell you when to build more workers just because it is very game-dependent. By the start of the boss wave you can regularly have at least 10 with this build, depending on the game. As you learn the build and pay attention to what&apos;s going on in your game, you will learn when you can afford to build workers and when you can&apos;t.
            br
            br
            br
            b Wave 4 &amp; 5(mini-boss)
            br
            | Your Pyro is going to need some help now. One reason is this wave has flying enemies. Pyro&apos;s splash damage is weak vs flying units.
            br
            br
            | Add a Peewee next to your Pyro and upgrade it to a Veteran
            br
            | Also add a Bazooka. I like putting it in the back because we plan on making it a Zeus later!
            br
            a.externalLink(href='https://steamuserimages-a.akamaihd.net/ugc/1045344685647085317/D3F366EA50DFA6D9BE8E1B06E4E443F209D46478/' target='_blank' rel='nofollow')
            img.bbCodeImage.LbImage(src='https://steamuserimages-a.akamaihd.net/ugc/1045344685647085317/D3F366EA50DFA6D9BE8E1B06E4E443F209D46478/' alt='[​IMG]' data-url='https://steamuserimages-a.akamaihd.net/ugc/1045344685647085317/D3F366EA50DFA6D9BE8E1B06E4E443F209D46478/')
            br
            | Veterans and PeeWees have an ability to stimpack/boost and get stronger for one wave if you pay for it. But only use it if you really think you need it. It is not recommended in this guide because you should have enough defence already.
            br
            br
            | You should not leak this round even if they send at you. This can stop a brute
            br
            | Don&apos;t go crazy with workers - by the start of Wave 6, you need 140 gold
            br
            br
            br
            b Wave 6
            br
            | Add a tempest and upgrade Zeus, as shown.
            br
            a.externalLink(href='https://steamuserimages-a.akamaihd.net/ugc/1045344685647096351/56ABBDC392BF95DF8D7A95CF5B6423F7FCB0D2AD/' target='_blank' rel='nofollow')
            img.bbCodeImage.LbImage(src='https://steamuserimages-a.akamaihd.net/ugc/1045344685647096351/56ABBDC392BF95DF8D7A95CF5B6423F7FCB0D2AD/' alt='[​IMG]' data-url='https://steamuserimages-a.akamaihd.net/ugc/1045344685647096351/56ABBDC392BF95DF8D7A95CF5B6423F7FCB0D2AD/')
            br
            | To get Zeus, click on your Bazooka and buy the Zeus upgrade.
            br
            br
            | This should keep you safe even if you get sent 100 mythium worth of mercenaries. This also stops wave 7, but only if you get no sends at all
            br
            br
            | To get Zeus, click on a Bazooka and upgrade it to a Zeus. Zeus has a very long attack range, and it has an energy bar that charges its gun. When the bar is full, it does extra damage. Then you have to wait for the bar to fill up again, but Zeus will keep shooting while you wait
            br
            br
            | The tempest is a flying unit. If you upgrade it to a Leviathan, it has an aura that buffs other flying units that are touching it at the start of the wave
            br
            br
            br
            b Wave 7
            br
            | Upgrade your existing PeeWee to a Veteran, then buy a new PeeWee to split the wave.
            br
            a.externalLink(href='https://steamuserimages-a.akamaihd.net/ugc/1045344685647099893/BCE4DFC027F41A0C4B5A8C3C320A315E07404927/' target='_blank' rel='nofollow')
            img.bbCodeImage.LbImage(src='https://steamuserimages-a.akamaihd.net/ugc/1045344685647099893/BCE4DFC027F41A0C4B5A8C3C320A315E07404927/' alt='[​IMG]' data-url='https://steamuserimages-a.akamaihd.net/ugc/1045344685647099893/BCE4DFC027F41A0C4B5A8C3C320A315E07404927/')
            br
            | This should protect your lane from leaks up to 100 mythium, and survives wave 8 only if there are no sends
            br
            br
            br
            b Wave 8
            br
            | Next, click on that PeeWee and upgrade it into a Veteran.
            br
            a.externalLink(href='https://steamuserimages-a.akamaihd.net/ugc/1045344685647103785/1D973DF2EC4C4F62D6821827D6770162C481C7F6/' target='_blank' rel='nofollow')
            img.bbCodeImage.LbImage(src='https://steamuserimages-a.akamaihd.net/ugc/1045344685647103785/1D973DF2EC4C4F62D6821827D6770162C481C7F6/' alt='[​IMG]' data-url='https://steamuserimages-a.akamaihd.net/ugc/1045344685647103785/1D973DF2EC4C4F62D6821827D6770162C481C7F6/')
            br
            | This survives even if you get 100 mythium of sends. But in case you were wondering, this will NOT survive wave 9
            br
            br
            | Remember: Anytime you are scared of a big send and you have the gold, you can build the next recommended unit(s) early, or anything else you think can help. Also if you are confident you can survive with less, then build workers.
            br
            br
            br
            b Wave 9
            br
            | This wave is strong, but you will be prepared! ... at least if you get a send of 100 mythium or less
            br
            br
            | Let&apos;s add another Zeus!
            br
            a.externalLink(href='https://steamuserimages-a.akamaihd.net/ugc/1045344685647109775/4DBAFB813351C223FB087B3CC6BCBB7511F0C89C/' target='_blank' rel='nofollow')
            img.bbCodeImage.LbImage(src='https://steamuserimages-a.akamaihd.net/ugc/1045344685647109775/4DBAFB813351C223FB087B3CC6BCBB7511F0C89C/' alt='[​IMG]' data-url='https://steamuserimages-a.akamaihd.net/ugc/1045344685647109775/4DBAFB813351C223FB087B3CC6BCBB7511F0C89C/')
            br
            | It is a good idea to SAVE gold because the Boss is next!
            br
            br
            br
            b Wave 10 (Boss)
            br
            | You&apos;ve made it to wave 10, congratulations!
            br
            br
            | If you are lucky enough to get no sends, then all you need to kill the boss is another PeeWee, a Bazooka and a Berzerker. Build like the picture
            br
            a.externalLink(href='https://steamuserimages-a.akamaihd.net/ugc/1045344685647113017/3EE14F45C178AA7C233C319A23DFCD5DC47720B2/' target='_blank' rel='nofollow')
            img.bbCodeImage.LbImage(src='https://steamuserimages-a.akamaihd.net/ugc/1045344685647113017/3EE14F45C178AA7C233C319A23DFCD5DC47720B2/' alt='[​IMG]' data-url='https://steamuserimages-a.akamaihd.net/ugc/1045344685647113017/3EE14F45C178AA7C233C319A23DFCD5DC47720B2/')
            br
            | The Berzerker is a powerful melee unit, its attack gets stronger if it keeps attacking the same unit. This makes it great for fighting big enemies
            br
            br
            | However, it&apos;s likely you will get sends, so you might want to build more defence. Killing the boss pays well.
            br
            | Add whatever you can afford in this picture, these units will help you bring the boss down!
            br
            a.externalLink(href='https://steamuserimages-a.akamaihd.net/ugc/1045344685647115602/2F3DB10F39B76AB9DCB726184BCB3B7A5841675D/' target='_blank' rel='nofollow')
            img.bbCodeImage.LbImage(src='https://steamuserimages-a.akamaihd.net/ugc/1045344685647115602/2F3DB10F39B76AB9DCB726184BCB3B7A5841675D/' alt='[​IMG]' data-url='https://steamuserimages-a.akamaihd.net/ugc/1045344685647115602/2F3DB10F39B76AB9DCB726184BCB3B7A5841675D/')
            br
            | Build the Tier 6 tank instead if you can afford it and are really expecting huge sends.
            br
            br
            | I hope you liked this guide and that it will help you get started learning the game with Mech. Practice with it and make changes as you get better. Have fun!