extend ../../layout
block content
    link(rel='stylesheet', href='/css/guides.css')
    .guide
        #amazon_ad
        h1#guide_title OP Mech, get 2k+ elo easily, 80-90% winrate
        #guide_author 
            i by 
                a(href="/profile?player=Roshkatul") Roshkatul
            a(href="/guides", style="float:right;") Back
        #guide_infobox
            #infobox_author Author: 
                a(href="/profile?player=Roshkatul") Roshkatul
            #infobox_version Version: v2.31
            #infobox_section Section: Mech Guides
            #infobox_content Content:
                ul
                    - for(var i = 1 ; i < 21; i++){
                        li 
                            a(href="#wave"+i)= "Wave"+ i
                    - }
        p.
        #guide_content
            b
              span(style='text-decoration: underline') Notes:
            br
            br
            i
              | - Playing mech is disgusting. This build can literally boost you a few hundred elo above your level. You can reach 2k elo without much game knowledge if you perfect it.
              br
              | - This isn't an original build, many other players are using this to climb the ladder. This is my take on it, and I'm pretty sure it isn't even perfected. There are improvements you can make, but this guide will be enough to get the idea.
              br
              | - Requires a bit of practice, but after like 10 games or so, you shouldn’t lose with this unless you make a crucial mistake in the build, or your teammate throws the game.
              br
              | - Currently at around 90% winrate with it, the latest patch did not influence the winrate.
              br
              | - This build will ruin your opponent’s game, since if played properly, it is unbreakable.
              br
              | - It is disgustingly strong late game
              br
              | - Spent 10 minutes writing all of this.
              br
              span(style='text-decoration: underline')
                | - I am only posting this so more of you play it, so mech gets a higher winrate which will make it so it gets heavily nerfed.
                b  So plz follow my guide ty.
            br
            br
            br
            b#wave1 For wave 1:
            br
            | You start with pyro, going up to 3 workers.
            br
            br
            img(src='/img/guides/roshmech/1.png', alt='Wave 1')
            br
            br
            b#wave2 For wave 2:
            br
            | You hire a 4th worker as soon as possible, don’t add anything
            br
            br
            img(src='/img/guides/roshmech/2.png', alt='Wave 2')
            br
            br
            b#wave3 For wave 3:
            br
            | You hire a 5th worker as soon as possible, and add 1 peewee
            br
            br
            img(src='/img/guides/roshmech/3.png', alt='Wave 3')
            br
            br
            b#wave4 For wave 4:
            br
            | You add a tempest and 1 or 2 more peewees. This will hold anywhere from 80 to 120 mythium without issues.
            br
            br
            img(src='/img/guides/roshmech/4.png', alt='Wave 4')
            br
            br
            b#wave5 For wave 5:
            br
            | You hire a 6th and a 7th worker, and you SAVE UP the rest of your gold. You don’t need to build anything for this wave. If the game is really low on income, skip on hiring the 7th worker.
            br
            br
            img(src='/img/guides/roshmech/5.png', alt='Wave 5')
            br
            br
            b#wave6 For wave 6:
            br
            | Here you have multiple options. If you can, go for a berserker + a bazooka. This will hold up to 120/140 mythium. Going for a berserker + peewee, you’ll be able to hold around 100 mythium.
            br
            br
            img(src='/img/guides/roshmech/6.png', alt='Wave 6')
            br
            br
            img(src='/img/guides/roshmech/6_2.png', alt='Wave 6')
            br
            br
            | The alternative here, is going for 4 bazookas and a few peewees. This is a little bit more consistent, relies less on targeting, and you hold a bit better.
            br
            br
            img(src='/img/guides/roshmech/6_3.png', alt='Wave 6')
            br
            br
            | It’s up to you to follow which route you take.
            br
            br
            b#wave7 For wave 7:
            br
            | If the enemies sent on wave 6, hire your 8th, 9th and 10th worker, and add a bazooka/peewee. This setup will easily hold an 80 mythium resend. If they did not send on wave 6, get a leviathan.
            br
            br
            img(src='/img/guides/roshmech/7.png', alt='Wave 7')
            br
            br
            b#wave8 For wave 8:
            br
            | If the enemies sent on wave 7, push workers with all of your gold. If not, you get the leviathan here, to defend a potential 8 send.
            br
            br
            img(src='/img/guides/roshmech/8.png', alt='Wave 8')
            br
            br
            b#wave9 For wave 9:
            br
            | If you expect your enemies to send on 9, save some gold on 8, and get a millenium on 9.
            br
            br
            img(src='/img/guides/roshmech/9.png', alt='Wave 9')
            br
            br
            | If you expect your enemies to send on 10, you can simply get an APS or 
            b bazookas (you can decide to entirely skip the aps)
            |  and save the rest of your gold, so you can get a fatalizer on 10. Since this can hold small sends on 9 even if heavily undervalued.
            br
            br
            img(src='/img/guides/roshmech/9_2.png', alt='Wave 9')
            br
            br
            b#wave10 For wave 10:
            br
            | If you can’t afford a fatalizer, just get 1-2 extra berserkers, and some bazookas/peewees. You should be fine with this. The only downside is that those 3 berserkers won't be really that useful on 11/12, but you can cover the weakness with pyro/mps.
            br
            br
            img(src='/img/guides/roshmech/10.png', alt='Wave 10')
            br
            br
            img(src='/img/guides/roshmech/10_2.png', alt='Wave 10_2')
            br
            br
            b
              span(style='text-decoration: underline')
                span(style='color: #ff0000')
                  | Anything which goes over these values, can go into workers, if you are not getting heavily saved on!
                  br
                  br
                  | Don't over push! Mech is incredibly strong late game. You just need to hold your lane, and you'll completely destroy your opponents wave 10+
            br
            br
            br
            i
              | As you can see, up to wave 5, the build does not have any variations. After wave 5, it varies depending on when you expect to get sends on. You have options for every wave after 5, you just need to decide. As a recap:
            br
            | If you expect 
            b 6
            | , you can go for a berserker or bazooka spam
            br
            | If you expect 
            b 7
            | , get the leviathan early.
            br
            | If you expect 
            b 8
            | , get the leviathan and add some peewees.
            br
            | If you expect 
            b 9
            | , save some gold on 8 and get a millenium.
            br
            | If you expect 
            b 10,
            |  get an APS or bazookas on 9, save some gold on 9 and get a fatalizer for 10, or spam berserkers.
            br
            br
            br
            | I’m not going to post build orders after wave 10, since it varies from game to game. But this is roughly everything you need, to hold every wave from 11 to 21.
            br
            br
            b#wave11 Wave 11
            | : If you expect a heavy send on 11, add more 
            b pyros
            br
            br
            b#wave12 Wave 12
            | : If you expect a heavy send on 12, 
            b upgrade the APS to an MPS, and get 1 more pyro
            br
            br
            b#wave13 Wave 13
            | : If you expect a heavy send on 13, you have the option to choose between 
            b millenium, doomsday machine or berserker/fatalizer
            |  depending on your current build and your gold income. I’d recommend getting a doomsday for wave 13, as this will have you covered the following waves.
            br
            br
            b#wave14 Wave 14
            | : If you couldn’t get the 
            b doomsday machine 
            | on 13, get it now. You’ll hold any wave 14 send with fairly low value
            br
            br
            b#wave15 Wave 15
            | . If you expect wave 15, add more 
            b milleniums/pyros
            | , or you can potentially go for 
            b zeus
            br
            br
            b#wave16 Wave 16
            | . If you expect wave 16, you need 
            b 1 or 2 fatalizers to tank
            | , 
            b 3/4 pyros under the MPS/APS aura + x1/x2 doomsdays
            | . This setup will completely destroy the wave, if you include the extra damage from the leviathans and aps/mps. You can hold around 600 mythium sends, even if you are undervalued (let's say around 3500 value).
            br
            br
            b#wave17 Wave 17
            | . If you expect wave 17, make sure to have at least
            b  x2 doomsdays
            | . Adding 
            b tempest
            |  here can help you hold, but people rarely send wave 17 against mech, because mech is so strong on 17.
            br
            br
            b#wave18 Wave 18
            | . If you expect heavy 18, 
            b fatalizers
            |  are going to murder this wave.
            br
            br
            b#wave19 Wave 19
            | . Wave 19 is your weakest wave, and probably the only fairly weak wave. I’d recommend going for 
            b leviathans, with boosted peewees
            | . Leviathans actually deal great dps on this wave
            br
            br
            b#wave20 Wave 20
            | . You have 2 of the best tools in-game to hold wave 20. 
            b Fatalizers and Doomsday Machines
            |  destroy this wave
            br
            br
            b#wave21 Wave 21
            | . For wave 21, 
            b Doomsdays and fatalizers 
            | are once again 2 of the greatest fighters you can get. I’d go for mass doomsdays.
            br
            br
            b
              | ALWAYS add peewees with your spare gold if you expect a send. Peewees will be good on pretty much every wave, as a meatshield.
              br
              | ALWAYS make sure to properly use your aps/mps aura. I'd heavily recommend that your doomsday machines get affected by both auras.
            br
            br
            | This is how a fairly balanced setup might look on wave 19, if you plan on holding a send on 19.
            br
            img(src='/img/guides/roshmech/19.png', alt='Wave 19')
            br
            br
            | But of course, every game is different, so you might have games where you end up with 3-4-5 doomsdays, or 3-4 fatalizers, depending on the waves you need to hold
            br
            br
            br
            br
            | K, ty, bye.