extend ../../layout
block content
    link(rel='stylesheet', href='/css/guides.css')
    .guide
        h1#guide_title Builds for new Players: Shrine
        #guide_author 
            i by 
                a(href="/profile?player=ACrowley") ACrowley
            a(href="/guides", style="float:right;") Back
        #guide_infobox
            #infobox_author Author: 
                a(href="/profile?player=ACrowley") ACrowley
            #infobox_version Version: v5.07
            #infobox_section Section: Shrine Guides
            #infobox_content Content:
                ul
                    - for(var i = 1 ; i < 11; i++){
                        li 
                            a(href="#wave"+i)= "Wave "+ i
                    - }
        p.
        #guide_content
            h3 Content
            | Get past the first boss (wave 10) without leaking and with a decent economy!
            br
            br
            | Here&apos;s a build with Shrine. As you practice with it, you will learn you can usually build less defenders than the guide suggests to get better economy, or build something different and develop your own build!
            br
            br
            | I am not claiming this build will make you a champion, but it&apos;s proven to get you started strong
            br
            br
            | General info: Whenever you have extra gold, make workers. You will soon learn what you can get away with. You will also learn to suspect when big sends are coming so you can build a little extra to survive or when to build less for better economy. Also, don&apos;t forget to spend your own mythium to increase your income!
            br
            br
            | Also note, these suggestions are to help you not leak even with sends, so often if you don&apos;t think you&apos;ll have a send, you can often stick with what was recommended the previous round and be OK. As you practice the build, you will figure it out
            br
            br
            br
            b Wave 1 
            br
            br
            | Placement is important, so I provide screenshots.
            br
            br
            a.externalLink(href='https://steamuserimages-a.akamaihd.net/ugc/1018322170298796731/219865185B6ED737345A1FFB116B4336F89518E2/' target='_blank' rel='nofollow')
            img.bbCodeImage.LbImage(src='https://steamuserimages-a.akamaihd.net/ugc/1018322170298796731/219865185B6ED737345A1FFB116B4336F89518E2/' alt='[​IMG]' data-url='https://steamuserimages-a.akamaihd.net/ugc/1018322170298796731/219865185B6ED737345A1FFB116B4336F89518E2/')
            br
            br
            | Start by placing a Yozora 3 spots from the right wall, midway down your lane. This placement is because you want the wave heading to her first, she&apos;s your tank. Also, she has an aura so you want her just close enough to the middle that it will affect all enemies in the lane.
            br
            br
            | Yozora is strong enough to survive the first 2 waves by herself, even if you get sends up to 40 mythium
            br
            br
            | You can immediately build 1 worker and 1 more during the wave.
            br
            br
            | I will not tell you when to build more workers just because it is very game-dependent. By the start of the boss wave you can regularly have at least 10 with this build, always depending on the game. As you learn the build and pay attention to what&apos;s going on in your game, you will learn when you can afford to build workers and when you can&apos;t.
            br
            br
            b Wave 2 
            br
            | Don&apos;t worry, your Yozora will hold this wave (even with mercenaries up to 40 mythium)
            br
            br
            a.externalLink(href='https://steamuserimages-a.akamaihd.net/ugc/1018322170298800225/0391C11951D6FE486CA16AE8EA52568992269E0B/' target='_blank' rel='nofollow')
            img.bbCodeImage.LbImage(src='https://steamuserimages-a.akamaihd.net/ugc/1018322170298800225/0391C11951D6FE486CA16AE8EA52568992269E0B/' alt='[​IMG]' data-url='https://steamuserimages-a.akamaihd.net/ugc/1018322170298800225/0391C11951D6FE486CA16AE8EA52568992269E0B/')
            br
            br
            | You can probably squeeze in another worker here, just make sure you have 80 gold by the start of the next wave.
            br
            br
            | (Add your gold + income to know what you will have at the start of the next round. You increase your income by spending mythium)
            br
            br
            b Wave 3
            br
            | Next, build an infiltrator. This will stop sends up to 60 mythium, including a Brute!
            br
            br
            a.externalLink(href='https://steamuserimages-a.akamaihd.net/ugc/1018322170298804638/0F05BEE6910831F6F84272351177B85EC43EA734/' target='_blank' rel='nofollow')
            img.bbCodeImage.LbImage(src='https://steamuserimages-a.akamaihd.net/ugc/1018322170298804638/0F05BEE6910831F6F84272351177B85EC43EA734/' alt='[​IMG]' data-url='https://steamuserimages-a.akamaihd.net/ugc/1018322170298804638/0F05BEE6910831F6F84272351177B85EC43EA734/')
            br
            br
            | Notice the placement. The infiltrator will pull some enemies away from your tank, but be close enough so those enemies still feel Yozora&apos;s aura
            br
            br
            | Infiltrator has a temporary weapon you can pay for each round you want to use it, but I advise against it. If you build like the guide suggests, you should not need it, unless you are in a tough spot.
            br
            br
            span(style='text-decoration: underline') Warning
            | : careful building extra workers here. Round 5 will be expensive! You will get 96 gold (+ your income) next wave, and you want to make sure you have 200 gold by the start of round 5.
            br
            | If you can&apos;t do the quick math, it&apos;s worth it to wait and make sure you&apos;re safe
            br
            br
            b Wave 4
            br
            | Next you build that cute little cat, Nekomata. Neko has a unique upgrade system, instead of just 1 upgrade, you can feed Neko fish to make it stronger. Wait until the guide recommends it before trying it
            br
            br
            a.externalLink(href='https://steamuserimages-a.akamaihd.net/ugc/1018322170298809775/B6CD912FF879BF07810624236691F97B6FF3448F/' target='_blank' rel='nofollow')
            img.bbCodeImage.LbImage(src='https://steamuserimages-a.akamaihd.net/ugc/1018322170298809775/B6CD912FF879BF07810624236691F97B6FF3448F/' alt='[​IMG]' data-url='https://steamuserimages-a.akamaihd.net/ugc/1018322170298809775/B6CD912FF879BF07810624236691F97B6FF3448F/')
            br
            br
            | During this wave you might feel greedy and want to build extra workers, but WAIT!
            br
            | Next wave is expensive, you want to make sure you will have 200 by the start of wave 5.
            br
            br
            b Wave 5 (mini-boss)
            br
            | Now you upgrade your infiltrator to an Orchid for 200 gold. Orchid is a mean, enemy-cutting machine!
            br
            br
            a.externalLink(href='https://steamuserimages-a.akamaihd.net/ugc/1018322170298838995/C24225E6C4FD4FA5D043AD8FF8655E927161E266/' target='_blank' rel='nofollow')
            img.bbCodeImage.LbImage(src='https://steamuserimages-a.akamaihd.net/ugc/1018322170298838995/C24225E6C4FD4FA5D043AD8FF8655E927161E266/' alt='[​IMG]' data-url='https://steamuserimages-a.akamaihd.net/ugc/1018322170298838995/C24225E6C4FD4FA5D043AD8FF8655E927161E266/')
            br
            br
            | This should actually hold this wave, no matter what they send (100 mythium or less!) AND the next wave. 5 and 6 are both popular waves for sends, but you should be safe following this guide
            br
            br
            | As you learn the build, you will know when you be greedy and when to add extra defence, if you need it
            br
            b
            br
            | Wave 6
            br
            | You don&apos;t need to build anything new, unless your opponent has been saving lots of mythium!
            br
            br
            a.externalLink(href='https://steamuserimages-a.akamaihd.net/ugc/1018322170298850669/8DF662F9BD6E315F1473B763E832A928CEE200EC/' target='_blank' rel='nofollow')
            img.bbCodeImage.LbImage(src='https://steamuserimages-a.akamaihd.net/ugc/1018322170298850669/8DF662F9BD6E315F1473B763E832A928CEE200EC/' alt='[​IMG]' data-url='https://steamuserimages-a.akamaihd.net/ugc/1018322170298850669/8DF662F9BD6E315F1473B763E832A928CEE200EC/')
            br
            br
            span(style='text-decoration: underline') Careful
            |  building workers, at the start of next wave you will need 215 gold
            br
            br
            b Wave 7
            br
            | Time to feed Neko! Pay 90 gold to feed Neko 3 fish. This will make Neko strong enough to handle this wave. Neko has the right kind of armor and attack to shine here
            br
            br
            | Also, spend 125 on an Eternal Wanderer and place it like the screenshot shows. Yes, he will die in that spot, but that&apos;s OK. When Eternal Wanderer dies the first time, he actually comes back stronger!
            br
            br
            a.externalLink(href='https://steamuserimages-a.akamaihd.net/ugc/1018322170298859713/EC97CEBAD7CD8848AA9C39A49A743936E7C6EACB/' target='_blank' rel='nofollow')
            img.bbCodeImage.LbImage(src='https://steamuserimages-a.akamaihd.net/ugc/1018322170298859713/EC97CEBAD7CD8848AA9C39A49A743936E7C6EACB/' alt='[​IMG]' data-url='https://steamuserimages-a.akamaihd.net/ugc/1018322170298859713/EC97CEBAD7CD8848AA9C39A49A743936E7C6EACB/')
            br
            br
            br
            br
            b Wave 8
            br
            | Time to feed Neko again! Pay 90 gold for 3 more fish, making Neko big and strong
            br
            br
            a.externalLink(href='https://steamuserimages-a.akamaihd.net/ugc/1018322170298900397/9D2E96C27C8BE92C17A490EA94FC93EE672E831C/' target='_blank' rel='nofollow')
            img.bbCodeImage.LbImage(src='https://steamuserimages-a.akamaihd.net/ugc/1018322170298900397/9D2E96C27C8BE92C17A490EA94FC93EE672E831C/' alt='[​IMG]' data-url='https://steamuserimages-a.akamaihd.net/ugc/1018322170298900397/9D2E96C27C8BE92C17A490EA94FC93EE672E831C/')
            br
            br
            | This can be a tough wave if they send big, but you should be safe building like this even if you get 100 mythium worth of sends
            br
            br
            b Wave 9
            br
            | Time to build one more Yozora. The auras actually stack and really help on this wave
            br
            br
            a.externalLink(href='https://steamuserimages-a.akamaihd.net/ugc/1018322170298907428/75AAFE7A942155571DBCAC87628E9F1FD9C3557C/' target='_blank' rel='nofollow')
            img.bbCodeImage.LbImage(src='https://steamuserimages-a.akamaihd.net/ugc/1018322170298907428/75AAFE7A942155571DBCAC87628E9F1FD9C3557C/' alt='[​IMG]' data-url='https://steamuserimages-a.akamaihd.net/ugc/1018322170298907428/75AAFE7A942155571DBCAC87628E9F1FD9C3557C/')
            br
            br
            | This usually holds up to 100 mythium worth of sends. Every rare once in awhile it leaks from bad luck.
            br
            br
            span(style='text-decoration: underline') Remember:
            |  Anytime you are scared of a big send and you have the gold, you can build the next recommended unit(s) early, or anything else you think can help. Check damage types for more info. Also if you are confident you can survive with less, then build workers.
            br
            br
            | (FYI - you won&apos;t hold 9 with wave 8&apos;s recommended defence alone, even with no send)
            br
            br
            b Wave 10 (Boss)
            br
            | You made it to wave 10, congratulations!
            br
            br
            | The good news is, if there are no sends, you can get away with just building 1 more Eternal Wanderer, and it will hold the boss except for the rare time it kills your DPS before your tanks
            br
            br
            a.externalLink(href='https://steamuserimages-a.akamaihd.net/ugc/1018322170298917497/62A11AD604684F5CA70571CD4B15AA9D5581DB3F/' target='_blank' rel='nofollow')
            img.bbCodeImage.LbImage(src='https://steamuserimages-a.akamaihd.net/ugc/1018322170298917497/62A11AD604684F5CA70571CD4B15AA9D5581DB3F/' alt='[​IMG]' data-url='https://steamuserimages-a.akamaihd.net/ugc/1018322170298917497/62A11AD604684F5CA70571CD4B15AA9D5581DB3F/')
            br
            | What your lane should look like if you expect no sends
            br
            br
            br
            | BUT... 10 is a very popular wave for sends. So you probably want to build more. Look at the picture below, anything there you can get will be helpful this wave
            br
            br
            a.externalLink(href='https://steamuserimages-a.akamaihd.net/ugc/1018322170298921027/18D888F10AD0013CC6203117F0ABE28610D79C94/' target='_blank' rel='nofollow')
            img.bbCodeImage.LbImage(src='https://steamuserimages-a.akamaihd.net/ugc/1018322170298921027/18D888F10AD0013CC6203117F0ABE28610D79C94/' alt='[​IMG]' data-url='https://steamuserimages-a.akamaihd.net/ugc/1018322170298921027/18D888F10AD0013CC6203117F0ABE28610D79C94/')
            br
            br
            | I hope you liked this guide and that it will help you get started learning the game with Shrine. Practice with it and make changes as you get better. Have fun!
